/*********************************/
/* THEME: viewpoint             */
/*******************************/

.app-theme-viewpoint,
.app-theme-viewpoint .ui-page-theme-a,
.app-theme-viewpoint .app-page-header {
    background-color: #fff;
}

    .app-theme-viewpoint .app-page-header {
        color: #1f1f1f;
    }

    .app-theme-viewpoint .ui-page-theme-a .ui-panel-wrapper,
    .app-theme-viewpoint .ui-panel,
    .app-theme-viewpoint .app-page-header,
    .app-theme-viewpoint .app-status-bar,
    .app-bar-footer.ui-bar-inherit {
        background-color: #e9efbf;
        border-color: #cddb6b;
    }

    .app-theme-viewpoint .app-nav-panel {
        background-color: #e6f0d8;
    }

    .app-theme-viewpoint .app-status-bar {
        color: #000;
    }

    .app-theme-viewpoint .app-form-editing.app-formview .app-static-text div,
    .app-theme-viewpoint .app-page-menu-desc,
    .app-theme-viewpoint .ui-checkbox label {
        text-shadow: none !important;
    }

    /*popup*/
    .app-theme-viewpoint .app-popup-message,
    .app-theme-viewpoint .ui-content.app-map-info {
        background-color: #e9efbf;
        border-color: #cddb6b;
        text-shadow: none;
        color: #000;
    }

        .app-theme-viewpoint .app-popup-message .ui-popup-arrow {
            background-color: #e9efbf;
        }

        .app-theme-viewpoint .app-popup-message div {
            color: #b3b435;
        }
        
    .app-data-input-popup .app-selected .app-caret-r .app-caret {
        border-left-color: #000;
    }

    /* page header */
    .app-theme-viewpoint .app-bar-tools.ui-bar-a,
    .app-theme-viewpoint :not(.app-tabs).ui-header-fixed.ui-header,
    .app-theme-viewpoint .ui-header {
        background-color: #e9efbf;
        border-color: #cddb6b;
        text-shadow: none;
    }

    .app-theme-viewpoint .app-popup-listview .ui-popup-arrow,
    .app-theme-viewpoint .app-popup-listview {
        background-color: #e9efbf !important;
        border-color: #e9efbf !important;
    }

    .app-theme-viewpoint .app-page-header {
        border-color: #acbf2d !important;
    }

    /* list dividers*/
    .app-theme-viewpoint .ui-li-divider {
        background-color: #d0e3b7;
        border-color: #acbf2d;
        color: #555;
        text-shadow: none;
    }

    /* view descriptions*/
    .app-theme-viewpoint .ui-listview .app-list-instruction.ui-li-divider,
    .app-theme-viewpoint .ui-content:not(.app-page-tasks) .app-listview .ui-li-divider:not(.ui-bar-b):not(.ui-bar-inherit),
    .app-theme-viewpoint .app-presenter-instruction,
    .app-theme-viewpoint .app-grid-header .app-frozen-spacer {
        background-color: #f0f5d4 !important;
        border-color: #acbf2d !important;
        color: #43282f;
    }

    body:not(.app-sidebar-undocked).app-theme-viewpoint .ui-header-fixed .ui-title,
    .app-theme-viewpoint .app-divider:not(.ui-collapsible):not(.app-calculated),
    .app-theme-viewpoint .app-echo,
    .app-theme-viewpoint .app-header {
        border-color: #cddb6b !important;
    }

    .app-theme-viewpoint .app-bar-actions {
        background-color: #e6f0d8 !important;
        border-color: #b1d085 !important;
    }

body:not(.app-sidebar-undocked).app-theme-viewpoint .app-sidebar {
    border-color: #b1d085;
}

.app-theme-viewpoint .app-bar-heading {
    background-color: #f0f5d4;
    color: #43282f;
    text-shadow: none;
}

.app-theme-viewpoint .ui-body-a,
.app-theme-viewpoint .app-li-card,
.app-theme-viewpoint .ui-page-theme-a .ui-body-inherit:not(.ui-focus),
.app-theme-viewpoint .app-li-card {
    background-color: #fff;
    border-color: #acbf2d;
    /*color: #fff;*/
    text-shadow: none;
}

.app-theme-viewpoint .ui-panel .ui-body-a {
    border-color: #acbf2d !important;
}

.app-theme-viewpoint .ui-page-theme-a .app-formview .ui-body-inherit:not(.ui-focus) {
    background-color: #fff;
}


/*sidebar customizations*/
.app-theme-viewpoint .ui-body-a.app-sidebar {
    background-color: #e6f0d8;
}

.app-theme-viewpoint.app-sidebar-undocked .app-form-grid .ui-collapsible-set,
.app-theme-viewpoint .ui-listview-inset .ui-li-divider:not(.ui-bar-a) {
    border-color: #acbf2d;
}

.app-theme-viewpoint .ui-li-divider.app-info {
    background-color: #eeecea !important;
}

    .app-theme-viewpoint .ui-li-divider.app-info .appname {
        color: #43282f;
    }

/* fix for form "card" */
.app-theme-viewpoint .ui-page-theme-a .ui-body-inherit.app-li-card {
    border-top-color: #acbf2d;
    border-left-color: #acbf2d;
    border-right-color: #acbf2d;
}

/*.app-theme-viewpoint .ui-listview-inset {
        background-color: #ebf3ff;
    }*/

.app-theme-viewpoint .app-form-editing.app-formview .ui-field-contain {
    border-top-color: transparent;
}


    /*buttons*/
    .app-theme-viewpoint .app-page-header,
    .app-theme-viewpoint .ui-page-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-viewpoint .ui-bar-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-viewpoint .ui-body-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html body.app-theme-viewpoint .ui-group-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html head + body.app-theme-viewpoint .ui-btn-a.ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    .app-theme-viewpoint .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-viewpoint .ui-bar-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-viewpoint .ui-body-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html body.app-theme-viewpoint .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html head + body.app-theme-viewpoint .ui-btn-a.ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    .app-theme-viewpoint .app-form-grid .ui-collapsible-set,
    /* button overrides to remove "hover" on touch screens */
    body.app-theme-viewpoint:not(.app-desktop) li a:hover:not(.app-selected):not(.ui-btn-b),
    body:not(.app-desktop).app-theme-viewpoint .ui-page-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-viewpoint .ui-bar-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-viewpoint .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-viewpoint .ui-group-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html head + body:not(.app-desktop).app-theme-viewpoint .ui-btn-a.ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    .app-theme-viewpoint .app-tabs.ui-header,
    .app-theme-viewpoint #app-welcome .ui-btn:not(:hover),
    .app-theme-viewpoint #app-popup-login .ui-btn:not(:hover),
    .app-theme-viewpoint .ui-datepicker .ui-state-highlight,
    .app-theme-viewpoint .ui-datepicker .ui-datepicker-prev,
    .app-theme-viewpoint .ui-datepicker .ui-datepicker-next,
    .app-theme-viewpoint .ui-listview .app-frozen-spacer,
    .app-theme-viewpoint .app-grid-header,
    .app-theme-viewpoint .app-echo .dv-item, 
    .app-echo .app-grid .ui-last-child,
    .app-theme-viewpoint .app-echo .app-listview,
    .app-theme-viewpoint [data-container],
    .app-theme-viewpoint [data-layout="form"] {
        border-color: #acbf2d;
    }

    .app-theme-viewpoint .app-grid-header .app-field-separator::after,
    .app-theme-viewpoint .app-calculated .app-field-separator::after {
        background-color: #acbf2d;
    }

.app-theme-viewpoint .ui-body-b .ui-btn-a,
.app-theme-viewpoint .ui-body-b .ui-btn-a.ui-btn-active {
    border-color: #acbf2d !important;
}

.app-theme-viewpoint.app-has-popup-open .app-menu-strip .ui-btn:hover {
    background-color: #acbf2d !important;
}

.app-theme-viewpoint .ui-page-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
html .app-theme-viewpoint .ui-bar-a .ui-btn:not(.app-selected):not(.app-lookup),
html .app-theme-viewpoint .ui-body-a .ui-btn:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
html body.app-theme-viewpoint .ui-group-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
html head + body.app-theme-viewpoint .ui-btn-a.ui-btn:not(.app-selected):not(.app-lookup),
.app-theme-viewpoint .ui-panel-page-container-a:not(.app-lookup),
.app-theme-viewpoint .app-tabs.ui-header:not(.app-lookup),
.app-theme-viewpoint .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
html .app-theme-viewpoint .ui-bar-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
html .app-theme-viewpoint .ui-body-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
html body.app-theme-viewpoint .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off),
html head + body.app-theme-viewpoint .ui-btn-a.ui-btn:visited:not(.app-selected),
.app-theme-viewpoint .app-tabs .ui-btn:not(.ui-btn-active):not(.app-selected),
body.app-desktop.app-theme-viewpoint .app-grid.app-listview :not(.app-selected):not(:hover):not(.ui-btn-active).ui-btn,
.app-theme-viewpoint #app-welcome .ui-btn:not(:hover),
.app-theme-viewpoint #app-popup-login .ui-btn:not(:hover),
.app-theme-viewpoint .app-map-info .ui-popup-arrow,
.app-theme-viewpoint .ui-datepicker .ui-datepicker-prev,
.app-theme-viewpoint .ui-datepicker .ui-datepicker-next,
.app-theme-viewpoint .ui-listview .app-frozen-spacer,
.app-theme-viewpoint [data-container="toggle"],
.app-listview.app-grid .ui-btn:not(:hover):not(.app-selected):not(.ui-btn-active):not(.app-checked), 
body:not(.app-desktop) .app-listview.app-grid .ui-btn:hover:not(.app-selected):not(.ui-btn-active):not(.app-checked) {
    /*color: #000;*/
    background-color: #fafbf0;
}

/* top border of Info button in sidebar */
.app-theme-viewpoint .app-sidebar .ui-btn.ui-icon-info {
    border-color: #acbf2d !important;
}

/* navigation panel selected item color fix*/
.app-theme-viewpoint .app-nav-panel .ui-btn-a {
    color: #1f1f1f !important;
}

/* subtext coloring*/
.app-theme-viewpoint .app-field-label-after,
.app-theme-viewpoint .app-field-label-before,
.app-theme-viewpoint .app-field-label,
.app-theme-viewpoint .ui-panel .app-item-desc,
.app-theme-viewpoint .app-item-number,
.app-data-input-popup li:not(.app-selected) span.app-text-normal {
    color: #b3b435 !important;
}

.app-theme-viewpoint .ui-page-theme-b a:not(.ui-btn),
.app-theme-viewpoint .ui-bar-b a:not(.ui-btn),
.app-theme-viewpoint .ui-body-b a:not(.ui-btn),
.app-theme-viewpoint .ui-group-theme-b a:not(.ui-btn) {
    color: #b3b435 !important;
}

    .app-theme-viewpoint .ui-page-theme-b a:not(.ui-btn):hover,
    .app-theme-viewpoint .ui-bar-b a:not(.ui-btn):hover,
    .app-theme-viewpoint .ui-body-b a:not(.ui-btn):hover,
    .app-theme-viewpoint .ui-group-theme-b a:not(.ui-btn):hover,
    .app-theme-viewpoint .ui-page-theme-b a:not(.ui-btn):active,
    .app-theme-viewpoint .ui-bar-b a:not(.ui-btn):active,
    .app-theme-viewpoint .ui-body-b a:not(.ui-btn):active,
    .app-theme-viewpoint .ui-group-theme-b a:not(.ui-btn):active {
        color: #000 !important;
    }

.app-theme-viewpoint .ui-btn p {
    color: #000 !important;
}

.app-theme-viewpoint .ui-li-aside,
.app-theme-viewpoint .ui-btn .ui-li-aside,
.app-theme-viewpoint .app-grid-header,
.app-theme-viewpoint .app-panel-info-view .app-list-instruction,
.app-theme-viewpoint .app-calculated .app-static-text {
    color: #43282f !important;
}

.app-theme-viewpoint .app-filter {
}

.app-theme-viewpoint .app-bar-heading .app-bar-label,
.app-theme-viewpoint .app-static-text div,
.app-theme-viewpoint .app-form-editing.app-formview label {
    color: #96972e;
}

.app-theme-viewpoint .app-wrapper,
.app-theme-viewpoint .app-echo-instruction {
    color: #43282f;
    text-shadow: none;
}

/*selected button*/
.app-theme-viewpoint .app-selected:not(.ui-btn-active),
.app-theme-viewpoint .app-checked:not(.ui-btn-active),
.app-theme-viewpoint .app-selected:hover,
.app-theme-viewpoint .app-selected:visited,
.app-theme-viewpoint .app-selected .app-frozen-spacer,
.app-theme-viewpoint .app-checked .app-frozen-spacer {
    background-color: #eaf0c0 !important;
    border-color: #acbf2d !important;
    color: #000 !important;
}

.app-theme-viewpoint .app-grid-header .app-selected:not(.ui-btn-active) {
    background-color: rgba(0,0,0,0.05) !important;
}

/* hover */
.app-theme-viewpoint .ui-btn-a:hover:not(.ui-btn-active):not(.app-selected),
.app-desktop.app-theme-viewpoint .ui-page-theme-a .ui-btn:hover:not(.app-selected),
html .app-desktop.app-theme-viewpoint .ui-bar-a .ui-btn:hover:not(.app-selected),
html .app-desktop.app-theme-viewpoint .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
html body.app-desktop.app-theme-viewpoint .ui-group-theme-a .ui-btn:hover:not(.app-selected),
html head + body.app-desktop.app-theme-viewpoint .ui-btn-a.ui-btn:hover:not(.app-selected),
.app-theme-viewpoint #app-welcome .ui-btn:hover:not(.ui-btn-active),
.app-theme-viewpoint #app-popup-login .ui-btn:hover:not(.ui-btn-active),
.app-desktop.app-theme-viewpoint .ui-listview a.ui-btn:hover:not(.app-selected) .app-frozen-spacer,
    .app-desktop [data-container="collapsible"] [data-container="toggle"]:hover:not(.ui-btn-active) {
    background-color: #f5f7e1;
    border-color: #acbf2d;
}

.app-theme-viewpoint.app-desktop .app-grid-header span:hover:not(.ui-btn-active):not(.app-icon),
.app-theme-viewpoint.app-desktop .ui-datepicker td a:hover {
    background-color: #f5f7e1;
}

/* selected hover*/
html body.app-desktop.app-theme-viewpoint .ui-btn.app-selected:hover:not(.ui-btn-active),
html body.app-desktop.app-theme-viewpoint .ui-btn.app-checked:hover:not(.ui-btn-active),
.app-theme-viewpoint .app-echo-toolbar .app-selected:not(.ui-btn-active),
.app-theme-viewpoint .app-echo-toolbar .app-selected:not(.ui-btn-active):hover,
.app-theme-viewpoint .app-listview .app-selected:not(.ui-btn-active):hover .app-frozen-spacer,
.app-theme-viewpoint .app-listview .app-checked:not(.ui-btn-active):hover .app-frozen-spacer {
    background-color: #e2e8b4 !important;
    border-color: #acbf2d;
    color: #000 !important;
}

/* click */
.app-theme-viewpoint .app-grid-header .ui-btn-active,
    [data-container="collapsible"] [data-container="toggle"].ui-btn-active {
    background-color: #3c232a !important;
    color: #fff !important;
}

.app-theme-viewpoint .app-listview .ui-btn.app-selected::before,
.app-theme-viewpoint [data-input="checkboxlist"] .app-data-list li.app-selected::after {
    background-color: #3c232a;
}

    .ui-btn.ui-btn-active::after,
    .app-btn-more.ui-btn-active::after {
        color: #3c232a;
    }

.app-theme-viewpoint [data-input] .app-data-list li.app-selected,
.app-theme-viewpoint [data-input] .app-data-list li::before,
.app-theme-viewpoint [data-input] .app-data-list li.app-selected::after {
    border-color: #3c232a;
}

.app-theme-viewpoint .ui-title.ui-btn-active,
html body.app-theme-viewpoint .ui-btn.ui-btn-active,
.app-theme-viewpoint .ui-btn.ui-btn-active .app-frozen-spacer {
    background-color: #3c232a !important;
    border-color: #acbf2d !important;
    color: #fff !important;
}

.app-theme-viewpoint .ui-panel-position-left .ui-btn-active .app-item-desc,
.app-theme-viewpoint .ui-panel-position-right .ui-btn-active .app-item-desc,
.app-theme-viewpoint #app-sidebar .ui-btn-active .app-item-desc,
.app-theme-viewpoint .app-listview-static .ui-btn-active .app-item-desc,
.app-theme-viewpoint .ui-btn-active p,
.app-theme-viewpoint .ui-btn-active p.ui-li-aside,
.app-theme-viewpoint .ui-btn.ui-btn-active span:not(.ui-li-count) {
    color: #fff !important;
}

.app-theme-viewpoint .dv-action-see-all .app-btn-prev.ui-btn-active,
.app-theme-viewpoint .dv-action-see-all .app-btn-next.ui-btn-active {
    background-color: #3C232A;
    color: #fff;
}

.app-theme-viewpoint .app-btn-check:not(.app-btn-check-selected) {
    border-color: #ACBF2D !important;
    background-color: transparent !important;
}

.app-theme-viewpoint .ui-btn.app-selected:not(.ui-btn-active) .app-btn-check:not(.app-btn-check-selected) {
    border-color: #ACBF2D !important;
}

.app-theme-viewpoint .app-grid-header .app-btn-check:not(.app-btn-check-selected) {
    background-color: transparent !important;
    border-color: #ACBF2D !important;
}

.app-theme-viewpoint .app-btn-check.app-btn-check-selected {
    border-color: #3C232A !important;
    background-color: #3C232A !important;
}

    [data-input] .app-control-helper ul li.ui-btn-active,
    [data-input].app-has-focus .app-control-helper ul li.app-focus {
        border-color: #3C232A !important;
        background-color: #3C232A !important;
        color: #fff!important;
    }

.app-theme-viewpoint .app-btn-check .app-icon-themed {
    fill: #fff;
}
/* tabs */

.app-theme-viewpoint .app-tabs .ui-btn {
    border-color: #3c232a !important;
    color: #43282f;
}

    .app-theme-viewpoint .app-tabs .ui-btn.ui-btn-active {
        border-color: #3c232a !important;
        background-color: #3c232a !important;
        color: #fff !important;
    }

/*button on header bar*/

.app-theme-viewpoint.app-desktop .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots):hover,
.app-theme-viewpoint .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots).ui-btn-active,
.app-theme-viewpoint .ui-datepicker .ui-datepicker-prev:hover,
.app-theme-viewpoint .ui-datepicker .ui-datepicker-next:hover {
    border-color: #96a528 !important;
    background-color: #d8e38c !important;
}


.app-theme-viewpoint .ui-btn.ui-btn-icon-notext::after,
.app-theme-viewpoint .ui-btn.ui-btn-icon-left:not(.ui-radio-on)::after,
.app-theme-viewpoint .ui-btn.ui-btn-icon-right:not(.ui-radio-on):not(.app-btn-icon-transparent)::after,
.app-theme-viewpoint .ui-btn.ui-btn-icon-top:not(.ui-radio-on)::after,
.app-theme-viewpoint .ui-btn.ui-btn-icon-bottom:not(.ui-radio-on)::after,
.app-theme-viewpoint .ui-datepicker .ui-datepicker-prev span,
.app-theme-viewpoint .ui-datepicker .ui-datepicker-next span,
.app-theme-viewpoint .ui-checkbox-on:after,
.app-theme-viewpoint .ui-flipswitch-active,
.app-theme-viewpoint .ui-slider-track .ui-btn-active {
    background-color: #96a528;
}

.app-theme-viewpoint .ui-btn .glyphicon {
    color: #96a528;
}


.app-theme-viewpoint .app-icon-themed {
    fill: #96a528;
}

.app-theme-viewpoint .ui-radio-on:after,
.app-theme-viewpoint .ui-slider-track .ui-btn-active,
.app-theme-viewpoint .ui-flipswitch-active {
    border-color: #96a528 !important;
}


.app-theme-viewpoint .ui-btn.ui-btn-active.ui-btn-icon-notext:not(.ui-icon-dots)::after {
    background-color: #3c232a !important;
}

.app-theme-viewpoint .ui-btn.ui-btn-active.ui-btn-icon-left::after,
.app-theme-viewpoint .ui-btn.ui-btn-active.ui-btn-icon-right:not(.app-btn-icon-transparent)::after,
.app-theme-viewpoint .ui-btn.ui-btn-active.ui-btn-icon-top::after,
.app-theme-viewpoint .ui-btn.ui-btn-active.ui-btn-icon-bottom::after {
    background-color: #6a751c !important;
}

/*swatch b*/
.app-theme-viewpoint .ui-btn.ui-btn-b,
.app-theme-viewpoint .ui-btn.ui-btn-b:visited,
body.app-theme-viewpoint:not(.app-desktop) li a.ui-btn-b:not(.ui-btn-active):hover {
    background-color: #d0e3b7;
    border-color: #acbf2d;
    color: #43282f;
}

    /*swatch b hover*/

    .app-theme-viewpoint .ui-btn.ui-btn-b.ui-btn-active,
    .app-theme-viewpoint.app-desktop .ui-btn.ui-btn-b:hover,
    .app-theme-viewpoint .app-popup .ui-content .ui-checkbox .ui-btn:hover,
    .app-theme-viewpoint .app-popup .ui-content .ui-checkbox .ui-btn.ui-focus:hover {
        background-color: #c9dfad;
        border-color: #acbf2d;
        color: #43282f !important;
    }

.app-theme-viewpoint .app-nav-panel .ui-btn.ui-btn-b {
    border-color: #acbf2d !important;
}

.app-theme-viewpoint .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b,
.app-theme-viewpoint.app-desktop .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b:hover,
.app-theme-viewpoint .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b.ui-btn-active {
    border-color: #acbf2d !important;
}

.app-theme-viewpoint .ui-btn.ui-btn-b.ui-btn-active,
.app-theme-viewpoint.app-desktop .ui-btn.ui-btn-b.ui-btn-active:hover {
    color: #fff !important;
}


/*swatch b divider*/
.app-theme-viewpoint .ui-bar-b,
.app-theme-viewpoint .ui-bar-b .ui-bar-inherit,
html .app-theme-viewpoint.ui-body-b .ui-bar-inherit,
html body.app-theme-viewpoint .ui-group-theme-b .ui-bar-inherit {
    border-color: #acbf2d;
    background-color: #cddb6b;
}

/*fix for lookups/inputs*/
.app-theme-viewpoint .ui-btn.app-lookup:not(.ui-btn-active):not(.ui-focus),
.app-theme-viewpoint .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select:not(.ui-focus) .ui-btn:not(.ui-btn-active),
.app-theme-viewpoint .ui-input-text:not(.ui-btn-active),
.app-theme-viewpoint .app-form-editing .ui-input-text:not(.ui-btn-active),
.app-theme-viewpoint .ui-input-search.ui-body-inherit {
    background-color: #fff;
    border-color: #cddb6b;
    text-shadow: none;
    /*color: #fff;*/
}

    .app-theme-viewpoint .ui-btn.app-lookup.ui-focus,
    .app-theme-viewpoint .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select.ui-focus .ui-btn:not(.ui-btn-active),
    .app-theme-viewpoint .ui-input-text.ui-focus,
    .app-theme-viewpoint .app-form-editing .ui-input-text.ui-focus,
    .app-theme-viewpoint .ui-input-search.ui-body-inherit.ui-focus,
    .app-theme-viewpoint .ui-checkbox label.ui-focus,
    .app-theme-viewpoint .ui-datepicker .ui-state-active {
        border-color: #acbf2d !important;
    }

.app-theme-viewpoint .ui-slider {
    border-color: #cddb6b !important;
}

.app-theme-viewpoint .ui-slider-label.ui-btn-active {
    background-color: #3c232a !important;
}

/* background bleed under form in editing mode*/
.app-theme-viewpoint .ui-body-a.ui-collapsible-content {
    background-color: #fff;
}

.app-theme-viewpoint .app-bar-tools .ui-input-search.ui-body-inherit {
    background-color: #fff;
}

.app-theme-viewpoint .ui-btn.app-lookup,
.app-theme-viewpoint .ui-btn.ui-btn-active.app-lookup {
    border-color: #acbf2d;
}

.app-theme-viewpoint .app-lookup-input {
    background-color: transparent;
    /*color: #fff;*/
}

.app-theme-viewpoint .app-grid-header {
    color: #999;
}

@media (min-width: 20em) {

    .app-theme-viewpoint .ui-header.ui-header-fixed.app-bar-tools {
        background-image: url(logo-black.png);
    }
}

.app-theme-viewpoint .app-listview li .app-li-corner {
    color: #fff;
    background-color: #3c232a;
}

.app-theme-viewpoint .dataview-busy-indicator {
    background-color: #3c232a;
}

.app-theme-viewpoint .app-chart .app-chart-inner {
    border-color: #acbf2d;
}
.app-theme-viewpoint .app-calendar-plugin {
    background-color: #fafbf0;
}

.app-theme-viewpoint .app-calendar {
    background-color: #fff;
    color: #000;
}

.app-theme-viewpoint .app-bar-calendar {
    background-color: #e6f0d8;
}

.app-theme-viewpoint .app-calendar-monthview .app-calendar-month table td.app-calendar-weekend {
    background-color: #fafbf0;
}

.app-theme-viewpoint .app-calendar-yearview .app-calendar-month td:not(.app-current-day):not(.ui-btn-active).app-has-data {
    background-color: #e6f0d8;
}

.app-theme-viewpoint .app-calendar-plugin,
.app-theme-viewpoint .app-calendar-color-legend,
.app-theme-viewpoint .app-calendar-monthview .app-calendar-month table,
.app-theme-viewpoint .app-calendar-monthview .app-calendar-month table td,
.app-theme-viewpoint .app-calendar-day > div > div,
.app-theme-viewpoint .app-bar-calendar .app-week-header li.last-day-of-week,
.app-theme-viewpoint .app-calendar-week-grid .app-calendar-day > div {
    border-color: #acbf2d;
}

    .app-theme-viewpoint .app-calendar-plugin span.app-current-day,
    .app-theme-viewpoint .app-calendar-monthview .app-current-day,
    .app-theme-viewpoint .app-calendar-yearview .app-current-day,
    .app-theme-viewpoint .app-week-header .app-current-day,
    .app-theme-viewpoint .app-day-header .visible-day.app-current-day,
    .app-theme-viewpoint .app-has-current-day .current-time-line .dot {
        background-color: #3c232a;
    }

.app-theme-viewpoint .app-has-current-day .current-time-line {
    border-color: #3c232a;
}

.app-calendar-plugin-container .app-time-container .app-selected,
.app-calendar-plugin-container .app-time-header .app-cal-selected,
.app-theme-viewpoint .app-day-header :not(.ui-btn-active).ui-btn .app-current-day,
.app-theme-viewpoint .app-has-current-day .app-current-time,
.app-theme-viewpoint .app-calendar-agenda-list > li.app-has-current-day h2:not(.ui-btn-active) > span,
.app-theme-viewpoint .app-calendar-agenda-list li.app-time-line-container > .app-event-time,
.app-theme-viewpoint .app-calendar-plugin .app-date-selector-container .app-current:not(.ui-btn-active) {
    color: #3c232a;
}

.app-calendar-plugin-container .app-time-selector .app-time-hand,
.app-calendar-plugin-container .app-time-hand > span,
.app-calendar-plugin table tr.ui-btn-active td,
.app-calendar-plugin table tr.ui-btn-active td:hover,
.app-calendar-plugin table td.ui-btn-active,
.app-calendar-plugin table td.ui-btn-active:hover,
.app-calendar-yearview .app-calendar-month td.ui-btn-active {
    background-color: #3c232a !important;
}

.app-theme-viewpoint .app-calendar-month-header,
.app-theme-viewpoint .app-calendar-month-header h1 {
    color: #002570 !important;
}

/***** bootstrap *****/

.app-theme-viewpoint .app-bootstrap a:not(.btn),
.app-theme-viewpoint body:not(.app-desktop) .app-bootstrap a:hover {
    color: #b3b435;
}

.app-theme-viewpoint .dropdown-menu > li > a:not(.ui-btn),
body:not(.app-desktop) .dropdown-menu > li > a:hover {
    color: #777 !important;
}

.app-theme-viewpoint .jumbotron {
    background-color: #e6f0d8;
}

.app-theme-viewpoint .btn-default,
.app-theme-viewpoint .btn-default:focus,
.app-theme-viewpoint .btn-default:visited {
    background-color: #fafbf0;
    border-color: #acbf2d;
    color: #333 !important;
}

.app-theme-viewpoint.app-desktop .btn-default:hover {
    background-color: #f5f7e1;
    border-color: #96a528;
}

.app-theme-viewpoint .app-bootstrap .btn.ui-btn-active,
.app-theme-viewpoint .app-bootstrap .btn.ui-btn-active:hover,
.app-theme-viewpoint .app-bootstrap .btn.ui-btn-active:focus,
.app-theme-viewpoint .app-bootstrap .list-group-item.ui-btn-active,
.app-theme-viewpoint .app-bootstrap .list-group-item.ui-btn-active:hover,
.app-theme-viewpoint .app-bootstrap .list-group-item.ui-btn-active:focus,
.app-theme-viewpoint .app-bootstrap .list-group-item.ui-btn-active .list-group-item-text,
.app-theme-viewpoint .app-bootstrap .list-group-item.ui-btn-active .list-group-item-heading {
    background-color: #3c232a !important;
    border-color: #3c232a !important;
    color: #fff !important;
}

.app-theme-viewpoint .app-bootstrap .nav .ui-btn-active,
.app-theme-viewpoint .app-bootstrap .nav .ui-btn-active:hover,
.app-theme-viewpoint .app-bootstrap .nav .ui-btn-active:focus {
    background-color: #3c232a !important;
    border-color: #acbf2d !important;
    color: #fff !important;
}

.app-theme-viewpoint .table,
.app-theme-viewpoint .table > thead > tr > th,
.app-theme-viewpoint .table > tbody > tr > th,
.app-theme-viewpoint .table > tfoot > tr > th,
.app-theme-viewpoint .table > thead > tr > td,
.app-theme-viewpoint .table > tbody > tr > td,
.app-theme-viewpoint .table > tfoot > tr > td,
.app-theme-viewpoint .list-group-item:not(.active) {
    background-color: #fafbf0;
    border-color: #acbf2d;
}

.app-theme-viewpoint.app-desktop a.list-group-item:hover:not(.active) {
    background-color: #f5f7e1;
}

.app-theme-viewpoint .table > thead > tr > th,
.app-theme-viewpoint .table > tbody > tr > th,
.app-theme-viewpoint .table > tfoot > tr > th {
    color: #333;
    background-color: #f0f5d4;
}

.app-theme-viewpoint .table-striped > tbody > tr:nth-child(2n+1) > td,
.app-theme-viewpoint .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fefff5;
}

.app-theme-viewpoint.app-desktop .navbar-default .navbar-toggle:hover,
.app-theme-viewpoint .app-bootstrap .navbar-default .navbar-toggle:focus,
.app-theme-viewpoint .list-group-item.active:not(.btn),
.app-theme-viewpoint .list-group-item.active:not(.btn):hover,
.app-theme-viewpoint .list-group-item.active:not(.btn):focus,
.app-theme-viewpoint .nav-pills > li.active > a,
.app-theme-viewpoint .nav-pills > li.active > a:hover,
.app-theme-viewpoint .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #3c232a;
    border-color: #3c232a;
}

.app-theme-viewpoint .list-group-item.active .list-group-item-text {
    color: #fff;
}

.app-theme-viewpoint .list-group-item:not(.active):not(.ui-btn-active):hover,
.app-theme-viewpoint .list-group-item:not(.active):not(.ui-btn-active):hover .list-group-item-text {
    color: #000 !important;
}

.app-theme-viewpoint .list-group-item.active > .badge,
.app-theme-viewpoint .nav-pills > .active > a > .badge {
    color: #3c232a !important;
}

.app-theme-viewpoint .navbar-default .navbar-toggle .icon-bar {
    background-color: #96a528;
}

.app-desktop.app-theme-viewpoint .navbar-default .navbar-toggle:hover .icon-bar,
.app-desktop.app-theme-viewpoint .navbar-default .navbar-toggle:active .icon-bar,
.app-desktop.app-theme-viewpoint .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.app-theme-viewpoint .img-thumbnail {
    background-color: #fafbf0;
    border-color: #acbf2d;
}

.app-theme-viewpoint .page-header,
.app-theme-viewpoint .nav-tabs {
    border-color: #acbf2d;
}

    .app-theme-viewpoint .nav-tabs > li.active > a,
    .app-theme-viewpoint .nav-tabs > li.active > a:hover,
    .app-theme-viewpoint .nav-tabs > li.active > a:focus {
        border-top-color: #acbf2d;
        border-left-color: #acbf2d;
        border-right-color: #acbf2d;
    }

.app-theme-viewpoint.app-desktop .nav > li:not(.active) > a:hover,
.app-theme-viewpoint.app-desktop .nav > li:not(.active) > a:focus {
    background-color: rgba(255,255,255,0.2);
    border-color: #96a528;
}

.app-theme-viewpoint.app-desktop .nav-tabs > li:not(.active) > a:hover,
.app-theme-viewpoint .nav-tabs > li:not(.active) > a:focus,
.app-theme-viewpoint.app-desktop .nav-pills > li:not(.active) > a:hover,
.app-theme-viewpoint .nav-pills > li:not(.active) > a:focus {
    background-color: #f5f7e1;
}

.app-theme-viewpoint .navbar-default {
    background-color: #e9efbf;
    border-color: #96a528;
}

    .app-theme-viewpoint .navbar-default .navbar-brand,
    .app-theme-viewpoint .navbar-default .navbar-brand:hover {
        color: #333 !important;
    }

    .app-theme-viewpoint .navbar-default .navbar-nav > li > a {
        color: #777 !important;
    }

.app-theme-viewpoint.app-desktop .navbar-default a.navbar-brand:hover,
.app-theme-viewpoint .app-bootstrap .navbar-default a.navbar-brand.ui-btn-active,
.app-theme-viewpoint.app-desktop .navbar-default .navbar-nav > li > a:hover {
    color: #000 !important;
}

.app-theme-viewpoint .app-bootstrap .navbar-default .navbar-nav > .active > a,
.app-theme-viewpoint .app-bootstrap .navbar-default .navbar-nav > .active > a:hover,
.app-theme-viewpoint .app-bootstrap .navbar-default .navbar-nav > .active > a:focus,
.app-theme-viewpoint .app-bootstrap .navbar-default .navbar-nav > .open > a,
.app-theme-viewpoint .app-bootstrap .navbar-default .navbar-nav > .open > a:hover,
.app-theme-viewpoint .app-bootstrap .navbar-default .navbar-nav > .open > a:focus {
    color: #333 !important;
    background-color: rgba(0,0,0,.05);
}

.app-theme-viewpoint .well {
    background-color: #fafbf0;
    border-color: #acbf2d;
}

@media all and (max-width:767px) {
    .app-sidebar-undocked.app-theme-viewpoint .navbar-nav .open .dropdown-menu {
        background-color: #fafbf0;
    }

    .app-sidebar-undocked.app-theme-viewpoint.app-desktop .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .app-sidebar-undocked.app-theme-viewpoint .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #f5f7e1;
    }
}

.app-theme-viewpoint .dropdown-menu {
    background-color: #fafbf0;
}

    .app-theme-viewpoint .dropdown-menu .divider {
        background-color: #acbf2d;
    }

    .app-theme-viewpoint.app-desktop .dropdown-menu > li > a:hover,
    .app-theme-viewpoint .dropdown-menu > li > a:focus {
        background-color: #f5f7e1;
    }

.app-theme-viewpoint .navbar-default .navbar-collapse,
.app-theme-viewpoint .navbar-default .navbar-form,
.app-theme-viewpoint .navbar-default .navbar-toggle {
    border-color: #96a528;
}

.app-theme-viewpoint .navbar-inverse a:not(.ui-btn) {
    color: #777 !important;
}

.app-theme-viewpoint.app-desktop .navbar-inverse a.navbar-brand:hover,
.app-theme-viewpoint.app-desktop .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff !important;
}

.app-theme-viewpoint .navbar-inverse .navbar-nav > .active > a,
.app-theme-viewpoint .navbar-inverse .navbar-nav > .active > a:hover,
.app-theme-viewpoint .navbar-inverse .navbar-nav > .active > a:focus,
.app-theme-viewpoint .navbar-inverse .navbar-nav > .open > a,
.app-theme-viewpoint .navbar-inverse .navbar-nav > .open > a:hover,
.app-theme-viewpoint .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff !important;
}