@media (min-width: 20em) {
    .app-theme-dark .ui-header.ui-header-fixed.app-bar-tools {
        background-image: url(logo-white.png);
    }
}


.app-theme-dark .ui-btn:not(.ui-btn-active) .glyphicon {
    color: #fff;
}

.app-theme-dark .app-keep-open.ui-icon-check::after,
.app-theme-dark .app-popup-menu .ui-icon-check::after,
.app-theme-dark .ui-icon-check.app-btn-icon-transparent::after,
.app-theme-dark .app-nav-panel .ui-icon-check::after {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22-62%2064%2014%2014%22%20enable-background%3D%22new%20-62%2064%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%22-48%2C67%20-49.8%2C65.2%20-57%2C72.4%20-60.2%2C69.2%20-62%2C71%20-58.7%2C74.2%20-58.8%2C74.2%20-57%2C76%20-57%2C76%20-56.9%2C76%20%0D%0A%09-55.2%2C74.2%20-55.2%2C74.2%20%22/%3E%0D%0A%3C/svg%3E%0D%0A');
}


.app-theme-dark .ui-bar-a .app-menu-strip .ui-btn:not(.ui-btn-active), .app-theme-dark .ui-bar-a .app-user-name {
    color: #777 !important;
}

.app-desktop.app-theme-dark .ui-bar-a .app-menu-strip .ui-btn:hover:not(.ui-btn-active),
.app-theme-dark .ui-bar-a .app-menu-strip .ui-btn.app-selected:not(.ui-btn-active),
.app-desktop .app-control-inner .app-field-object-ref:not(.ui-btn-active):hover {
    color: #fff !important;
}

.app-desktop.app-theme-dark .app-drop-box:focus {
    background-color: #333;
}

body.app-theme-dark.app-desktop .app-panel-filter ul .app-condition.app-condition-history:not(:hover):not(.app-selected),
body.app-theme-dark:not(.app-desktop) .app-panel-filter ul .app-condition.app-condition-history:not(.app-selected) {
    color: #999;
}

.app-theme-dark .app-panel-filter .app-header {
    border-top-color: #111;
}

.app-theme-dark .app-bar-heading .app-bar-text .app-group {
    color: #fff;
}

.app-theme-dark .ui-listview .app-group {
    border-top-width: 1px;
    border-top-color: #333 !important;
    background-color: #111 !important;
    color: #fff;
}

.app-theme-dark .ui-listview.app-cardview .app-group {
    border-bottom-color: #333 !important;
}

.app-theme-dark .app-bar-heading .app-grid-header + .app-group, .app-theme-dark .app-bar-heading .app-view-instruction:not(.app-hidden) + .app-group {
    border-top: solid 1px #111;
}

.app-theme-dark .app-echo-grid-hscrollbar {
    border-bottom-color: #333 !important;
}

.app-theme-dark .app-hscrollbar-inner {
    background-color: transparent;
}


.app-theme-dark .app-grid-header .app-frozen-spacer,
.app-theme-dark .app-frozen-spacer {
    border-color: #444;
    box-shadow: 0 0 12px rgba(0,0,0,0.8);
}

.app-theme-dark .app-frozen-spacer {
    background-color: #222;
}

.app-theme-dark .app-grid-header .app-frozen-spacer {
    background-color: #333;
}

.app-theme-dark .app-bar-footer.ui-bar-inherit {
    border-color: #111;
    box-shadow: 4px -1px 6px 0 rgba(0,0,0,0.8);
}

.app-theme-dark .app-bar-aggregates .app-frozen-spacer {
    background-color: #222 !important;
}

.app-theme-dark .app-grid-header .app-field-separator:after,
.app-theme-dark .app-calculated .app-field-separator:after {
    background-color: #444;
}

.app-theme-dark .app-grid-header {
    border-color: #444;
}

.app-theme-dark .app-echo .app-calculated .app-field-separator:after {
    background-color: #333;
}

.app-theme-dark .app-echo-grid-hscrollbar {
    background-color: transparent !important;
}

.app-theme-dark .app-bar-aggregates .ui-listview > li > .ui-btn {
    background-color: #222 !important;
}

.app-theme-dark .app-echo .app-list-instruction,
.app-theme-dark .app-echo .dv-item:not(.app-hidden),
.app-theme-dark .app-echo .app-echo-grid-hscrollbar,
.app-theme-dark .app-echo .app-grid .ui-last-child {
    border-left-color: #333 !important;
    border-right-color: #333 !important;
}

.app-theme-dark .app-echo-inner > .app-onecolumnview,
.app-theme-dark .app-echo-inner > .app-cardcolumn {
    border-top-color: #333 !important;
}

body {
    background-color: #1f1f1f !important;
    scrollbar-base-color: #333;
    scrollbar-track-color: #111;
    scrollbar-arrow-color: #fff;
}


.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper,
.ui-panel,
.app-page-header,
.app-status-bar,
.app-bar-footer.ui-bar-inherit {
    background-color: #1f1f1f;
    border-color: #111;
}

.app-theme-dark .app-page-header,
.app-theme-dark .app-echo-toolbar h3,
.app-theme-dark .app-bar-actions h3,
.app-theme-dark .app-echo-toolbar .app-echo-see-all,
.app-theme-dark .ui-collapsible-heading-toggle.ui-btn {
    color: #bbb !important;
}

    .app-theme-dark .app-bar-actions h3.app-selected {
        background-color: #222 !important;
    }

.app-theme-dark .app-icon-themed {
    fill: #bbb;
}

.app-theme-dark .app-status-bar {
    color: #000;
}

.app-theme-dark .app-form-editing.app-formview .app-static-text div,
.app-theme-dark .app-page-menu-desc,
.app-theme-dark .ui-checkbox label {
    text-shadow: none !important;
    color: #fff;
}

/*popup*/
.app-theme-dark .app-popup-message {
    background-color: #000;
    border-color: #1f1f1f;
    text-shadow: none;
    color: #fff;
}

    .app-theme-dark .app-popup-message .ui-popup-arrow {
        background-color: #000;
    }

    .app-theme-dark .app-popup-message div {
        color: #1f1f1f;
    }

/* dividers and text list items*/
.app-theme-dark .ui-listview .ui-li-divider:not(.ui-bar-b),
.app-theme-dark .ui-body-a,
.app-theme-dark .ui-page-theme-a .ui-body-inherit:not(.ui-focus),
.app-theme-dark .ui-bar-a,
.app-theme-dark .ui-listview > .app-list-instruction.ui-li-divider,
.app-theme-dark :not(.app-tabs).ui-header-fixed.ui-header,
.app-theme-dark .ui-footer-fixed.ui-footer,
.app-theme-dark .app-presenter-instruction {
    background-color: #333;
    border-color: #111;
    color: #fff;
    text-shadow: none;
}

.app-theme-dark .ui-listview > .app-list-instruction.ui-li-divider,
.app-theme-dark .app-echo-instruction,
.app-theme-dark .app-presenter-instruction {
    color: #999;
}

.app-theme-dark.app-sidebar-undocked .app-form-grid .ui-collapsible-set {
    border-left-color: #333;
    border-right-color: #333;
}

.app-theme-dark .ui-li-divider.app-info, .app-theme-dark .ui-li-divider.app-copy {
    background-color: #1f1f1f !important;
}

.app-theme-dark .ui-page-theme-a .ui-body-inherit.app-li-card, 
.app-theme-dark .ui-listview > .ui-li-divider.app-list-instruction.ui-first-child[role="heading"]:not(.ui-bar-b) {
    border-top-color: #333;
    border-left-color: #333;
    border-right-color: #333;
}

.app-theme-dark .ui-listview-inset .ui-li-divider:not(.ui-bar-a) {
    border-left-color: #333;
    border-right-color: #333;
}

.app-theme-dark .ui-listview-inset {
    background-color: #333;
}

.app-theme-dark .app-form-editing.app-formview .ui-field-contain {
    border-top-color: transparent;
}

body:not(.app-sidebar-undocked).app-theme-dark .ui-header-fixed .ui-title,
body:not(.app-sidebar-undocked).app-theme-dark .app-sidebar,
.app-theme-dark .app-divider,
.app-theme-dark .app-echo {
    border-color: #111;
}

.app-theme-dark .app-bar-heading {
    background-color: #333;
    color: #999;
    text-shadow: none;
}

    .app-theme-dark .app-bar-heading .app-bar-label,
    .app-theme-dark .app-static-text div,
    .app-theme-dark .app-form-editing.app-formview label, .app-theme-dark .app-wrapper {
        color: #bbb;
        text-shadow: none;
    }


/*buttons*/
.app-theme-dark .app-page-header,
.app-theme-dark .ui-page-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b):not(.app-btn-more),
html .app-theme-dark .ui-bar-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b):not(.app-btn-more),
html .app-theme-dark .ui-body-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b):not(.app-btn-more),
html body.app-theme-dark .ui-group-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b):not(.app-btn-more),
html head + body.app-theme-dark .ui-btn-a.ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b):not(.app-btn-more),
.app-theme-dark .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b):not(.app-btn-more),
html .app-theme-dark .ui-bar-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b):not(.app-btn-more),
html .app-theme-dark .ui-body-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b):not(.app-btn-more),
html body.app-theme-dark .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b):not(.app-btn-more),
html head + body.app-theme-dark .ui-btn-a.ui-btn:visited:not(.app-selected):not(.ui-btn-b):not(.app-btn-more),
.app-theme-dark .app-form-grid .ui-collapsible-set,
/* button overrides to remove "hover" on touch screens */
body.app-theme-dark:not(.app-desktop) li a:hover:not(.app-selected):not(.ui-btn-b),
body:not(.app-desktop).app-theme-dark .ui-page-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
html body:not(.app-desktop).app-theme-dark .ui-bar-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
html body:not(.app-desktop).app-theme-dark .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-radio-on):not(.ui-radio-off):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
html body:not(.app-desktop).app-theme-dark .ui-group-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
html head + body:not(.app-desktop).app-theme-dark .ui-btn-a.ui-btn:hover:not(.app-selected):not(.ui-btn-b) {
    border-color: #333;
}

.app-theme-dark .app-bar-actions .ui-btn:not(.ui-btn-active) {
    background-color: #222 !important;
    border-color: #1c1c1c !important;
}

    .app-theme-dark .app-bar-actions .ui-btn:not(.ui-btn-active):hover {
        background-color: #1f1f1f !important;
        border-color: #111 !important;
    }

.app-theme-dark .ui-body-b .ui-btn-a,
.app-theme-dark .ui-body-b .ui-btn.ui-btn-active {
    border-color: #1f1f1f !important;
}

.app-theme-dark .app-bar-footer.ui-footer-fixed .ui-btn,
.app-theme-dark .ui-body-a .ui-btn-b,
.app-theme-dark.app-desktop .ui-body-a .ui-btn-b:hover,
.app-theme-dark .ui-body-a .ui-btn-b.ui-btn-active {
    border-color: #111 !important;
}

.app-theme-dark .ui-page-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
html .app-theme-dark .ui-bar-a .ui-btn:not(.app-selected):not(.app-lookup),
html .app-theme-dark .ui-body-a .ui-btn:not(.app-selected):not(.app-lookup):not(.ui-radio-on):not(.ui-radio-off):not(.ui-checkbox-on):not(.ui-checkbox-off),
html body.app-theme-dark .ui-group-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
html head + body.app-theme-dark .ui-btn-a.ui-btn:not(.app-selected):not(.app-lookup),
.app-theme-dark .ui-panel-page-container-a:not(.app-lookup),
.app-theme-dark .app-tabs.ui-header:not(.app-lookup),
.app-theme-dark .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
html .app-theme-dark .ui-bar-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
html .app-theme-dark .ui-body-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
html body.app-theme-dark .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup):not(.ui-radio-on):not(.ui-radio-off):not(.ui-checkbox-on):not(.ui-checkbox-off),
html head + body.app-theme-dark .ui-btn-a.ui-btn:visited:not(.app-selected),
.app-theme-dark .app-tabs .ui-btn:not(.ui-btn-active):not(.app-selected),
body.app-desktop.app-theme-dark .app-grid.app-listview :not(.app-selected):not(:hover):not(.ui-btn-active).ui-btn,
.app-theme-dark .ui-slider-handle,
.app-listview.app-grid .ui-btn:not(:hover):not(.app-selected):not(.ui-btn-active):not(.app-checked),
body:not(.app-desktop) .app-listview.app-grid .ui-btn:hover:not(.app-selected):not(.ui-btn-active):not(.app-checked) {
    color: #fff;
    background-color: #222;
}

/* top border of Info button in sidebar */
.app-theme-dark .app-sidebar .ui-btn.ui-icon-info {
    border-color: #1f1f1f !important;
}

.ui-btn.app-checked,
.ui-btn.app-checked .app-frozen-spacer,
.ui-btn.app-checked:hover,
.ui-btn.app-checked:hover .app-frozen-spacer,
.ui-btn.app-checked:visited,
.ui-btn.app-checked:visited .app-frozen-spacer,
.ui-btn.app-selected,
.ui-btn.app-selected .app-frozen-spacer,
.ui-btn.app-selected:hover,
.ui-btn.app-selected:hover .app-frozen-spacer,
.ui-btn.app-selected:visited,
.ui-btn.app-selected:visited .app-frozen-spacer {
    background-color: #0E2941 !important;
    border-color: #333 !important;
    color: #fff !important;
}

.app-theme-dark .app-grid-header span.app-selected:not(.ui-btn-active) {
    background-color: rgba(255,255,255,0.05) !important;
}

.app-desktop.app-theme-dark .ui-btn.app-checked:not(.ui-btn-active):hover,
.app-desktop.app-theme-dark .ui-btn.app-checked:not(.ui-btn-active):hover .app-frozen-spacer,
.app-desktop.app-theme-dark .ui-btn.app-selected:not(.ui-btn-active):hover,
.app-desktop.app-theme-dark .ui-btn.app-selected:not(.ui-btn-active):hover .app-frozen-spacer,
.app-desktop.app-theme-dark .app-echo-toolbar .app-selected:not(.ui-btn-active),
.app-desktop.app-theme-dark .app-echo-toolbar .app-selected:not(.ui-btn-active):hover,
.app-desktop.app-theme-dark .app-bar-controls .app-selected:not(.ui-btn-active),
.app-desktop.app-theme-dark .app-bar-strip .app-selected:not(.ui-btn-active),
.app-desktop.app-theme-dark .app-bar-controls .app-selected:not(.ui-btn-active):hover,
.app-desktop.app-theme-dark .app-bar-strip .app-selected:not(.ui-btn-active):hover {
    background-color: #10304C !important;
    border-color: #333 !important;
    color: #fff !important;
}


/*special buttons*/
.app-theme-dark #app-welcome .ui-btn:not(:hover) {
    background-color: #222;
    border-color: #333;
    color: #fff;
}

.app-theme-dark .ui-btn.ui-checkbox-off:after, .app-theme-dark .ui-btn.ui-radio-off:after {
    background-color: #000;
}

.app-theme-dark #app-welcome .ui-btn:hover,
.app-theme-dark #app-popup-login .ui-btn:hover {
    background-color: #1f1f1f;
    border-color: #333;
}

.app-theme-dark #app-welcome .ui-btn.app-selected,
.app-theme-dark #app-welcome .ui-btn.app-selected:hover,
.app-theme-dark #app-welcome .ui-btn.app-selected:visited {
    background-color: #333 !important;
    border-color: #1f1f1f !important;
    color: #fff !important;
}

.app-theme-dark .app-popup.ui-body-a .app-popup-buttons .ui-btn:not(.ui-btn-active) {
    border-color: #1f1f1f !important;
}

/* hover */
body.app-desktop.app-theme-dark .ui-page-theme-a .ui-btn:hover:not(.app-selected),
body.app-desktop.app-theme-dark .ui-page-theme-a .ui-btn:hover:not(.app-selected) .app-frozen-spacer,
html .app-desktop.app-theme-dark .ui-bar-a .ui-btn:hover:not(.app-selected),
html .app-desktop.app-theme-dark .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-radio-on):not(.ui-radio-off):not(.ui-checkbox-on):not(.ui-checkbox-off),
html body.app-desktop.app-theme-dark .ui-group-theme-a .ui-btn:hover:not(.app-selected),
html head + body.app-desktop.app-theme-dark .ui-btn-a.ui-btn:hover:not(.app-selected) {
    background-color: #1c1c1c;
    border-color: #333;
}

.app-theme-dark.app-desktop .app-grid-header span:hover:not(.ui-btn-active):not(.app-icon) {
    background-color: #1f1f1f;
}

.app-desktop [data-container="collapsible"] [data-container="toggle"]:hover:not(.ui-btn-active) {
    background-color: #393939;
}

.app-theme-dark .app-bar-tools .ui-btn.ui-btn-icon-notext {
    border-color: #1f1f1f !important;
}

    .app-theme-dark.app-desktop .app-bar-tools .ui-btn.ui-btn-icon-notext:hover,
    .app-theme-dark .app-bar-tools .ui-btn.ui-btn-icon-notext.ui-btn-active {
        border-color: #000 !important;
    }

.app-theme-dark.app-desktop .app-echo-toolbar .ui-btn.ui-btn-icon-notext:not(.app-btn-more):hover,
.app-theme-dark .app-echo-toolbar .ui-btn.ui-btn-icon-notext.ui-btn-active:not(.app-btn-more),
.app-theme-dark.app-desktop .app-bar-actions .ui-btn.ui-btn-icon-notext:hover,
.app-theme-dark .app-bar-actions .ui-btn.ui-btn-icon-notext.ui-btn-active {
    border-color: #3c3c3c !important;
}

/* click */
.app-theme-dark .ui-btn.ui-btn-active,
.app-theme-dark .ui-btn.ui-btn-active .app-frozen-spacer,
[data-container="collapsible"] [data-container="toggle"].ui-btn-active {
    background-color: #38c !important;
    border-color: #333;
    color: #fff !important;
}

/*blue tab */
.app-theme-dark .ui-header .ui-navbar .ui-btn {
    border-color: #38c !important;
}

/*btn no icon highlight*/
.app-desktop.app-theme-dark .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots):hover,
.app-theme-dark .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots).ui-btn-active {
    border-color: #1f1f1f !important;
}

/*fix for lookups/inputs*/
.app-theme-dark .ui-btn.app-lookup:not(.ui-btn-active),
.app-theme-dark .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select:not(.ui-focus) .ui-btn:not(.ui-btn-active),
.app-theme-dark .ui-input-text:not(.ui-btn-active),
.app-theme-dark .app-form-editing .ui-input-text:not(.ui-btn-active),
.app-theme-dark .ui-input-search.ui-body-inherit {
    background-color: transparent;
    border-color: #1f1f1f;
    text-shadow: none;
    color: #fff;
}

.app-theme-dark .app-input-text {
    color: #fff;
}

    .app-theme-dark .app-input-text:-ms-input-placeholder {
        color: #777;
    }

.app-theme-dark .app-bar-tools .ui-input-search.ui-body-inherit {
    background-color: #333;
}


.app-theme-dark .app-popup .ui-content .ui-checkbox .ui-btn:not(.ui-btn-active) {
    background-color: #333;
    border-color: #1f1f1f !important;
    text-shadow: none;
    color: #fff;
}

.app-theme-dark .ui-slider {
    border-color: #1f1f1f !important;
}

.app-theme-dark .ui-slider-label {
    color: #fff !important;
}

.app-theme-dark .ui-btn.app-lookup,
.app-theme-dark .ui-btn.ui-btn-active.app-lookup {
    border-color: #1f1f1f;
}

/*fix for tabs*/
.app-theme-dark .app-tabs.ui-header {
    border-color: #333;
}

.app-theme-dark .app-tabs .ui-btn.ui-btn-active,
.app-theme-dark .app-tabs .ui-btn.ui-btn-active:hover,
.app-theme-dark .app-tabs :not(.ui-btn-active).ui-btn,
.app-theme-dark .app-tabs .ui-btn.ui-btn-active,
.app-desktop.app-theme-dark .app-tabs .ui-btn.ui-btn-active:hover {
    background-color: #38c;
}

.app-theme-dark .app-lookup-input {
    background-color: transparent;
    color: #fff;
}

.app-theme-dark .app-grid-header, .app-theme-dark .app-panel-info-view .ui-listview > .app-list-instruction.ui-li-divider,
.app-theme-dark .app-calculated .app-static-text {
    color: #999;
}

.app-theme-dark .app-menu-strip ul li a.ui-btn.app-selected:not(.ui-btn-active),
.app-theme-dark.app-has-popup-open .app-menu-strip ul li a.ui-btn.app-selected:hover:not(.ui-btn-active) {
    background-color: rgba(0,0,0,.2) !important;
}

.app-theme-dark.app-desktop:not(.app-has-popup-open) .app-menu-strip ul li a.ui-btn:hover:not(.ui-btn-active) {
    background-color: rgba(255,255,255,.05) !important;
}

/* mobile hover in "home" menu with swatch "b" */
body.app-theme-dark:not(.app-desktop) li a.ui-btn-b:not(.ui-btn-active):hover {
    background-color: #333 !important;
}

.app-theme-dark .ui-input-search::after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5%20s2.463%2C5.5%2C5.5%2C5.5c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%2F%3E%3C%2Fsvg%3E");
}

/* white drop arrow*/
.app-theme-dark .app-echo-controls a.ui-btn.app-has-children:after,
.app-theme-dark .app-bar-controls a.ui-btn.app-has-children:after,
.app-theme-dark .app-bar-strip a.ui-btn.app-has-children:after,
.app-desktop.app-theme-dark a.ui-btn.app-has-children:hover::after,
.app-theme-dark a.ui-btn.app-has-children.app-selected::after,
.app-theme-dark .app-has-droparrow::after {
    border-top-color: #fff;
}

.app-theme-dark .app-bar-actions > h3::after {
    border-top-color: #bbb;
}

.app-theme-dark .app-btn-float {
    border-width: 1px;
    border-color: #1f1f1f;
}

.app-theme-dark .app-btn-check:not(.app-btn-check-selected) {
    border-color: #333 !important;
    background-color: #333 !important;
}

.app-theme-dark .ui-btn.app-selected:not(.ui-btn-active) .app-btn-check:not(.app-btn-check-selected) {
    border-color: #1f1f1f !important;
}

.app-theme-dark .app-grid-header .app-btn-check:not(.app-btn-check-selected) {
    background-color: transparent !important;
    border-color: #1c1c1c !important;
}

.app-theme-dark .app-btn-check .app-icon-themed {
    fill: #fff;
}

.app-theme-dark .app-echo .dv-action-see-all span {
    border-color: #333;
}

.app-theme-dark .app-bar-actions .app-group-item:not(.app-group-first) {
    border-left-color: #000 !important;
}


.app-theme-dark [data-container="row"],
.app-theme-dark [data-layout='form'],
.app-theme-dark [data-container="collapsible"] {
    border-color: #333;
    color: #fff;
}


.app-list-instruction + [data-layout="form"] {
    /*border-top: solid #111 1px;*/
    margin-top: 0 !important;
}

.app-theme-dark [data-container] {
    color: #fff;
}

.app-theme-dark [data-state='write'] [data-control],
.app-theme-dark [data-control='field'] {
    color: #999;
}

.app-theme-dark [data-state='write'] [data-control='field'] {
    color: #fff;
}

.app-theme-dark [data-state="write"] [data-control].app-null {
    color: #808080;
}

.app-theme-dark [data-state='write'] [data-input='none'] {
    color: #999;
}

.app-theme-dark [data-container="toggle"] {
    background-color: #333;
}

.app-theme-dark .app-tooltip {
    background-color: #999;
    color: #000;
    box-shadow: 0 0 5px #333;
}

.app-theme-dark .app-data-input-container .app-data-input {
    color: #fff;
}

.app-theme-dark [data-input="checkbox"] .app-checkbox-button {
    box-shadow: none !important;
}

.app-theme-dark #app-bar-tools .ui-btn.ui-btn-icon-notext.ui-icon-bars:not(.ui-icon-refresh):not(.ui-btn-active):not(:hover):after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M1%2C4h12c0.553%2C0%2C1-0.447%2C1-1s-0.447-1-1-1H1C0.447%2C2%2C0%2C2.447%2C0%2C3S0.447%2C4%2C1%2C4z%20M13%2C6H1%20C0.447%2C6%2C0%2C6.447%2C0%2C7c0%2C0.553%2C0.447%2C1%2C1%2C1h12c0.553%2C0%2C1-0.447%2C1-1C14%2C6.447%2C13.553%2C6%2C13%2C6z%20M13%2C10H1c-0.553%2C0-1%2C0.447-1%2C1%20s0.447%2C1%2C1%2C1h12c0.553%2C0%2C1-0.447%2C1-1S13.553%2C10%2C13%2C10z%22%2F%3E%3C%2Fsvg%3E");
}

.app-theme-dark .app-wrapper {
    background-color: #1f1f1f;
}

.app-theme-dark .app-caret,
.app-theme-dark .app-echo-toolbar h3::after {
    border-color: transparent;
    border-top-color: #777;
}

.app-theme-dark .app-caret-r .app-caret {
    border-color: transparent;
    border-left-color: #777;
}

.app-theme-dark .app-caret-u .app-caret {
    border-color: transparent;
    border-bottom-color: #777;
}

.app-desktop.app-theme-dark .app-data-input-button:hover .app-caret {
    border-color: transparent;
    border-top-color: #fff;
}

.app-desktop.app-theme-dark .app-data-input-button.app-caret-r:hover .app-caret {
    border-color: transparent;
    border-left-color: #fff;
}

.app-desktop.app-theme-dark .app-data-input-button.app-caret-u:hover .app-caret {
    border-color: transparent;
    border-bottom-color: #fff;
}

.app-theme-dark .app-data-input-popup {
    background-color: #333;
    border-color: #111 !important;
}

.app-theme-dark.app-desktop .app-data-input-popup ul li:not(.app-selected):not(.app-instruction):hover {
    background-color: #000;
}

.app-theme-dark .app-echo:not(.app-echo-embedded) .app-listview {
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.8);
}

.app-theme-dark .app-bar-heading {
    box-shadow: 0 0 12px 0 rgba(0,0,0,.9);
}


[data-input="radiobuttonlist"] .app-data-list li:not(.app-selected)::after,
[data-input="checkboxlist"] .app-data-list li:not(.app-selected)::after {
    border-color: #ccc;
}


.app-theme-dark .app-inner-shadow-left-right {
    box-shadow: inset 10px 0px 10px -10px #000, inset -10px 0px 10px -10px #000;
    border-color: #000;
}

.app-theme-dark .app-inner-shadow-right {
    box-shadow: inset -10px 0px 10px -10px #000;
    border-right: solid 1px #000;
}

.app-theme-dark .app-inner-shadow-left {
    box-shadow: inset 10px 0px 10px -10px #000;
    border-right: solid 1px transparent;
}


.app-desktop.app-theme-dark .app-checkbox-container:focus .app-checkbox-button {
    background-color: #ccc;
}

.app-theme-dark .app-chart .app-chart-inner,
.app-theme-dark .app-chart-header,
.app-theme-dark .app-chart .app-chart-headerbar,
.app-theme-dark .app-echo .app-chart-list,
.app-theme-dark .app-chart .app-chart-data {
    color: #fff;
    border-color: #333;
    background-color: #1f1f1f;
}

    .app-theme-dark .app-chart .app-chart-data table th,
    .app-theme-dark .app-chart .app-chart-data table td {
        color: #ccc;
        border-color: #333;
    }

.app-theme-dark .app-calendar-year:not(.data-loaded) h1 {
    color: #777;
}

.app-theme-dark .app-calendar-year h1 {
    border-color: #333;
}

.app-theme-dark .app-calendar-yearview .app-calendar-month td.app-has-data:not(.app-current-day):not(.ui-btn-active) {
    background-color: #333;
}

.app-theme-dark .app-calendar .app-calendar-month-header {
    color: #fff;
}

.app-theme-dark .app-calendar-monthview .app-calendar-month:not(.data-loaded) .app-calendar-month-header {
    color: #555;
}

.app-theme-dark .app-calendar-monthview .app-calendar-month table {
    background-color: #333;
}

    .app-theme-dark .app-calendar-monthview .app-calendar-month table td li.app-calendar-month-more:not(.ui-btn-active) {
        color: #999;
    }

    .app-theme-dark .app-calendar-monthview .app-calendar-month table td {
        border-color: #111;
    }

        .app-theme-dark .app-calendar-monthview .app-calendar-month table td.app-calendar-weekend {
            background-color: #222;
        }

.app-theme-dark .app-calendar-monthview .app-calendar-month table {
    border-top-color: #111;
}

.app-theme-dark .app-calendar-time {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
}

.app-theme-dark .app-has-time-prompt .app-current-time {
    color: #fff;
}

.app-theme-dark .app-has-time-prompt .current-time-line {
    border-top: solid 1px #fff;
}

    .app-theme-dark .app-has-time-prompt .current-time-line div.dot {
        background-color: #fff;
    }

.app-calendar .app-calendar-day > div:not(.app-calendar-time) {
    border-color: #333;
}

.app-theme-dark .app-calendar-dayview ul.app-calendar-eventlist li.app-event,
.app-theme-dark .app-calendar-weekview ul.app-calendar-eventlist li.app-event {
    box-shadow: 0 0 3px #000;
}

.app-theme-dark .app-bar-calendar .app-week-header ul,
.app-theme-dark .app-bar-calendar .app-day-header ul {
    border-color: #333;
}

.app-theme-dark .app-bar-calendar .app-week-header li.last-day-of-week {
    border-color: #333;
}

.app-theme-dark .app-calendar-agenda-list li {
    border-top-width: 0 !important;
}

.app-theme-dark .app-calendar-agenda-list .app-calendar-month-header h1 {
    color: #fff;
}

.app-theme-dark .app-selected.ui-btn .app-event,
.app-theme-dark .app-calendar-selected {
    outline-color: #fff;
    /*outline-style: dotted;*/
}

.app-theme-dark .app-event-more,
.app-theme-dark .app-event-new {
    background-color: #333;
    color: #fff !important;
}

.app-theme-dark .app-calendar-plugin table td:not(.app-has-data) {
    color: #bbb;
}

.app-theme-dark .app-calendar-plugin table tr:not(.ui-btn-active) td.app-prev-month,
.app-theme-dark .app-calendar-plugin table tr:not(.ui-btn-active) td.app-next-month {
    color: #777;
}

.app-theme-dark .app-calendar-plugin table tr.app-selected,
.app-theme-dark .app-calendar-plugin table tr:not(.ui-btn-active) td.app-selected:not(.ui-btn-active) {
    background-color: #1f1f1f !important;
}

.app-theme-dark .app-calendar-plugin-header div {
    color: #bbb !important;
}

.app-theme-dark .app-calendar-plugin .app-calendar-plugin-fieldselector.app-selected,
.app-theme-dark .app-calendar-plugin .app-calendar-plugin-fieldselector.ui-btn.app-selected:hover:not(.ui-btn-active),
.app-theme-dark .app-calendar-plugin .app-calendar-plugin-header .app-selected,
.app-theme-dark .app-calendar-plugin .app-calendar-plugin-header .app-selected:hover,
.app-theme-dark .app-calendar .app-bar-calendar .app-calendar-badge.app-selected,
.app-theme-dark .app-calendar .app-bar-calendar .app-calendar-badge.app-selected:hover {
    background-color: #222 !important;
    color: #fff !important;
}


.app-theme-dark .app-calendar-plugin,
.app-theme-dark .app-calendar-plugin .app-calendar-color-legend {
    border-color: #111;
}

.app-theme-dark .app-calendar-today,
.app-theme-dark .app-calendar-next,
.app-theme-dark .app-calendar-prev,
.app-theme-dark .app-calendar-plugin-loadright,
.app-theme-dark .app-calendar-plugin-loadleft {
    border-color: #1f1f1f !important;
}

.app-theme-dark .app-calendar-plugin-container,
.app-calendar-plugin-container.app-data-input-helper .app-calendar-plugin {
    background-color: #333;
    color: #fff;
}

.app-theme-dark .app-time-selector {
    background-color: #aaa;
}

.app-theme-dark .app-time-container .app-time-selector {
    background-color: #444;
}

.app-theme-dark .app-time-selector li {
    color: #ccc;
}

.app-desktop .app-hscrollbar2,
.app-desktop .app-vscrollbar {
    background-color: #3e3e42;
}

.app-hscrollbar2 .app-hscrollbar-handle,
.app-vscrollbar .app-vscrollbar-handle {
    background-color: #686868;
}

.app-hscrollbar-handle:hover,
.app-vscrollbar-handle:hover {
    background-color: #9e9e9e;
}

.app-vscrollbar.app-scrollbar-dragging .app-vscrollbar-handle,
.app-hscrollbar2.app-scrollbar-dragging .app-hscrollbar-handle {
    background-color: #efebef;
}

/***** bootstrap *****/
.app-theme-dark .app-bootstrap,
.app-theme-dark .panel {
    background-color: #1f1f1f;
    color: #ccc;
}

.app-theme-dark .jumbotron {
    background-color: #111;
}

.app-theme-dark hr {
    border-top-color: #777;
}

.btn-default,
.btn-default:focus,
.btn-default:visited,
body:not(.app-desktop) .btn-default:hover {
    background-color: #222 !important;
    border-color: #333 !important;
    color: #fff !important;
}

.app-theme-dark.app-desktop .btn-default:hover {
    background-color: #1f1f1f !important;
    border-color: #333 !important;
    color: #fff !important;
}

.app-theme-dark .app-bootstrap .btn.ui-btn-active,
.app-theme-dark .app-bootstrap .btn.ui-btn-active:hover,
.app-theme-dark .app-bootstrap .btn.ui-btn-active:focus,
.app-theme-dark .app-bootstrap .nav .ui-btn-active,
.app-theme-dark .app-bootstrap .nav .ui-btn-active:hover,
.app-theme-dark .app-bootstrap .nav .ui-btn-active:focus,
.app-theme-dark .app-bootstrap .list-group-item.ui-btn-active {
    background-color: #38c !important;
    border-color: #38c !important;
    color: #fff !important;
}

.app-theme-dark .app-bootstrap .btn-primary,
body.app-theme-dark:not(.app-desktop) .app-bootstrap .btn-primary:hover,
.app-theme-dark .app-bootstrap .label-primary,
.app-theme-dark .app-bootstrap .panel-primary .panel-heading {
    background-color: #a845ac;
    border-color: #a845ac;
    color: #fff !important;
}

.app-theme-dark .app-bootstrap .panel-primary {
    border-color: #a845ac;
}

.app-theme-dark.app-desktop .app-bootstrap .btn-primary:hover,
.app-theme-dark.app-desktop .app-bootstrap .btn-primary:focus {
    background-color: #a72bab;
    border-color: #a72bab;
    color: #fff !important;
}

.app-theme-dark .table,
.app-theme-dark .table > thead > tr > th,
.app-theme-dark .table > tbody > tr > th,
.app-theme-dark .table > tfoot > tr > th,
.app-theme-dark .table > thead > tr > td,
.app-theme-dark .table > tbody > tr > td,
.app-theme-dark .table > tfoot > tr > td,
.app-theme-dark .list-group-item:not(.active) {
    background-color: #222;
    border-color: #333;
}

    .app-theme-dark .list-group-item:not(.active),
    .app-theme-dark .list-group-item:not(.active):hover {
        color: #999;
    }

.app-theme-dark .list-group-item .list-group-item-heading {
    color: #fff !important;
}

.app-desktop.app-theme-dark a.list-group-item:hover:not(.active) {
    color: #fff;
    background-color: #1f1f1f;
}

.app-theme-dark .table > thead > tr > th,
.app-theme-dark .table > tbody > tr > th,
.app-theme-dark .table > tfoot > tr > th {
    color: #999;
    background-color: #333;
}

.app-theme-dark td {
    color: #fff;
}

.app-theme-dark .table-striped > tbody > tr:nth-child(2n+1) > td,
.app-theme-dark .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #1f1f1f;
}

.app-theme-dark .img-thumbnail {
    background-color: #1f1f1f;
    border-color: #333;
}

.app-theme-dark .page-header,
.app-theme-dark .nav-tabs {
    border-color: #333;
}

    .app-theme-dark .nav-tabs > li.active > a,
    .app-theme-dark .nav-tabs > li.active > a:hover {
        background-color: #333;
        border-color: #333;
        color: #fff;
    }

.app-theme-dark.app-desktop .nav > li:not(.active) > a:hover,
.app-theme-dark.app-desktop .nav > li:not(.active) > a:focus {
    background-color: rgba(255,255,255,.05);
    border-color: #333;
}

.app-theme-dark.app-desktop .navbar-default .navbar-nav > li:not(.active) > a:hover,
.app-theme-dark .navbar-default .navbar-nav > li:not(.active) > a:focus {
    color: #fff;
    border-color: #333;
}

.app-theme-dark .navbar-default {
    background-color: #333;
    border-color: #111;
}

    .app-theme-dark .navbar-default a.navbar-brand,
    .app-theme-dark .navbar-default a.navbar-nav > li > a {
        color: #777;
    }

    .app-theme-dark .navbar-default .navbar-brand:not(a),
    .app-theme-dark .navbar-default .navbar-brand:not(a):hover {
        color: #fff !important;
    }

.app-theme-dark.app-desktop .app-bootstrap .navbar-default a.navbar-brand:hover,
.app-theme-dark .app-bootstrap .navbar-default a.navbar-brand.ui-btn-active,
.app-theme-dark .app-bootstrap .navbar-default a.navbar-brand:focus {
    color: #fff !important;
}

.app-theme-dark .app-bootstrap .navbar-default .navbar-nav > .active > a,
.app-theme-dark .app-bootstrap .navbar-default .navbar-nav > .active > a:hover,
.app-theme-dark .app-bootstrap .navbar-default .navbar-nav > .active > a:focus,
.app-theme-dark .app-bootstrap .navbar-default .navbar-nav > .open > a,
.app-theme-dark .app-bootstrap .navbar-default .navbar-nav > .open > a:hover,
.app-theme-dark .app-bootstrap .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

.app-theme-dark .navbar-default .navbar-toggle {
    border-color: #222222;
}

    .app-theme-dark.app-desktop .navbar-default .navbar-toggle:hover,
    .app-theme-dark .navbar-default .navbar-toggle:focus {
        background-color: #1f1f1f;
    }

    .app-theme-dark .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.app-theme-dark .navbar-default .navbar-collapse,
.app-theme-dark .navbar-default .navbar-form {
    border-color: #222222;
}


.app-theme-dark .well {
    background-color: #111;
    border-color: #333;
    box-shadow: rgba(251,251,251,0.2) 0 0 10px inset;
}

.app-theme-dark .dropdown-menu {
    background-color: #333;
}

    .app-theme-dark .dropdown-menu > li > a:not(:hover),
    .app-theme-dark:not(.app-desktop) .dropdown-menu > li > a:hover {
        color: #999;
    }

    .app-theme-dark.app-desktop .dropdown-menu > li > a:hover,
    .app-theme-dark .dropdown-menu > li > a:focus {
        background-color: rgba(255,255,255,.05);
        color: #fff;
    }

    .app-theme-dark .dropdown-menu .divider {
        background-color: #111;
    }

@media (max-width: 767px) {
    .app-sidebar-undocked.app-theme-dark.app-desktop .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .app-sidebar-undocked.app-theme-dark .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
    }
}

.app-theme-dark .navbar-inverse {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

    .app-theme-dark .navbar-inverse .navbar-brand {
        color: #777777;
    }

        .app-theme-dark.app-desktop .navbar-inverse .navbar-brand:hover,
        .app-theme-dark .navbar-inverse .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent;
        }

    .app-theme-dark .navbar-inverse .navbar-text {
        color: #777777;
    }

    .app-theme-dark .navbar-inverse .navbar-nav > li > a {
        color: #777777;
    }

        .app-theme-dark.app-desktop .navbar-inverse .navbar-nav > li > a:hover,
        .app-theme-dark .navbar-inverse .navbar-nav > li > a:focus {
            color: #333333;
            background-color: rgba(0,0,0,.05);
        }

    .app-theme-dark .navbar-inverse .navbar-nav > .active > a,
    .app-theme-dark .navbar-inverse .navbar-nav > .active > a:hover,
    .app-theme-dark .navbar-inverse .navbar-nav > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

    .app-theme-dark .navbar-inverse .navbar-nav > .disabled > a,
    .app-theme-dark .navbar-inverse .navbar-nav > .disabled > a:hover,
    .app-theme-dark .navbar-inverse .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }

    .app-theme-dark .navbar-inverse .navbar-toggle {
        border-color: #dddddd;
    }

        .app-theme-dark.app-desktop .navbar-inverse .navbar-toggle:hover,
        .app-theme-dark .navbar-inverse .navbar-toggle:focus {
            background-color: #dddddd;
        }

        .app-theme-dark .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #888888;
        }

    .app-theme-dark .navbar-inverse .navbar-collapse,
    .app-theme-dark .navbar-inverse .navbar-form {
        border-color: #e7e7e7;
    }

    .app-theme-dark .navbar-inverse .navbar-nav > .open > a,
    .app-theme-dark .navbar-inverse .navbar-nav > .open > a:hover,
    .app-theme-dark .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #e7e7e7;
        color: #555555;
    }

@media (max-width: 959px) {
    body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }

        body.app-desktop.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333333;
            background-color: transparent;
        }

    body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

    body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    body.app-theme-dark:not(.app-sidebar-undocked) .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

@media (max-width: 767px) {
    .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }

        .app-theme-dark.app-desktop.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333333;
            background-color: transparent;
        }

    .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

    .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .app-theme-dark.app-sidebar-undocked .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

.app-theme-dark .navbar-inverse .navbar-link {
    color: #777777;
}

.app-theme-dark.app-desktop .navbar-inverse .navbar-link:hover {
    color: #333333;
}

.app-theme-dark .navbar-inverse .btn-link {
    color: #777777;
}

    .app-theme-dark.app-desktop .navbar-inverse .btn-link:hover,
    .app-theme-dark .navbar-inverse .btn-link:focus {
        color: #333333;
    }

    .app-theme-dark .navbar-inverse .btn-link[disabled]:hover,
    .app-theme-dark fieldset[disabled] .navbar-inverse .btn-link:hover,
    .app-theme-dark .navbar-inverse .btn-link[disabled]:focus,
    .app-theme-dark fieldset[disabled] .navbar-inverse .btn-link:focus {
        color: #cccccc;
    }

.app-theme-dark .app-data-list .app-focus {
    outline-color: #fff;
}

.app-theme-dark .app-data-input-popup ul li {
    color: #aaa;
}

    .app-theme-dark .app-data-input-popup ul li.app-instruction {
        color: #777;
    }

    .app-theme-dark .app-data-input-popup ul li:not(.app-selected) span.app-text-normal {
        color: #38c;
    }

    .app-theme-dark .app-data-input-popup ul li.app-selected {
        color: #fff;
    }


.app-data-input-popup ul li[data-command]:not(.app-selected) {
    color: #fff;
}

.app-theme-dark .ui-btn:not(.ui-btn-active) .glyphicon.app-transition-icon,
.app-theme-dark .app-group .glyphicon.glyphicon-menu-up {
    color: #bbb;
}

.app-desktop.app-theme-dark .app-bar-tools #app-btn-menu.ui-icon-bars:hover:not(.ui-btn-active)::after {
    color: #fff;
}

.ui-btn::after {
    color: #bbb;
}

.ui-btn.app-animation-spin::after,
.app-desktop .ui-btn:hover:not(.ui-btn-active)::after {
    color: #fff;
}

.ui-btn.ui-btn-active::after,
.app-btn-more.ui-btn-active::after {
    color: #38c;
}

.app-theme-dark [data-input].app-has-helper .app-control-helper {
    color: #fff;
}

.app-theme-dark [data-input] .app-control-helper ul li {
    border-color: #333;
}

.app-desktop [data-input] .app-control-helper ul li:not(.ui-btn-active):not(.app-focus):hover {
    background-color: #333;
}