/* grey drop icon - #cccccc */
.app-theme-classic .app-menu-strip a.ui-btn.app-has-children:not(.ui-btn-active)::after {
    border-top-color: #ccc;
}

/* white drop icon*/
.app-theme-classic .app-menu-strip a.ui-btn.app-has-children:hover:not(.ui-btn-active)::after,
.app-theme-classic .app-menu-strip a.ui-btn.app-has-children.app-selected:not(.ui-btn-active)::after {
    border-top-color: #fff!important;
}

/* black drop icon */
.app-theme-classic .app-echo-toolbar a.ui-btn.app-has-children:not(.ui-btn-active)::after,
.app-theme-classic .app-echo-toolbar a.ui-btn.app-has-children:hover:not(.ui-btn-active)::after {
    border-top-color: #000;
}
/*********************************/
/* THEME: classic               */
/*******************************/

.app-theme-classic,
.app-theme-classic .ui-page-theme-a {
    background-color: #f1f6fd;
}

    .app-theme-classic .ui-page-theme-a .ui-panel-wrapper,
    .app-theme-classic .ui-panel,
    .app-theme-classic .app-page-header,
    .app-theme-classic .app-status-bar,
    .app-bar-footer.ui-bar-inherit {
        background-color: #002776;
        border-color: #679afe;
    }

    .app-theme-classic .app-page-header {
        color: #1f1f1f;
        background-color: #FFE6A0;
    }

    .app-theme-classic .app-status-bar {
        color: #000;
    }

    .app-theme-classic .app-form-editing.app-formview .app-static-text div,
    .app-theme-classic .app-page-menu-desc,
    .app-theme-classic .ui-checkbox label {
        text-shadow: none !important;
        color: #fff;
    }

    .app-theme-classic .ui-header .ui-title,
    .app-theme-classic .ui-footer .ui-title {
        color: #fff;
    }

    /*popup*/
    .app-theme-classic .app-popup-message,
    .app-theme-classic .ui-content.app-map-info {
        background-color: #002776;
        border-color: #679afe;
        text-shadow: none;
        color: #fff;
    }

        .app-theme-classic .app-popup-message .ui-popup-arrow {
            background-color: #002776;
        }

        .app-theme-classic .app-popup-message div {
            color: #002776;
        }

    .app-theme-classic .ui-flipswitch-active a {
        color: #fff !important;
    }
        
    .app-data-input-popup .app-selected .app-caret-r .app-caret {
        border-left-color: #000;
    }

    /* page header */
    .app-theme-classic .ui-bar-a,
    .app-theme-classic :not(.app-tabs).ui-header-fixed.ui-header:not(.app-bar-actions):not(.app-bar-header) {
        background-color: #002776;
        border-color: #679afe;
        text-shadow: none;
    }

    .app-theme-classic .app-popup-listview .ui-popup-arrow,
    .app-theme-classic .app-popup-listview {
        background-color: #002776 !important;
        border-color: #002776 !important;
    }

    .app-theme-classic .app-menu-strip a.ui-btn,
    .app-theme-classic.app-desktop .app-menu-strip a.ui-btn.app-selected:hover:not(.ui-btn-active) {
        color: #fff !important;
    }

    .app-theme-classic .app-menu-strip ul li a.ui-btn.app-selected:not(:hover):not(.ui-btn-active),
    .app-theme-classic.app-has-popup-open .app-menu-strip ul li a.ui-btn.app-selected:hover:not(.ui-btn-active) {
        background-color: rgba(0,0,0, 0.25) !important;
    }

    /* list dividers*/
    /*.app-theme-classic .ui-listview > .app-list-instruction.ui-li-divider
    {
        background-color:red;
    }
    
    .app-theme-classic ui-li-divider {
        background-color: #b6cdf7;
        border-color: #679afe;
        color: #555;
        text-shadow: none;
    }*/

    .app-theme-classic ui-li-divider,
    .app-theme-classic .ui-content.app-page-tasks .app-listview .ui-li-divider:not(.ui-bar-b) {
        background-color: #002776;
        border-color: #679afe;
        /*color: #fff;*/
        text-shadow: none;
    }

    .app-theme-classic .ui-listview .app-list-instruction.ui-li-divider,
    .app-theme-classic .ui-content:not(.app-page-tasks) .app-listview .ui-li-divider:not(.ui-bar-b):not(.ui-bar-inherit),
    .app-theme-classic .app-presenter-instruction,
    .app-theme-classic .app-grid-header .app-frozen-spacer {
        background-color: #E1EDFB !important;
        border-color: #b6cdf7 !important;
        /*border-bottom-width:1px;*/ /* added border to list/grid header to add color separation*/
    }

    .app-theme-classic .ui-body-a,
    .app-theme-classic .ui-page-theme-a .ui-body-inherit:not(.ui-focus) {
        background-color: #fff;
        border-color: #679afe;
        /*color: #fff;*/
        text-shadow: none;
    }

    .app-theme-classic ul:not(.app-form-editing) .ui-field-contain {
        border-color: #b6cdf7 !important;
    }

    .app-theme-classic .ui-page-theme-a .app-formview .ui-body-inherit:not(.ui-focus) {
        background-color: #fff;
    }


    /*sidebar customizations*/
    .app-theme-classic .ui-body-a.app-sidebar,
    .app-theme-classic .app-bar-actions,
    .app-theme-classic .app-bar-header,
    .app-theme-classic .app-bar-footer {
        background-color: #9eaee5;
    }

    .app-theme-classic.app-sidebar-undocked .app-form-grid .ui-collapsible-set,
    .app-theme-classic .ui-listview-inset .ui-li-divider:not(.ui-bar-a) {
        border-color: #679afe;
    }

    .app-theme-classic .ui-li-divider.app-info {
        background-color: #fff !important;
    }

    /* fix for form "card" */
    .app-theme-classic .ui-page-theme-a .ui-body-inherit.app-li-card, .app-theme-classic .ui-li-divider[role="heading"]:not(.ui-bar-b) {
        border-color: #b6cdf7;
    }

    /*.app-theme-classic .ui-listview-inset {
        background-color: #ebf3ff;
    }*/

    .app-theme-classic .app-form-editing.app-formview .ui-field-contain {
        border-top-color: transparent;
    }

    body:not(.app-sidebar-undocked).app-theme-classic .ui-header-fixed .ui-title,
    body:not(.app-sidebar-undocked).app-theme-classic .app-sidebar,
    .app-theme-classic .app-divider:not(.app-calculated),
    .app-theme-classic .app-echo,
    .app-theme-classic .app-header {
        border-color: #679afe !important;
    }

    .app-theme-classic .app-bar-heading {
        background-color: #E1EDFB;
        text-shadow: none;
    }


    .app-theme-classic .app-page-header {
        border-color: #b6cdf7;
    }


    /*buttons*/
    .app-theme-classic .ui-page-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-classic .ui-bar-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-classic .ui-body-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html body.app-theme-classic .ui-group-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html head + body.app-theme-classic .ui-btn-a.ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    .app-theme-classic .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-classic .ui-bar-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-classic .ui-body-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html body.app-theme-classic .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html head + body.app-theme-classic .ui-btn-a.ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    .app-theme-classic .app-form-grid .ui-collapsible-set,
    /* button overrides to remove "hover" on touch screens */
    body.app-theme-classic:not(.app-desktop) li a:hover:not(.app-selected):not(.ui-btn-b),
    body:not(.app-desktop).app-theme-classic .ui-page-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-classic .ui-bar-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-classic .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-classic .ui-group-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html head + body:not(.app-desktop).app-theme-classic .ui-btn-a.ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    .app-theme-classic #app-welcome .ui-btn:not(:hover),
    .app-theme-classic #app-popup-login .ui-btn:not(:hover),
    .app-theme-classic .ui-listview .app-frozen-spacer,
    .app-theme-classic .app-grid-header,
    .app-theme-classic .app-echo .dv-item, 
    .app-echo .app-grid .ui-last-child,
    .app-theme-classic .app-echo .app-listview,
    .app-theme-classic [data-container],
    .app-theme-classic [data-layout="form"] {
        border-color: #b6cdf7;
    }

        .app-theme-classic .app-grid-header .app-field-separator::after,
        .app-theme-classic .app-calculated .app-field-separator::after {
            background-color: #b6cdf7;
        }

    .app-theme-classic .ui-body-b .ui-btn-a,
    .app-theme-classic .ui-body-b .ui-btn-a.ui-btn-active {
        border-color: #002776 !important;
    }

    .app-theme-classic.app-has-popup-open .app-menu-strip .ui-btn:hover {
        background-color: #002776 !important;
    }

    .app-theme-classic .ui-page-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-classic .ui-bar-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-classic .ui-body-a .ui-btn:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body.app-theme-classic .ui-group-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html head + body.app-theme-classic .ui-btn-a.ui-btn:not(.app-selected):not(.app-lookup),
    .app-theme-classic .ui-panel-page-container-a:not(.app-lookup),
    .app-theme-classic .app-tabs.ui-header:not(.app-lookup),
    .app-theme-classic .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-classic .ui-bar-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-classic .ui-body-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html body.app-theme-classic .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off),
    html head + body.app-theme-classic .ui-btn-a.ui-btn:visited:not(.app-selected),
    .app-theme-classic .app-tabs .ui-btn:not(.ui-btn-active):not(.app-selected),
    body.app-desktop.app-theme-classic .app-grid.app-listview :not(.app-selected):not(:hover):not(.ui-btn-active).ui-btn,
    .app-theme-classic #app-welcome .ui-btn:not(:hover),
    .app-theme-classic #app-popup-login .ui-btn:not(:hover),
    .app-theme-classic .app-map-info .ui-popup-arrow,
    .app-theme-classic .ui-listview .app-frozen-spacer,
    .app-theme-classic [data-container="toggle"],
.app-listview.app-grid .ui-btn:not(:hover):not(.app-selected):not(.ui-btn-active):not(.app-checked), 
body:not(.app-desktop) .app-listview.app-grid .ui-btn:hover:not(.app-selected):not(.ui-btn-active):not(.app-checked) {
        color: #000;
        background-color: #e2ebfc;
    }

    /* top border of Info button in sidebar */
    .app-theme-classic .app-sidebar .ui-btn.ui-icon-info {
        border-color: #679afe !important;
    }

    /* navigation panel selected item color fix*/
    .app-theme-classic .ui-panel-inner .ui-btn-a {
        color: #fff; /*#1659d8 !important;*/
    }

    /* subtext coloring*/
    .app-theme-classic .app-field-label-after,
    .app-theme-classic .app-field-label-before,
    .app-theme-classic .app-field-label,
    .app-theme-classic .ui-panel .app-item-desc,
    .app-theme-classic .ui-li-aside,
    .app-theme-classic .ui-btn .ui-li-aside,
    .app-theme-classic .app-grid-header,
    .app-theme-classic .app-panel-info-view .app-list-instruction,
    .app-theme-classic .app-filter,
    .app-theme-classic .app-calculated .app-static-text,
    .app-theme-classic .app-item-number,
    .app-data-input-popup li:not(.app-selected) span.app-text-normal {
        color: #1659d8 !important;
    }

    .app-theme-classic .ui-group-theme-b a:not(.ui-btn) {
        color: #dde0ff !important;
    }

        .app-theme-classic .ui-page-theme-b a:not(.ui-btn):hover,
        .app-theme-classic .ui-bar-b a:not(.ui-btn):hover,
        .app-theme-classic .ui-body-b a:not(.ui-btn):hover,
        .app-theme-classic .ui-group-theme-b a:not(.ui-btn):hover,
        .app-theme-classic .ui-page-theme-b a:not(.ui-btn):active,
        .app-theme-classic .ui-bar-b a:not(.ui-btn):active,
        .app-theme-classic .ui-body-b a:not(.ui-btn):active,
        .app-theme-classic .ui-group-theme-b a:not(.ui-btn):active {
            color: #fff !important;
        }

    .app-theme-classic .ui-btn p {
        color: #000 !important;
    }

    .app-theme-classic .app-bar-heading .app-bar-label,
    .app-theme-classic .app-static-text div,
    .app-theme-classic .app-form-editing.app-formview label /*, .app-theme-classic .app-wrapper*/ {
        color: #1659d8;
    }

    /*selected button*/
    .app-theme-classic .app-selected:not(.ui-btn-active),
    .app-theme-classic .app-checked:not(.ui-btn-active),
    .app-theme-classic .app-selected:hover,
    .app-theme-classic .app-selected:visited,
    .app-theme-classic .app-echo-toolbar .app-selected:not(.ui-btn-active),
    .app-theme-classic .app-echo-toolbar .app-selected:not(.ui-btn-active):hover,
    .app-theme-classic .app-selected .app-frozen-spacer,
    .app-theme-classic .app-checked .app-frozen-spacer {
        background-color: #E0F2FA !important;
        border-color: #b6cdf7 !important;
        color: #000 !important;
    }

    .app-theme-classic .app-grid-header .app-selected:not(.ui-btn-active) {
        background-color: rgba(0,0,0,0.05) !important;
    }

    /* hover */
    .app-theme-classic .ui-btn-a:hover:not(.ui-btn-active):not(.app-selected),
    body.app-desktop.app-theme-classic .ui-page-theme-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-classic .ui-bar-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-classic .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off),
    html body.app-desktop.app-theme-classic .ui-group-theme-a .ui-btn:hover:not(.app-selected),
    html head + body.app-desktop.app-theme-classic .ui-btn-a.ui-btn:hover:not(.app-selected),
    .app-desktop.app-theme-classic .ui-listview a.ui-btn:hover:not(.app-selected) .app-frozen-spacer,
    .app-desktop [data-container="collapsible"] [data-container="toggle"]:hover:not(.ui-btn-active) {
        background-color: #dce6f9;
        border-color: #b6cdf7;
    }

    .app-theme-classic.app-desktop .app-grid-header span:hover:not(.ui-btn-active):not(.app-icon) {
        background-color: #DCF1FA;
    }

    /* selected hover*/
    html body.app-desktop.app-theme-classic .ui-btn.app-selected:hover:not(.ui-btn-active),
    html body.app-desktop.app-theme-classic .ui-btn.app-checked:hover:not(.ui-btn-active),
    .app-theme-classic #app-welcome .ui-btn:hover:not(.ui-btn-active),
    .app-theme-classic #app-popup-login .ui-btn:hover:not(.ui-btn-active),
    .app-theme-classic .app-listview .app-selected:not(.ui-btn-active):hover .app-frozen-spacer,
    .app-theme-classic .app-listview .app-checked:not(.ui-btn-active):hover .app-frozen-spacer {
        background-color: #DCF1FA !important;
        border-color: #b6cdf7 !important;
        color: #000 !important;
    }

    /*swatch b*/
    .app-theme-classic .ui-btn.ui-btn-b,
    .app-theme-classic .ui-btn.ui-btn-b:visited,
    body.app-theme-classic:not(.app-desktop) li a.ui-btn-b:not(.ui-btn-active):hover {
        background-color: #7aa4dd;
        border-color: #002776;
        color: #000;
    }

    /*swatch b hover*/
    .app-theme-classic.app-desktop .ui-btn.ui-btn-b:not(.ui-btn-active):hover {
        background-color: #78a0d7 !important;
        border-color: #002776 !important;
        color: #000 !important;
    }


    /*swatch b divider*/
    .app-theme-classic .ui-bar-b,
    .app-theme-classic .ui-bar-b .ui-bar-inherit,
    html .app-theme-classic.ui-body-b .ui-bar-inherit,
    html body.app-theme-classic .ui-group-theme-b .ui-bar-inherit {
        border-color: #002776;
        background-color: #002776;
    }

    /* click */

    .app-theme-classic .app-grid-header .ui-btn-active,
    [data-container="collapsible"] [data-container="toggle"].ui-btn-active {
        background-color: #FFD253 !important;
        color: #000 !important;
    }

    .app-theme-classic .app-listview .ui-btn.app-selected::before,
    .app-theme-classic [data-input="checkboxlist"] .app-data-list li.app-selected::after {
        background-color: #FFD253;
    }

    .ui-btn.ui-btn-active::after,
    .app-btn-more.ui-btn-active::after {
        color: #FFD253;
    }

    .dv-item .ui-btn-active .app-btn-more::after {
        color: #000!important;
    }

    .dv-item .ui-btn-active .app-btn-check.app-btn-check-selected {
        border-color: #000!important;
    }

.app-theme-classic [data-input] .app-data-list li.app-selected,
.app-theme-classic [data-input] .app-data-list li::before,
.app-theme-classic [data-input] .app-data-list li.app-selected::after {
    border-color: #FFD253;
}

    .app-theme-classic .ui-title.ui-btn-active,
    html body.app-theme-classic .ui-btn.ui-btn-active,
    .app-theme-classic .ui-btn.ui-btn-active .app-frozen-spacer {
        background-color: #FFD253 !important;
        border-color: #b6cdf7 !important;
        color: #000 !important;
    }

        html body.app-theme-classic .ui-btn.ui-btn-active::after {
            background-color: #91845e;
        }


html body.app-theme-classic .ui-body-b .ui-btn.ui-btn-active {
    border-color: #002776 !important;
}

.app-theme-classic .dv-action-see-all .app-btn-prev.ui-btn-active,
.app-theme-classic .dv-action-see-all .app-btn-next.ui-btn-active {
    background-color: #FFD253;
    color: #000;
}

.app-theme-classic .app-btn-check:not(.app-btn-check-selected) {
    border-color: #B6CDF7 !important;
    background-color: transparent !important;
}

.app-theme-classic .ui-btn.app-selected:not(.ui-btn-active) .app-btn-check:not(.app-btn-check-selected) {
    border-color: #B6CDF7 !important;
}

.app-theme-classic .app-grid-header .app-btn-check:not(.app-btn-check-selected) {
    background-color: transparent !important;
    border-color: #B6CDF7 !important;
}

.app-theme-classic .app-btn-check.app-btn-check-selected {
    border-color: #FFD253 !important;
    background-color: #FFD253 !important;
}

    [data-input] .app-control-helper ul li.ui-btn-active,
    [data-input].app-has-focus .app-control-helper ul li.app-focus {
        border-color: #FFD253 !important;
        background-color: #FFD253 !important;
    }

    [data-input].app-has-focus .app-control-helper ul li.app-focus,
    [data-input] .app-control-helper ul li.app-focus::after {
        color: #000;
        border-top-color: #000;
    }

.app-theme-classic .app-btn-check .app-icon-themed {
    fill: #000;
}


/* tabs */
.app-theme-classic .app-tabs.ui-header {
    border-color: #79a7e3;
}

.app-theme-classic .app-tabs .ui-btn {
    border-color: #79a7e3 !important;
}

    .app-theme-classic .app-tabs .ui-btn.ui-btn-active {
        border-color: #79a7e3 !important;
        background-color: #79a7e3 !important;
        color: #fff !important;
    }


/*button on header bar*/
.app-theme-classic .app-bar-footer.ui-footer-fixed .ui-btn,
.app-theme-classic #app-bar-tools .ui-btn.ui-btn-icon-notext,
.app-theme-classic .app-map-info-toolbar .ui-btn.ui-btn-icon-notext {
    border-color: #679afe !important;
}

.app-theme-classic.app-desktop #app-bar-tools .ui-btn.ui-btn-icon-notext:hover:not(.ui-btn-active),
.app-theme-classic.app-desktop .app-map-info-toolbar .ui-btn.ui-btn-icon-notext:hover:not(.ui-btn-active) {
    border-color: #3f5f8a !important;
    background-color: #c6d8ec !important;
}

.app-theme-classic .app-bar-actions .ui-btn,
.app-theme-classic .app-bar-actions .ui-btn.ui-btn-active {
    border-color: #679afe !important;
}


.app-theme-classic #app-bar-tools .ui-btn.ui-btn-active.ui-btn-icon-notext,
.app-theme-classic .app-map-info-toolbar .ui-btn.ui-btn-active.ui-btn-icon-notext {
    background-color: #FFE6A0 !important;
}

    .app-theme-classic #app-bar-tools .ui-btn.ui-btn-active.ui-btn-icon-notext::after,
    .app-theme-classic .app-map-info-toolbar .ui-btn.ui-btn-active.ui-btn-icon-notext::after {
        background-color: #91845e !important;
    }

.app-theme-classic.app-desktop .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots):hover,
.app-theme-classic .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots).ui-btn-active {
    border-color: #657b96 !important;
}

.app-theme-classic .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots):not(.ui-radio-on)::after,
.app-theme-classic .ui-btn.ui-btn-icon-left:not(.ui-radio-on)::after,
.app-theme-classic .ui-btn.ui-btn-icon-right:not(.ui-radio-on):not(.app-btn-icon-transparent)::after,
.app-theme-classic .ui-btn.ui-btn-icon-top:not(.ui-radio-on)::after,
.app-theme-classic .ui-btn.ui-btn-icon-bottom:not(.ui-radio-on)::after,
.app-theme-classic .ui-checkbox-on:after,
.app-theme-classic .ui-flipswitch-active,
.app-theme-classic .ui-slider-track .ui-btn-active {
    background-color: #657b96;
}

.app-theme-classic .ui-btn .glyphicon {
    color: #657b96;
}


.app-theme-classic .app-icon-themed {
    fill: #657b96;
}

.app-theme-classic .ui-btn-active .app-icon-themed {
    fill: #000;
}

.app-theme-classic .ui-radio-on:after,
.app-theme-classic .ui-slider-track .ui-btn-active,
.app-theme-classic .ui-flipswitch-active {
    border-color: #657b96 !important;
}

/*fix for lookups/inputs*/
.app-theme-classic .ui-btn.app-lookup:not(.ui-btn-active):not(.ui-focus),
.app-theme-classic .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select:not(.ui-focus) .ui-btn:not(.ui-btn-active),
.app-theme-classic .ui-input-text:not(.ui-btn-active),
.app-theme-classic .app-form-editing .ui-input-text:not(.ui-btn-active),
.app-theme-classic .ui-input-search.ui-body-inherit {
    background-color: #fff;
    border-color: #b6cdf7;
    text-shadow: none;
    /*color: #fff;*/
}

    .app-theme-classic .ui-btn.app-lookup.ui-focus,
    .app-theme-classic .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select.ui-focus .ui-btn:not(.ui-btn-active),
    .app-theme-classic .ui-input-text.ui-focus,
    .app-theme-classic .app-form-editing .ui-input-text.ui-focus,
    .app-theme-classic .ui-input-search.ui-body-inherit.ui-focus,
    .app-theme-classic .ui-checkbox label.ui-focus {
        border-color: #d2b47a !important;
    }

.app-theme-classic .ui-slider {
    border-color: #b6cdf7 !important;
}

.app-theme-classic .ui-slider-label.ui-btn-active {
    background-color: #FFE6A0 !important;
    color: #000 !important;
}

/* background bleed under form in editing mode*/
.app-theme-classic .ui-body-a.ui-collapsible-content {
    background-color: #fff;
    border-bottom-color: #b6cdf7 !important;
}

.app-theme-classic .app-bar-tools .ui-input-search.ui-body-inherit {
    background-color: #ebf3ff;
}

.app-theme-classic .ui-btn.app-lookup,
.app-theme-classic .ui-btn.ui-btn-active.app-lookup {
    border-color: #679afe;
}


.app-theme-classic .app-lookup-input {
    background-color: transparent;
    /*color: #fff;*/
}

.app-theme-classic .app-grid-header {
    color: #999;
}

@media (min-width: 20em) {
    .app-theme-classic .ui-header.ui-header-fixed.app-bar-tools {
        background-image: url(logo-white.png);
    }
}

.app-theme-classic .app-listview li .app-li-corner {
    color: #fff;
    background-color: #657b96;
}

.app-theme-classic .dataview-busy-indicator {
    background-color: #FFD253;
}

.app-bar-tools .ui-btn:not(.ui-btn-active)::after,
.app-map-info-toolbar .ui-btn:not(.ui-btn-active)::after,
.app-theme-classic .ui-bar-a .app-menu-strip .ui-btn:not(.ui-btn-active), 
.app-theme-classic .ui-bar-a .app-user-name {
    color: #ccc !important;
}

.app-desktop .app-bar-tools .ui-btn:hover:not(.ui-btn-active)::after,
.app-desktop .app-map-info-toolbar .ui-btn:hover:not(.ui-btn-active)::after,
.app-theme-classic .ui-bar-a .app-menu-strip .ui-btn:hover:not(.ui-btn-active),
.app-theme-classic .ui-bar-a .app-menu-strip .ui-btn.app-selected:not(.ui-btn-active),
.app-theme-classic .ui-bar-a .app-menu-strip .ui-btn.app-selected:hover:not(.ui-btn-active) {
    color: #fff !important;
}

.app-theme-classic .app-chart .app-chart-inner {
    border-color: #b6cdf7;
}
.app-theme-classic .app-calendar-plugin,
.app-theme-classic .app-calendar {
    background-color: #fff;
    color: #000;
}

.app-theme-classic .app-calendar-month-header,
.app-theme-classic .app-calendar-month-header h1 {
    color: #1659d8 !important;
}

.app-theme-classic .app-calendar-monthview .app-calendar-month table td.app-calendar-weekend {
    background-color: #e2ebfc;
}

.app-theme-classic .app-calendar-plugin,
.app-theme-classic .app-calendar-color-legend,
.app-theme-classic .app-calendar-monthview .app-calendar-month table,
.app-theme-classic .app-calendar-monthview .app-calendar-month table td,
.app-theme-classic .app-calendar-day > div > div,
.app-theme-classic .app-bar-calendar .app-week-header li.last-day-of-week,
.app-theme-classic .app-calendar-week-grid .app-calendar-day > div {
    border-color: #b6cdf7;
}

    .app-theme-classic .app-calendar-plugin span.app-current-day,
    .app-theme-classic .app-calendar-monthview .app-current-day,
    .app-theme-classic .app-calendar-yearview .app-current-day,
    .app-theme-classic .app-week-header .app-current-day,
    .app-theme-classic .app-day-header .visible-day.app-current-day,
    .app-theme-classic .app-has-current-day .current-time-line .dot {
        background-color: #657b96;
    }

.app-theme-classic .app-has-current-day .current-time-line {
    border-color: #657b96;
}

.app-calendar-plugin-container .app-time-container .app-selected,
.app-calendar-plugin-container .app-time-header .app-cal-selected,
.app-theme-classic .app-day-header :not(.ui-btn-active).ui-btn .app-current-day,
.app-theme-classic .app-has-current-day .app-current-time,
.app-theme-classic .app-calendar-agenda-list > li.app-has-current-day h2:not(.ui-btn-active) > span,
.app-theme-classic .app-calendar-agenda-list li.app-time-line-container > .app-event-time,
.app-theme-classic .app-calendar-plugin .app-date-selector-container .app-current:not(.ui-btn-active) {
    color: #657b96;
}

.app-calendar-plugin-container .app-time-selector .app-time-hand,
.app-calendar-plugin-container .app-time-hand > span,
.app-calendar-plugin table tr.ui-btn-active td,
.app-calendar-plugin table tr.ui-btn-active td:hover,
.app-calendar-plugin table td.ui-btn-active,
.app-calendar-plugin table td.ui-btn-active:hover,
.app-calendar-yearview .app-calendar-month td.ui-btn-active {
    background-color: #FFD253 !important;
    color: #000 !important;
}

.app-theme-classic .app-calendar-yearview .app-calendar-month td:not(.app-current-day):not(.ui-btn-active).app-has-data {
    background-color: #e2ebfc;
}
/***** bootstrap *****/

.app-theme-classic .app-bootstrap {
    /*color: #1d092d;*/
}

.app-theme-classic .dropdown-menu > li > a:not(.ui-btn),
body:not(.app-desktop) .dropdown-menu > li > a:hover {
    color: #777 !important;
}

.app-theme-classic .jumbotron {
    background-color: #9eaee5;
}

.app-theme-classic .btn-default,
.app-theme-classic .btn-default:focus,
.app-theme-classic .btn-default:visited {
    background-color: #e2ebfc;
    border-color: #b6cdf7;
    color: #333 !important;
}

.app-theme-classic.app-desktop .btn-default:hover {
    background-color: #dce6f9;
    border-color: #679afe;
}

.app-theme-classic .app-bootstrap .btn.ui-btn-active,
.app-theme-classic .app-bootstrap .btn.ui-btn-active:hover,
.app-theme-classic .app-bootstrap .btn.ui-btn-active:focus,
.app-theme-classic .app-bootstrap .list-group-item.ui-btn-active,
.app-theme-classic .app-bootstrap .list-group-item.ui-btn-active:hover,
.app-theme-classic .app-bootstrap .list-group-item.ui-btn-active:focus,
.app-theme-classic .app-bootstrap .list-group-item.ui-btn-active .list-group-item-text,
.app-theme-classic .app-bootstrap .list-group-item.ui-btn-active .list-group-item-heading {
    background-color: #ffd253 !important;
    border-color: #ffd253 !important;
    color: #000 !important;
}

.app-theme-classic .app-bootstrap .nav .ui-btn-active,
.app-theme-classic .app-bootstrap .nav .ui-btn-active:hover,
.app-theme-classic .app-bootstrap .nav .ui-btn-active:focus {
    background-color: #ffd253 !important;
    border-color: #b6cdf7 !important;
    color: #000 !important;
}

.app-theme-classic .table,
.app-theme-classic .table > thead > tr > th,
.app-theme-classic .table > tbody > tr > th,
.app-theme-classic .table > tfoot > tr > th,
.app-theme-classic .table > thead > tr > td,
.app-theme-classic .table > tbody > tr > td,
.app-theme-classic .table > tfoot > tr > td,
.app-theme-classic .list-group-item:not(.active) {
    background-color: #e2ebfc;
    border-color: #b6cdf7;
}

.app-theme-classic.app-desktop a.list-group-item:hover:not(.active) {
    background-color: #dce6f9;
}

.app-theme-classic .table > thead > tr > th,
.app-theme-classic .table > tbody > tr > th,
.app-theme-classic .table > tfoot > tr > th {
    color: #333;
    background-color: #e1edfb;
}

.app-theme-classic .table-striped > tbody > tr:nth-child(2n+1) > td,
.app-theme-classic .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #dce7fc;
}

.app-theme-classic.app-desktop .navbar-default .navbar-toggle:hover,
.app-theme-classic .app-bootstrap .navbar-default .navbar-toggle:focus,
.app-theme-classic .list-group-item.active:not(.btn),
.app-theme-classic .list-group-item.active:not(.btn):hover,
.app-theme-classic .list-group-item.active:not(.btn):focus,
.app-theme-classic .nav-pills > li.active > a,
.app-theme-classic .nav-pills > li.active > a:hover,
.app-theme-classic .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #679afe;
    border-color: #679afe;
}

.app-theme-classic .list-group-item.active .list-group-item-text {
    color: #fff;
}

.app-theme-classic .list-group-item:not(.active):not(.ui-btn-active):hover,
.app-theme-classic .list-group-item:not(.active):not(.ui-btn-active):hover .list-group-item-text {
    color: #000 !important;
}

.app-theme-classic .list-group-item.active > .badge,
.app-theme-classic .nav-pills > .active > a > .badge {
    color: #679afe !important;
}

.app-theme-classic .navbar-default .navbar-toggle .icon-bar {
    background-color: #679afe;
}

.app-desktop.app-theme-classic .navbar-default .navbar-toggle:hover .icon-bar,
.app-desktop.app-theme-classic .navbar-default .navbar-toggle:active .icon-bar,
.app-desktop.app-theme-classic .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000;
}

.app-theme-classic .img-thumbnail {
    background-color: #e2ebfc;
    border-color: #b6cdf7;
}

.app-theme-classic .page-header,
.app-theme-classic .nav-tabs {
    border-color: #b6cdf7;
}

    .app-theme-classic .nav-tabs > li.active > a,
    .app-theme-classic .nav-tabs > li.active > a:hover,
    .app-theme-classic .nav-tabs > li.active > a:focus {
        border-top-color: #b6cdf7;
        border-left-color: #b6cdf7;
        border-right-color: #b6cdf7;
    }

.app-theme-classic.app-desktop .nav > li:not(.active) > a:hover,
.app-theme-classic.app-desktop .nav > li:not(.active) > a:focus {
    background-color: rgba(255,255,255,0.2);
    border-color: #b6cdf7;
}

.app-theme-classic.app-desktop .nav-tabs > li:not(.active) > a:hover,
.app-theme-classic .nav-tabs > li:not(.active) > a:focus,
.app-theme-classic.app-desktop .nav-pills > li:not(.active) > a:hover,
.app-theme-classic .nav-pills > li:not(.active) > a:focus {
    background-color: #dce6f9;
}

.app-theme-classic .navbar-default {
    background-color: #002776;
    border-color: #679afe;
}

    .app-theme-classic .navbar-default .navbar-brand,
    .app-theme-classic .navbar-default .navbar-brand:hover {
        color: #f1f1f1 !important;
    }

    .app-theme-classic .navbar-default .navbar-nav > li > a {
        color: #ccc !important;
    }

.app-theme-classic.app-desktop .navbar-default a.navbar-brand:hover,
.app-theme-classic .app-bootstrap .navbar-default a.navbar-brand.ui-btn-active,
.app-theme-classic.app-desktop .navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
}

.app-theme-classic .app-bootstrap .navbar-default .navbar-nav > .active > a,
.app-theme-classic .app-bootstrap .navbar-default .navbar-nav > .active > a:hover,
.app-theme-classic .app-bootstrap .navbar-default .navbar-nav > .active > a:focus,
.app-theme-classic .app-bootstrap .navbar-default .navbar-nav > .open > a,
.app-theme-classic .app-bootstrap .navbar-default .navbar-nav > .open > a:hover,
.app-theme-classic .app-bootstrap .navbar-default .navbar-nav > .open > a:focus {
    color: #fff !important;
    background-color: rgba(0,0,0,.15);
}

.app-theme-classic .well {
    background-color: #e2ebfc;
    border-color: #b6cdf7;
    /*box-shadow: rgba(0,0,0,0.1) 0 0 10px inset;*/
}

@media all and (max-width:767px) {
    .app-sidebar-undocked.app-theme-classic .navbar-nav .open .dropdown-menu {
        background-color: #e2ebfc;
    }

    .app-sidebar-undocked.app-theme-classic.app-desktop .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .app-sidebar-undocked.app-theme-classic .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #dce6f9;
    }
}

.app-theme-classic .dropdown-menu {
    background-color: #e2ebfc;
}

    .app-theme-classic .dropdown-menu .divider {
        background-color: #b6cdf7;
    }

    .app-theme-classic.app-desktop .dropdown-menu > li > a:hover,
    .app-theme-classic .dropdown-menu > li > a:focus {
        background-color: #dce6f9;
    }

.app-theme-classic .navbar-default .navbar-collapse,
.app-theme-classic .navbar-default .navbar-form,
.app-theme-classic .navbar-default .navbar-toggle {
    border-color: #679afe;
}

.app-theme-classic .navbar-inverse a:not(.ui-btn) {
    color: #777 !important;
}

.app-theme-classic.app-desktop .navbar-inverse a.navbar-brand:hover,
.app-theme-classic.app-desktop .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff !important;
}

.app-theme-classic .navbar-inverse .navbar-nav > .active > a,
.app-theme-classic .navbar-inverse .navbar-nav > .active > a:hover,
.app-theme-classic .navbar-inverse .navbar-nav > .active > a:focus,
.app-theme-classic .navbar-inverse .navbar-nav > .open > a,
.app-theme-classic .navbar-inverse .navbar-nav > .open > a:hover,
.app-theme-classic .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff !important;
}
