/*********************************/
/* THEME: gravity               */
/*******************************/

.app-theme-gravity,
.app-theme-gravity .ui-page-theme-a {
    background-color: #e9eaed;
}

    .app-theme-gravity .ui-page-theme-a .ui-panel-wrapper,
    .app-theme-gravity .ui-panel {
        background-color: #cbcbcb;
        border-color: #d9d9d9;
    }

    .app-theme-gravity .app-status-bar {
        background-color: #ebedf0;
    }

    .app-theme-gravity .app-page-header {
        color: #42464d;
        background-color: #fff;
    }

    .app-theme-gravity .app-status-bar {
        color: #000;
    }

    .app-theme-gravity .app-form-editing.app-formview .app-static-text div,
    .app-theme-gravity .app-page-menu-desc,
    .app-theme-gravity .ui-checkbox label {
        text-shadow: none !important;
    }

    /*popup*/
    .app-theme-gravity .app-popup-message,
    .app-theme-gravity .ui-content.app-map-info {
        background-color: #e5e5e5;
        border-color: #aaaaaa;
        text-shadow: none;
        color: #000;
    }

        .app-theme-gravity .app-popup-message .ui-popup-arrow {
            background-color: #e5e5e5;
            border-color: #e5e5e5;
        }

        .app-theme-gravity .app-popup-message div,
        .app-theme-gravity .ui-flipswitch-active a {
            color: #fff !important;
        }
        
    .app-data-input-popup .app-selected .app-caret-r .app-caret {
        border-left-color: #000;
    }

    /* page header */
    .app-theme-gravity .app-bar-tools.ui-bar-a,
    .app-theme-gravity :not(.app-tabs).ui-header-fixed.ui-header,
    .app-theme-gravity .app-popup .ui-header.ui-bar-a {
        background: #d3d3d3;
        border-color: #aaaaaa;
        text-shadow: none;
        color: #000;
    }

    .app-theme-gravity .ui-header.app-bar-actions {
        background-color: #ebedf0 !important;
        border-color: #dddddd !important;
    }

    .app-theme-gravity .app-popup-listview .ui-popup-arrow,
    .app-theme-gravity .app-popup-listview {
        background-color: #d3d3d3 !important;
        border-color: #d3d3d3 !important;
    }

    .app-theme-gravity .ui-header {
        background-color: #fff;
    }

    .app-theme-gravity .app-page-header,
    .app-theme-gravity .app-echo,
    .app-theme-gravity .app-header {
        border-color: #aaaaaa !important;
    }

    /* list dividers*/
    .app-theme-gravity .ui-li-divider {
        background-color: #d9d9d9;
        border-color: #aaaaaa;
        color: #111;
    }

    .app-theme-gravity ui-li-divider,
    .app-theme-gravity .ui-content.app-page-tasks .app-listview .ui-li-divider:not(.ui-bar-b) {
        background-color: #e8f1fa;
        text-shadow: none;
    }

    /* view descriptions*/
    .app-theme-gravity .ui-listview .app-list-instruction.ui-li-divider,
    .app-theme-gravity .ui-content:not(.app-page-tasks) .app-listview .ui-li-divider:not(.ui-bar-b):not(.ui-bar-inherit),
    .app-theme-gravity .app-presenter-instruction,
    .app-theme-gravity .app-grid-header .app-frozen-spacer {
        background-color: #f6f7f8 !important;
        border-color: #d9d9d9 !important;
        color: #7f848b;
    }

    body:not(.app-sidebar-undocked).app-theme-gravity .ui-header-fixed .ui-title,
    .app-theme-gravity .app-divider:not(.ui-collapsible):not(.app-calculated) {
        border-color: #aaaaaa !important;
        color: #333333;
    }

    .app-theme-gravity .app-bar-heading {
        background-color: #f6f7f8;
        color: #242a33;
        text-shadow: none;
    }

    .app-theme-gravity .ui-body-a,
    .app-theme-gravity .ui-page-theme-a .ui-body-inherit:not(.ui-focus) {
        background-color: #ebedf0;
        border-color: #d4d6da;
        text-shadow: none;
    }

    .app-theme-gravity ul:not(.app-form-editing) .ui-field-contain {
        border-color: #d9d9d9 !important;
    }

    .app-theme-gravity .ui-page-theme-a .app-formview .ui-body-inherit:not(.ui-focus) {
        background-color: #fff;
    }

    /*sidebar customizations*/
    body:not(.app-sidebar-undocked).app-theme-gravity .app-sidebar,
    .app-theme-gravity .ui-body-a.app-sidebar {
        border-color: #aaaaaa;
    }

    .app-theme-gravity.app-sidebar-undocked .app-form-grid .ui-collapsible-set,
    .app-theme-gravity .ui-listview-inset .ui-li-divider:not(.ui-bar-a) {
        border-color: #d9d9d9;
    }

    .app-theme-gravity .ui-li-divider.app-info {
        background-color: #ebedf0 !important;
        color: #000;
    }

    .app-theme-gravity .appname {
        color: #3b96b6 !important;
    }

    /* fix for form "card" */
    .app-theme-gravity .ui-page-theme-a .ui-body-inherit.app-li-card {
        border-top-color: #d9d9d9;
        border-left-color: #d9d9d9;
        border-right-color: #d9d9d9;
    }

    .app-theme-gravity .app-form-editing.app-formview .ui-field-contain {
        border-top-color: transparent;
    }

    /*buttons*/
    .app-theme-gravity .ui-page-theme-a .ui-btn:not(.app-selected):not(:hover):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-gravity .ui-bar-a .ui-btn:not(.app-selected):not(:hover):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-gravity .ui-body-a .ui-btn:not(.app-selected):not(:hover):not(.app-lookup):not(.ui-btn-b),
    html body.app-theme-gravity .ui-group-theme-a .ui-btn:not(.app-selected):not(:hover):not(.app-lookup):not(.ui-btn-b),
    html head + body.app-theme-gravity .ui-btn-a.ui-btn:not(.app-selected):not(:hover):not(.app-lookup):not(.ui-btn-b),
    .app-theme-gravity .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-gravity .ui-bar-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-gravity .ui-body-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html body.app-theme-gravity .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html head + body.app-theme-gravity .ui-btn-a.ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    .app-theme-gravity .app-form-grid .ui-collapsible-set,
    /* button overrides to remove "hover" on touch screens */
    body.app-theme-gravity:not(.app-desktop) li a:hover:not(.app-selected):not(.ui-btn-b),
    body:not(.app-desktop).app-theme-gravity .ui-page-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-gravity .ui-bar-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-gravity .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-gravity .ui-group-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html head + body:not(.app-desktop).app-theme-gravity .ui-btn-a.ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    .app-theme-gravity #app-welcome .ui-btn,
    .app-theme-gravity #app-popup-login .ui-btn,
    .app-theme-gravity .ui-listview .app-frozen-spacer,
    .app-theme-gravity .app-grid-header,
    .app-theme-gravity .app-echo .dv-item, 
    .app-echo .app-grid .ui-last-child,
    .app-theme-gravity .app-echo .app-listview,
    .app-theme-gravity [data-container],
    .app-theme-gravity [data-layout="form"] {
        border-color: #d9d9d9;
    }

        .app-theme-gravity .app-grid-header .app-field-separator::after,
        .app-theme-gravity .app-calculated .app-field-separator::after {
            background-color: #d9d9d9;
        }

    .app-theme-gravity .app-tabs.ui-header {
        border-color: #d9d9d9 !important;
    }

    .app-theme-gravity .ui-body-b .ui-btn-a,
    .app-theme-gravity .ui-body-b .ui-btn-a.ui-btn-active {
        border-color: #f5f7f7 !important;
    }

    .app-theme-gravity.app-has-popup-open .app-menu-strip .ui-btn:hover {
        background-color: #f5f7f7 !important;
    }

    .app-theme-gravity .ui-page-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-gravity .ui-bar-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-gravity .ui-body-a .ui-btn:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body.app-theme-gravity .ui-group-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html head + body.app-theme-gravity .ui-btn-a.ui-btn:not(.app-selected):not(.app-lookup),
    .app-theme-gravity .ui-panel-page-container-a:not(.app-lookup),
    .app-theme-gravity .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-gravity .ui-bar-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-gravity .ui-body-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html body.app-theme-gravity .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off),
    html head + body.app-theme-gravity .ui-btn-a.ui-btn:visited:not(.app-selected),
    body.app-desktop.app-theme-gravity .app-grid.app-listview :not(.app-selected):not(:hover):not(.ui-btn-active).ui-btn,
    .app-theme-gravity .ui-listview .app-frozen-spacer,
    .app-theme-gravity [data-container="toggle"],
.app-listview.app-grid .ui-btn:not(:hover):not(.app-selected):not(.ui-btn-active):not(.app-checked), 
body:not(.app-desktop) .app-listview.app-grid .ui-btn:hover:not(.app-selected):not(.ui-btn-active):not(.app-checked) {
        color: #000;
        background-color: #ebebeb;
    }

    .app-theme-gravity .ui-popup-arrow {
        background-color: #e5e5e5 !important;
    }

    /* navigation panel selected item color fix*/
    .app-theme-gravity .app-nav-panel .ui-btn-a {
        color: #3b96b6 !important;
    }

    /* subtext coloring*/
    .app-theme-gravity .app-field-label-after,
    .app-theme-gravity .app-field-label-before,
    .app-theme-gravity .app-field-label,
    .app-theme-gravity .ui-panel .app-item-desc,
    .app-theme-gravity .app-item-number,
    .app-data-input-popup li:not(.app-selected) span.app-text-normal {
        color: #3b96b6 !important;
    }

    .app-theme-gravity .ui-page-theme-b a:not(.ui-btn),
    .app-theme-gravity .ui-bar-b a:not(.ui-btn),
    .app-theme-gravity .ui-body-b a:not(.ui-btn),
    .app-theme-gravity .ui-group-theme-b a:not(.ui-btn) {
        color: #3b96b6 !important;
        text-decoration: none;
    }

        .app-theme-gravity .ui-page-theme-b a:not(.ui-btn):hover,
        .app-theme-gravity .ui-bar-b a:not(.ui-btn):hover,
        .app-theme-gravity .ui-body-b a:not(.ui-btn):hover,
        .app-theme-gravity .ui-group-theme-b a:not(.ui-btn):hover,
        .app-theme-gravity .ui-page-theme-b a:not(.ui-btn):active,
        .app-theme-gravity .ui-bar-b a:not(.ui-btn):active,
        .app-theme-gravity .ui-body-b a:not(.ui-btn):active,
        .app-theme-gravity .ui-group-theme-b a:not(.ui-btn):active {
            color: #3b96b6 !important;
            text-decoration: underline;
        }

    .app-theme-gravity .ui-btn p {
        color: #000 !important;
    }

    .app-theme-gravity .ui-li-aside,
    .app-theme-gravity .ui-btn .ui-li-aside,
    .app-theme-gravity .app-grid-header,
    .app-theme-gravity .app-calculated .app-static-text {
        color: #3b96b6 !important;
    }

    .app-theme-gravity .app-filter {
        color: #1964ec;
    }

    .app-theme-gravity .app-bar-heading .app-bar-label,
    .app-theme-gravity .app-static-text div,
    .app-theme-gravity .app-form-editing.app-formview label {
        color: #3b96b6;
    }

    .app-theme-gravity .app-wrapper,
    .app-theme-gravity .app-echo-instruction {
        color: #7f848b;
        text-shadow: none;
    }

    /*selected button*/
    .app-theme-gravity .app-selected,
    .app-theme-gravity .app-selected .app-frozen-spacer,
    .app-theme-gravity .app-checked,
    .app-theme-gravity .app-checked .app-frozen-spacer {
        background-color: #e8f1fa !important;
        border-color: #d9d9d9 !important;
    }

        .app-theme-gravity .app-selected:not(.ui-btn-active),
        .app-theme-gravity .app-selected:hover,
        .app-theme-gravity .app-selected:visited {
            color: #000 !important;
        }

    .app-theme-gravity .app-grid-header .app-selected:not(.ui-btn-active) {
        background-color: rgba(0,0,0,0.05) !important;
    }

    /* hover */
    .app-theme-gravity .ui-btn-a:hover:not(.ui-btn-active):not(.app-selected),
    body.app-desktop.app-theme-gravity .ui-page-theme-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-gravity .ui-bar-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-gravity .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body.app-desktop.app-theme-gravity .ui-group-theme-a .ui-btn:hover:not(.app-selected),
    html head + body.app-desktop.app-theme-gravity .ui-btn-a.ui-btn:hover:not(.app-selected),
    .app-desktop.app-theme-gravity .ui-listview a.ui-btn:hover:not(.app-selected) .app-frozen-spacer,
    .app-desktop [data-container="collapsible"] [data-container="toggle"]:hover:not(.ui-btn-active) {
        background-color: #e8f1fa;
        border-color: #d9d9d9;
    }

    .app-theme-gravity.app-desktop .app-grid-header span:hover:not(.ui-btn-active):not(.app-icon) {
        background-color: #e8f1fa;
    }

    /* selected hover*/
    html body.app-desktop.app-theme-gravity .ui-btn.app-selected:hover:not(.ui-btn-active),
    html body.app-desktop.app-theme-gravity .ui-btn.app-checked:hover:not(.ui-btn-active),
    .app-theme-gravity .app-echo-toolbar .app-selected:not(.ui-btn-active),
    .app-theme-gravity .app-echo-toolbar .app-selected:not(.ui-btn-active):hover,
    .app-theme-gravity .app-listview .app-selected:not(.ui-btn-active):hover .app-frozen-spacer,
    .app-theme-gravity .app-listview .app-checked:not(.ui-btn-active):hover .app-frozen-spacer {
        background-color: #e3ecf6 !important;
        color: #000 !important;
    }

    /* click */
    .app-theme-gravity .ui-title.ui-btn-active,
    .app-theme-gravity .app-grid-header .ui-btn-active,
    html body.app-theme-gravity .ui-btn.ui-btn-active,
    .app-theme-gravity .ui-btn.ui-btn-active .app-frozen-spacer,
    [data-container="collapsible"] [data-container="toggle"].ui-btn-active {
        background-color: #1964ec !important;
        color: #fff !important;
    }

    .app-theme-gravity .app-listview .ui-btn.app-selected::before,
    .app-theme-gravity [data-input="checkboxlist"] .app-data-list li.app-selected::after  {
        background-color: #1964ec;
    }

    .ui-btn.ui-btn-active::after,
    .app-btn-more.ui-btn-active::after {
        color: #1964ec;
    }

.app-theme-gravity [data-input] .app-data-list li.app-selected,
.app-theme-gravity [data-input] .app-data-list li::before,
.app-theme-gravity [data-input] .app-data-list li.app-selected::after {
    border-color: #1964ec;
}

    .app-theme-gravity .ui-panel-position-left .ui-btn-active .app-item-desc,
    .app-theme-gravity .ui-panel-position-right .ui-btn-active .app-item-desc,
    .app-theme-gravity #app-sidebar .ui-btn-active .app-item-desc,
    .app-theme-gravity .app-listview-static .ui-btn-active .app-item-desc,
    .app-theme-gravity .ui-btn-active p,
    .app-theme-gravity .ui-btn-active p.ui-li-aside,
    .app-theme-gravity .ui-btn.ui-btn-active span:not(.ui-li-count) {
        color: #fff !important;
    }

    .app-theme-gravity .dv-action-see-all .app-btn-prev.ui-btn-active,
    .app-theme-gravity .dv-action-see-all .app-btn-next.ui-btn-active {
        background-color: #1964EC;
        color: #fff;
    }

    .app-theme-gravity .app-btn-check:not(.app-btn-check-selected) {
        border-color: #D9D9D9 !important;
        background-color: transparent !important;
    }

    .app-theme-gravity .ui-btn.app-selected:not(.ui-btn-active) .app-btn-check:not(.app-btn-check-selected) {
        border-color: #D9D9D9 !important;
    }

    .app-theme-gravity .app-grid-header .app-btn-check:not(.app-btn-check-selected) {
        background-color: transparent !important;
        border-color: #D9D9D9 !important;
    }

    .app-theme-gravity .app-btn-check.app-btn-check-selected {
        border-color: #1964EC !important;
        background-color: #1964EC !important;
    }

    [data-input] .app-control-helper ul li.ui-btn-active,
    [data-input].app-has-focus .app-control-helper ul li.app-focus {
        border-color: #1964EC !important;
        background-color: #1964EC !important;
        color: #fff!important;
    }

    .app-theme-gravity .app-btn-check .app-icon-themed {
        fill: #fff;
    }

    /* tabs */
    .app-theme-gravity .app-tabs.ui-header {
        border-color: #aaa !important;
    }

    .app-theme-gravity .app-tabs .ui-btn {
        border-color: #1964ec !important;
        color: #3b96b6;
        background-color: #fff !important;
    }

        .app-theme-gravity .app-tabs .ui-btn.ui-btn-active {
            border-color: #1964ec !important;
            background-color: #1964ec !important;
            color: #fff !important;
        }

    .app-theme-gravity .ui-header .ui-btn-active {
        background-color: #1964ec !important;
        color: #fff !important;
    }

    /*toolbar button background*/
    .app-theme-gravity .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots) {
        background-color: #fff !important;
        border-color: #c0c0c0 !important;
    }

        .app-theme-gravity.app-desktop .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots):hover,
        .app-theme-gravity .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots).ui-btn-active {
            /*box-shadow: #c3d7e8 0 0 5px !important;*/
            border-color: #c3d7e8 !important;
        }

            .app-theme-gravity .ui-btn.ui-btn-icon-notext.ui-btn-active::after {
                border-color: #c3d7e8 !important;
            }

    .app-theme-gravity .ui-btn .glyphicon {
        color: #9a9a9a;
    }

    /*swatch b*/
    .app-theme-gravity .ui-btn.ui-btn-b,
    .app-theme-gravity .ui-btn.ui-btn-b:visited,
    .app-theme-gravity .app-panel-menu .ui-btn.ui-btn-b,
    body.app-theme-gravity:not(.app-desktop) li a.ui-btn-b:not(.ui-btn-active):hover {
        background-color: #f5f7f7;
        border-color: #f5f7f7;
        color: #3b96b6;
    }

    .app-theme-gravity .app-nav-panel .ui-btn.ui-btn-b {
        border-color: #f5f7f7 !important;
    }

    /*swatch b hover*/
    .app-theme-gravity.app-desktop .ui-btn.ui-btn-b:hover:not(.ui-btn-active) {
        background-color: #eff1f1;
        color: #000 !important;
    }

    .app-theme-gravity .ui-btn.ui-btn-b.ui-btn-active {
        background-color: #eff1f1;
        color: #fff !important;
    }

    /*swatch b divider*/
    .app-theme-gravity .ui-bar-b,
    .app-theme-gravity .ui-bar-b .ui-bar-inherit,
    html .app-theme-gravity.ui-body-b .ui-bar-inherit,
    html body.app-theme-gravity .ui-group-theme-b .ui-bar-inherit {
        border-color: #cbcbcb;
        background-color: #cbcbcb;
    }

    .app-theme-gravity .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b,
    .app-theme-gravity.app-desktop .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b:hover,
    .app-theme-gravity .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b.ui-btn-active {
        border-color: #aaaaaa !important;
    }

    /*fix for lookups/inputs*/
    .app-theme-gravity .ui-btn.app-lookup:not(.ui-btn-active):not(.ui-focus),
    .app-theme-gravity .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select:not(.ui-focus) .ui-btn:not(.ui-btn-active),
    .app-theme-gravity .ui-input-text:not(.ui-btn-active),
    .app-theme-gravity .app-form-editing .ui-input-text:not(.ui-btn-active),
    .app-theme-gravity .ui-input-search.ui-body-inherit {
        background-color: #fff;
        border-color: #d9d9d9;
        text-shadow: none;
    }

        .app-theme-gravity .ui-btn.app-lookup.ui-focus,
        .app-theme-gravity .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select.ui-focus .ui-btn:not(.ui-btn-active),
        .app-theme-gravity .ui-input-text.ui-focus,
        .app-theme-gravity .app-form-editing .ui-input-text.ui-focus,
        .app-theme-gravity .ui-input-search.ui-body-inherit.ui-focus,
        .app-theme-gravity .ui-checkbox label.ui-focus {
            border-color: #1964ec !important;
        }

    /* background bleed under form in editing mode*/
    .app-theme-gravity .ui-body-a.ui-collapsible-content {
        background-color: #fff;
        border-bottom-color: #d9d9d9 !important;
    }

    .app-theme-gravity .app-bar-tools .ui-input-search.ui-body-inherit {
        background-color: #fff;
    }

    .app-theme-gravity .app-lookup-input {
        background-color: transparent;
        /*color: #fff;*/
    }

@media (max-width: 40em) and (min-width: 0) {

    .app-theme-gravity .ui-header.ui-header-fixed.app-bar-tools.app-logo-hidden {
        background: linear-gradient(to bottom, #d3d3d3 0%,#e5e5e5 100%);
    }
}

.app-theme-gravity.app-sidebar-undocked .ui-header.ui-header-fixed.app-bar-tools.app-logo-hidden {
    background: linear-gradient(to bottom, #d3d3d3 0%,#e5e5e5 100%);
}


@media (min-width: 20em) {
    .app-theme-gravity .ui-header.ui-header-fixed.app-bar-tools {
        background-image: url(logo-black.png);
        background-image: url(logo-black.png), linear-gradient(to bottom, #d3d3d3 0%,#e5e5e5 100%);
        background-position: 32px center;
        background-size: 65px auto, 100% 100%;
        background-repeat: no-repeat, repeat;
    }

    body[dir="rtl"].app-theme-gravity .ui-header.ui-header-fixed.app-bar-tools {
        background-position: right 40px center;
    }
}

.app-theme-gravity .app-listview li .app-li-corner {
    color: #000;
    background-color: #c3d7e8;
}

.app-theme-gravity .ui-slider-label.ui-btn-active {
    background-color: #e8f1fa !important;
    color: #000 !important;
}

.app-theme-gravity .dataview-busy-indicator {
    background-color: #1964ec;
}

.app-theme-gravity .ui-bar-a .app-menu-strip .ui-btn:not(.ui-btn-active), .app-theme-gravity .ui-bar-a .app-user-name {
    color: #777 !important;
}

.app-theme-gravity .ui-bar-a .app-menu-strip .ui-btn:hover:not(.ui-btn-active),
.app-theme-gravity .ui-bar-a .app-menu-strip .ui-btn.app-selected:not(.ui-btn-active) {
    color: #333 !important;
}

.app-theme-gravity .app-chart .app-chart-inner {
    border-color: #d9d9d9;
}
.app-theme-gravity .app-calendar-plugin,
.app-theme-gravity .app-calendar {
    background-color: #fff;
    color: #000;
}

.app-theme-gravity .app-bar-calendar {
    background-color: #f6f7f8;
}

.app-theme-gravity .app-calendar-monthview .app-calendar-month table td.app-calendar-weekend {
    background-color: #f6f7f8;
}

.app-theme-gravity .app-calendar-yearview .app-calendar-month td:not(.app-current-day):not(.ui-btn-active).app-has-data {
    background-color: #ebebeb;
}

.app-theme-gravity .app-calendar-plugin,
.app-theme-gravity .app-calendar-color-legend,
.app-theme-gravity .app-calendar-monthview .app-calendar-month table,
.app-theme-gravity .app-calendar-monthview .app-calendar-month table td,
.app-theme-gravity .app-calendar-day > div > div,
.app-theme-gravity .app-bar-calendar .app-week-header li.last-day-of-week,
.app-theme-gravity .app-calendar-week-grid .app-calendar-day > div {
    border-color: #d9d9d9;
}

    .app-theme-gravity .app-calendar-plugin span.app-current-day,
    .app-theme-gravity .app-calendar-monthview .app-current-day,
    .app-theme-gravity .app-calendar-yearview .app-current-day,
    .app-theme-gravity .app-week-header .app-current-day,
    .app-theme-gravity .app-day-header .visible-day.app-current-day,
    .app-theme-gravity .app-has-current-day .current-time-line .dot {
        background-color: #1964ec;
    }

.app-theme-gravity .app-has-current-day .current-time-line {
    border-color: #1964ec;
}

.app-calendar-plugin-container .app-time-container .app-selected,
.app-calendar-plugin-container .app-time-header .app-cal-selected,
.app-theme-gravity .app-day-header :not(.ui-btn-active).ui-btn .app-current-day,
.app-theme-gravity .app-has-current-day .app-current-time,
.app-theme-gravity .app-calendar-agenda-list > li.app-has-current-day h2:not(.ui-btn-active) > span,
.app-theme-gravity .app-calendar-agenda-list li.app-time-line-container > .app-event-time,
.app-theme-gravity .app-calendar-plugin .app-date-selector-container .app-current:not(.ui-btn-active) {
    color: #1964ec;
}

.app-calendar-plugin-container .app-time-selector .app-time-hand,
.app-calendar-plugin-container .app-time-hand > span,
.app-calendar-plugin table tr.ui-btn-active td,
.app-calendar-plugin table tr.ui-btn-active td:hover,
.app-calendar-plugin table td.ui-btn-active,
.app-calendar-plugin table td.ui-btn-active:hover,
.app-calendar-yearview .app-calendar-month td.ui-btn-active {
    background-color: #1964ec !important;
}

.app-theme-gravity .app-calendar-month-header,
.app-theme-gravity .app-calendar-month-header h1 {
    color: #3b96b6 !important;
}

/***** bootstrap *****/

.app-theme-gravity .app-bootstrap a:not(.btn),
.app-theme-gravity body:not(.app-desktop) .app-bootstrap a:hover {
    color: #3b96b6;
}

.app-theme-gravity .dropdown-menu > li > a:not(.ui-btn),
body:not(.app-desktop) .dropdown-menu > li > a:hover {
    color: #777 !important;
}

.app-theme-gravity .jumbotron {
    background-color: #ebedf0;
}

.app-theme-gravity .btn-default,
.app-theme-gravity .btn-default:focus,
.app-theme-gravity .btn-default:visited {
    background-color: #ebebeb;
    border-color: #d9d9d9;
    color: #333 !important;
}

.app-theme-gravity.app-desktop .btn-default:hover {
    background-color: #e8f1fa;
    border-color: #aaa;
}

.app-theme-gravity .app-bootstrap .btn-primary,
body.app-theme-gravity:not(.app-desktop) .app-bootstrap .btn-primary:hover,
.app-theme-gravity .app-bootstrap .label-primary,
.app-theme-gravity .app-bootstrap .panel-primary .panel-heading {
    background-color: #a845ac;
    border-color: #a845ac;
    color: #fff !important;
}

.app-theme-gravity .app-bootstrap .panel-primary {
    border-color: #a845ac;
}

.app-theme-gravity.app-desktop .app-bootstrap .btn-primary:hover,
.app-theme-gravity.app-desktop .app-bootstrap .btn-primary:focus {
    background-color: #a72bab;
    border-color: #a72bab;
    color: #fff !important;
}

.app-theme-gravity .app-bootstrap .btn.ui-btn-active,
.app-theme-gravity .app-bootstrap .btn.ui-btn-active:hover,
.app-theme-gravity .app-bootstrap .btn.ui-btn-active:focus,
.app-theme-gravity .app-bootstrap .list-group-item.ui-btn-active,
.app-theme-gravity .app-bootstrap .list-group-item.ui-btn-active:hover,
.app-theme-gravity .app-bootstrap .list-group-item.ui-btn-active:focus,
.app-theme-gravity .app-bootstrap .list-group-item.ui-btn-active .list-group-item-text,
.app-theme-gravity .app-bootstrap .list-group-item.ui-btn-active .list-group-item-heading {
    background-color: #1964ec !important;
    border-color: #1964ec !important;
    color: #fff !important;
}

.app-theme-gravity .app-bootstrap .nav .ui-btn-active,
.app-theme-gravity .app-bootstrap .nav .ui-btn-active:hover,
.app-theme-gravity .app-bootstrap .nav .ui-btn-active:focus {
    background-color: #1964ec !important;
    border-color: #d9d9d9 !important;
    color: #fff !important;
}

.app-theme-gravity .table,
.app-theme-gravity .table > thead > tr > th,
.app-theme-gravity .table > tbody > tr > th,
.app-theme-gravity .table > tfoot > tr > th,
.app-theme-gravity .table > thead > tr > td,
.app-theme-gravity .table > tbody > tr > td,
.app-theme-gravity .table > tfoot > tr > td,
.app-theme-gravity .list-group-item:not(.active) {
    background-color: #ebebeb;
    border-color: #d9d9d9;
}

.app-theme-gravity.app-desktop a.list-group-item:hover:not(.active) {
    background-color: #e8f1fa;
}

.app-theme-gravity .table > thead > tr > th,
.app-theme-gravity .table > tbody > tr > th,
.app-theme-gravity .table > tfoot > tr > th {
    color: #333;
    background-color: #f6f7f8;
}

.app-theme-gravity .table-striped > tbody > tr:nth-child(2n+1) > td,
.app-theme-gravity .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #e6e6e6;
}

.app-theme-gravity.app-desktop .navbar-default .navbar-toggle:hover,
.app-theme-gravity .app-bootstrap .navbar-default .navbar-toggle:focus,
.app-theme-gravity .list-group-item.active:not(.btn),
.app-theme-gravity .list-group-item.active:not(.btn):hover,
.app-theme-gravity .list-group-item.active:not(.btn):focus,
.app-theme-gravity .nav-pills > li.active > a,
.app-theme-gravity .nav-pills > li.active > a:hover,
.app-theme-gravity .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #1964ec;
    border-color: #aaa;
}

.app-theme-gravity .list-group-item.active .list-group-item-text {
    color: #fff;
}

.app-theme-gravity .list-group-item:not(.active):not(.ui-btn-active):hover,
.app-theme-gravity .list-group-item:not(.active):not(.ui-btn-active):hover .list-group-item-text {
    color: #000 !important;
}

.app-theme-gravity .list-group-item.active > .badge,
.app-theme-gravity .nav-pills > .active > a > .badge {
    color: #1964ec !important;
}

.app-theme-gravity .navbar-default .navbar-toggle .icon-bar {
    background-color: #aaa;
}

.app-desktop.app-theme-gravity .navbar-default .navbar-toggle:hover .icon-bar,
.app-desktop.app-theme-gravity .navbar-default .navbar-toggle:active .icon-bar,
.app-desktop.app-theme-gravity .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.app-theme-gravity .img-thumbnail {
    background-color: #ebebeb;
    border-color: #d9d9d9;
}

.app-theme-gravity .page-header,
.app-theme-gravity .nav-tabs {
    border-color: #d9d9d9;
}

    .app-theme-gravity .nav-tabs > li.active > a,
    .app-theme-gravity .nav-tabs > li.active > a:hover,
    .app-theme-gravity .nav-tabs > li.active > a:focus {
        border-top-color: #d9d9d9;
        border-left-color: #d9d9d9;
        border-right-color: #d9d9d9;
    }

.app-theme-gravity.app-desktop .nav > li:not(.active) > a:hover,
.app-theme-gravity.app-desktop .nav > li:not(.active) > a:focus {
    background-color: rgba(255,255,255,0.25);
    border-color: #aaa;
}

.app-theme-gravity.app-desktop .nav-tabs > li:not(.active) > a:hover,
.app-theme-gravity .nav-tabs > li:not(.active) > a:focus,
.app-theme-gravity.app-desktop .nav-pills > li:not(.active) > a:hover,
.app-theme-gravity .nav-pills > li:not(.active) > a:focus {
    background-color: #e8f1fa;
}

.app-theme-gravity .navbar-default {
    background-color: #d3d3d3;
    background-image: linear-gradient(to bottom,#d3d3d3 0%,#e5e5e5 100%);
    border-color: #aaa;
}

    .app-theme-gravity .navbar-default .navbar-brand,
    .app-theme-gravity .navbar-default .navbar-brand:hover {
        color: #333 !important;
    }

    .app-theme-gravity .navbar-default .navbar-nav > li > a {
        color: #333 !important;
    }

.app-theme-gravity.app-desktop .navbar-default a.navbar-brand:hover,
.app-theme-gravity .app-bootstrap .navbar-default a.navbar-brand.ui-btn-active,
.app-theme-gravity.app-desktop .navbar-default .navbar-nav > li > a:hover {
    color: #000 !important;
}

.app-theme-gravity .app-bootstrap .navbar-default .navbar-nav > .active > a,
.app-theme-gravity .app-bootstrap .navbar-default .navbar-nav > .active > a:hover,
.app-theme-gravity .app-bootstrap .navbar-default .navbar-nav > .active > a:focus,
.app-theme-gravity .app-bootstrap .navbar-default .navbar-nav > .open > a,
.app-theme-gravity .app-bootstrap .navbar-default .navbar-nav > .open > a:hover,
.app-theme-gravity .app-bootstrap .navbar-default .navbar-nav > .open > a:focus {
    color: #000 !important;
    background-color: rgba(0,0,0,.05);
}

.app-theme-gravity .well {
    background-color: #ebebeb;
    border-color: #d9d9d9;
}

@media all and (max-width:767px) {
    .app-sidebar-undocked.app-theme-gravity .navbar-nav .open .dropdown-menu {
        background-color: #ebebeb;
    }

    .app-sidebar-undocked.app-theme-gravity.app-desktop .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .app-sidebar-undocked.app-theme-gravity .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #e8f1fa;
    }
}

.app-theme-gravity .dropdown-menu {
    background-color: #ebebeb;
}

    .app-theme-gravity .dropdown-menu .divider {
        background-color: #d9d9d9;
    }

    .app-theme-gravity.app-desktop .dropdown-menu > li > a:hover,
    .app-theme-gravity .dropdown-menu > li > a:focus {
        background-color: #e8f1fa;
    }

.app-theme-gravity .navbar-default .navbar-collapse,
.app-theme-gravity .navbar-default .navbar-form,
.app-theme-gravity .navbar-default .navbar-toggle {
    border-color: #aaa;
}

.app-theme-gravity .navbar-inverse a:not(.ui-btn) {
    color: #777 !important;
}

.app-theme-gravity.app-desktop .navbar-inverse a.navbar-brand:hover,
.app-theme-gravity.app-desktop .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff !important;
}

.app-theme-gravity .navbar-inverse .navbar-nav > .active > a,
.app-theme-gravity .navbar-inverse .navbar-nav > .active > a:hover,
.app-theme-gravity .navbar-inverse .navbar-nav > .active > a:focus,
.app-theme-gravity .navbar-inverse .navbar-nav > .open > a,
.app-theme-gravity .navbar-inverse .navbar-nav > .open > a:hover,
.app-theme-gravity .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff !important;
}