/* grey drop icon - #333333 */
.app-theme-belltown .app-menu-strip a.ui-btn.app-has-children:not(.ui-btn-active)::after {
    border-top-color: #333;
}

/*********************************/
/* THEME: belltown              */
/*******************************/

.app-theme-belltown,
.app-theme-belltown .ui-page-theme-a,
.app-theme-belltown .app-page-header {
    background-color: #fff;
    scrollbar-base-color: #a9c6c3;
    scrollbar-track-color: #7bb2ac;
    scrollbar-arrow-color: #fff;
    scrollbar-shadow-color: #2d7f75;
}

    .app-theme-belltown.app-desktop ::-webkit-scrollbar-track {
        background-color: #7bb2ac;
    }

    .app-theme-belltown.app-desktop ::-webkit-scrollbar-thumb {
        background-color: #a9c6c3;
        border: solid 1px #2d7f75;
    }

        .app-theme-belltown.app-desktop ::-webkit-scrollbar-thumb:hover {
            background-color: #95c7c2;
        }

    .app-theme-belltown .app-page-header {
        color: #1f1f1f;
    }

    .app-theme-belltown .ui-page-theme-a .ui-panel-wrapper,
    .app-theme-belltown .ui-panel,
    .app-theme-belltown .app-page-header,
    .app-theme-belltown .app-status-bar,
    .app-bar-footer.ui-bar-inherit {
        background-color: #a9c6c3;
        border-color: #2d7f75;
    }

    .app-theme-belltown .app-status-bar {
        color: #000;
    }

    .app-theme-belltown .app-form-editing.app-formview .app-static-text div,
    .app-theme-belltown .app-page-menu-desc,
    .app-theme-belltown .ui-checkbox label {
        text-shadow: none !important;
    }

    /*popup*/
    .app-theme-belltown .app-popup-message,
    .app-theme-belltown .ui-content.app-map-info {
        background-color: #a9c6c3;
        border-color: #7bb2ac;
        text-shadow: none;
        color: #000;
    }

        .app-theme-belltown .app-popup-message .ui-popup-arrow {
            background-color: #a9c6c3;
        }

        .app-theme-belltown .app-popup-message div {
            color: #7bb2ac;
        }
        
    .app-data-input-popup .app-selected .app-caret-r .app-caret {
        border-left-color: #000;
    }

    /* page header */
    .app-theme-belltown .app-bar-tools.ui-bar-a,
    .app-theme-belltown :not(.app-tabs).ui-header-fixed.ui-header,
    .app-theme-belltown .ui-header,
    .app-theme-belltown .ui-footer {
        background-color: #a9c6c3;
        border-color: #2d7f75;
        text-shadow: none;
    }

    .app-theme-belltown .app-popup-listview .ui-popup-arrow,
    .app-theme-belltown .app-popup-listview {
        background-color: #a9c6c3 !important;
        border-color: #a9c6c3 !important;
    }

    .app-theme-belltown .app-page-header {
        border-color: #2d7f75 !important;
    }


    /* list dividers*/
    .app-theme-belltown .ui-li-divider {
        background-color: #7bb2ac;
        border-color: #2d7f75;
        color: #555;
        text-shadow: none;
    }

    .app-theme-belltown ui-li-divider,
    .app-theme-belltown .ui-content.app-page-tasks .app-listview .ui-li-divider:not(.ui-bar-b) {
        /*background-color: #ddc1f4;*/
        /*border-color: #2d7f75;*/
        /*color: #fff;*/
        text-shadow: none;
    }

    /* view descriptions*/
    .app-theme-belltown .ui-listview .app-list-instruction.ui-li-divider,
    .app-theme-belltown .ui-content:not(.app-page-tasks) .app-listview .ui-li-divider:not(.ui-bar-b):not(.ui-bar-inherit),
    .app-theme-belltown .app-presenter-instruction,
    .app-theme-belltown .app-grid-header .app-frozen-spacer {
        background-color: #f2f2f2 !important;
        border-color: #7bb2ac !important;
        color: #1d092d;
    }

    body:not(.app-sidebar-undocked).app-theme-belltown .ui-header-fixed .ui-title,
    body:not(.app-sidebar-undocked).app-theme-belltown .app-sidebar,
    .app-theme-belltown .app-divider:not(.ui-collapsible):not(.app-calculated),
    .app-theme-belltown .app-echo,
    .app-theme-belltown .app-header {
        border-color: #2d7f75 !important;
    }

    .app-theme-belltown .app-bar-heading {
        background-color: #f2f2f2;
        color: #1d092d;
        text-shadow: none;
    }

    .app-theme-belltown .ui-body-a,
    .app-theme-belltown .app-li-card,
    .app-theme-belltown .ui-page-theme-a .ui-body-inherit:not(.ui-focus),
    .app-theme-belltown .app-li-card {
        background-color: #fff;
        border-color: #7bb2ac;
        /*color: #fff;*/
        text-shadow: none;
    }

    .app-theme-belltown .ui-panel .ui-body-a {
        border-color: #2d7f75 !important;
    }

    .app-theme-belltown .ui-page-theme-a .app-formview .ui-body-inherit:not(.ui-focus) {
        background-color: #fff;
    }


    /*sidebar customizations*/
    .app-theme-belltown .ui-body-a.app-sidebar {
        background-color: #a9c6c3;
    }

    .app-theme-belltown.app-sidebar-undocked .app-form-grid .ui-collapsible-set,
    .app-theme-belltown .ui-listview-inset .ui-li-divider:not(.ui-bar-a) {
        border-color: #7bb2ac;
    }

    .app-theme-belltown .ui-li-divider.app-info {
        background-color: #fff !important;
    }

        .app-theme-belltown .ui-li-divider.app-info .appname {
            color: #000066;
        }

    /* fix for form "card" */
    .app-theme-belltown .ui-page-theme-a .ui-body-inherit.app-li-card {
        border-top-color: #7bb2ac;
        border-left-color: #7bb2ac;
        border-right-color: #7bb2ac;
    }

    /*.app-theme-belltown .ui-listview-inset {
        background-color: #ebf3ff;
    }*/

    .app-theme-belltown .app-form-editing.app-formview .ui-field-contain {
        border-top-color: transparent;
    }


    /*buttons*/
    .app-theme-belltown .app-page-header,
    .app-theme-belltown .ui-page-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-belltown .ui-bar-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-belltown .ui-body-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html body.app-theme-belltown .ui-group-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html head + body.app-theme-belltown .ui-btn-a.ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    .app-theme-belltown .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-belltown .ui-bar-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-belltown .ui-body-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html body.app-theme-belltown .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html head + body.app-theme-belltown .ui-btn-a.ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    .app-theme-belltown .app-form-grid .ui-collapsible-set,
    /* button overrides to remove "hover" on touch screens */
    body.app-theme-belltown:not(.app-desktop) li a:hover:not(.app-selected):not(.ui-btn-b),
    body:not(.app-desktop).app-theme-belltown .ui-page-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-belltown .ui-bar-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-belltown .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-belltown .ui-group-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html head + body:not(.app-desktop).app-theme-belltown .ui-btn-a.ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    .app-theme-belltown .app-tabs.ui-header,
    .app-theme-belltown #app-welcome .ui-btn,
    .app-theme-belltown #app-popup-login .ui-btn,
    .app-theme-belltown .ui-listview .app-frozen-spacer,
    .app-theme-belltown .app-grid-header,
    .app-theme-belltown .app-echo .dv-item, 
    .app-echo .app-grid .ui-last-child,
    .app-theme-belltown .app-echo .app-listview,
    .app-theme-belltown [data-container],
    .app-theme-belltown [data-layout="form"] {
        border-color: #7bb2ac;
    }

        .app-theme-belltown .app-grid-header .app-field-separator::after,
        .app-theme-belltown .app-calculated .app-field-separator::after {
            background-color: #7bb2ac;
        }

    .app-theme-belltown .ui-body-b .ui-btn-a,
    .app-theme-belltown .ui-body-b .ui-btn-a.ui-btn-active {
        border-color: #a9c6c3 !important;
    }

    .app-theme-belltown.app-has-popup-open .app-menu-strip .ui-btn:hover {
        background-color: #a9c6c3 !important;
    }

    .app-theme-belltown .ui-page-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-belltown .ui-bar-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-belltown .ui-body-a .ui-btn:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body.app-theme-belltown .ui-group-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html head + body.app-theme-belltown .ui-btn-a.ui-btn:not(.app-selected):not(.app-lookup),
    .app-theme-belltown .ui-panel-page-container-a:not(.app-lookup),
    .app-theme-belltown .app-tabs.ui-header:not(.app-lookup),
    .app-theme-belltown .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-belltown .ui-bar-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-belltown .ui-body-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html body.app-theme-belltown .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off),
    html head + body.app-theme-belltown .ui-btn-a.ui-btn:visited:not(.app-selected),
    .app-theme-belltown .app-tabs .ui-btn:not(.ui-btn-active):not(.app-selected),
    body.app-desktop.app-theme-belltown .app-grid.app-listview :not(.app-selected):not(:hover):not(.ui-btn-active).ui-btn,
    .app-theme-belltown #app-welcome .ui-btn:not(:hover),
    .app-theme-belltown #app-popup-login .ui-btn:not(:hover),
    .app-theme-belltown .app-map-info .ui-popup-arrow,
    .app-theme-belltown .ui-listview .app-frozen-spacer,
    .app-theme-belltown [data-container="toggle"],
.app-listview.app-grid .ui-btn:not(:hover):not(.app-selected):not(.ui-btn-active):not(.app-checked), 
body:not(.app-desktop) .app-listview.app-grid .ui-btn:hover:not(.app-selected):not(.ui-btn-active):not(.app-checked) {
        /*color: #000;*/
        background-color: #dce5e4;
    }

    /* top border of Info button in sidebar */
    .app-theme-belltown .app-sidebar .ui-btn.ui-icon-info {
        border-color: #2d7f75 !important;
    }

    /* navigation panel selected item color fix*/
    .app-theme-belltown .app-nav-panel .ui-btn-a {
        color: #1f1f1f !important;
    }

    /* subtext coloring*/
    .app-theme-belltown .app-field-label-after,
    .app-theme-belltown .app-field-label-before,
    .app-theme-belltown .app-field-label,
    .app-theme-belltown .ui-panel li:not(.ui-body-b) .app-item-desc,
    .app-theme-belltown .ui-li-aside,
    .app-theme-belltown .ui-btn .ui-li-aside,
    .app-theme-belltown .app-grid-header,
    .app-theme-belltown .app-panel-info-view .app-list-instruction,
    .app-theme-belltown a:not(.ui-btn):not(.btn),
    .app-theme-belltown .app-calculated .app-static-text,
    .app-theme-belltown .app-item-number,
    .app-data-input-popup li:not(.app-selected) span.app-text-normal {
        color: #000066 !important;
    }

        .app-theme-belltown a:not(.ui-btn):not(.btn):hover,
        .app-theme-belltown a:not(.ui-btn):not(.btn):active {
            color: #7e7eb7 !important;
        }


    .app-theme-belltown .app-filter {
        color: #a17700;
    }

    .app-theme-belltown .ui-btn p {
        color: #000 !important;
    }

    .app-theme-belltown .app-bar-heading .app-bar-label,
    .app-theme-belltown .app-static-text div,
    .app-theme-belltown .app-form-editing.app-formview label {
        color: #003399;
    }

    .app-theme-belltown .app-wrapper,
    .app-theme-belltown .app-echo-instruction {
        color: #1d092d;
        text-shadow: none;
    }

    /* hover */
    .app-theme-belltown .ui-btn-a:hover:not(.ui-btn-active):not(.app-selected),
    .app-desktop.app-theme-belltown .ui-page-theme-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-belltown .ui-bar-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-belltown .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body.app-desktop.app-theme-belltown .ui-group-theme-a .ui-btn:hover:not(.app-selected),
    html head + body.app-desktop.app-theme-belltown .ui-btn-a.ui-btn:hover:not(.app-selected),
    .app-theme-belltown #app-welcome .ui-btn:hover:not(.ui-btn-active),
    .app-theme-belltown #app-popup-login .ui-btn:hover:not(.ui-btn-active),
    .app-desktop.app-theme-belltown .ui-listview a.ui-btn:hover:not(.app-selected) .app-frozen-spacer,
    .app-desktop [data-container="collapsible"] [data-container="toggle"]:hover:not(.ui-btn-active) {
        background-color: #d9e2e1;
        border-color: #7bb2ac;
    }

    .app-theme-belltown.app-desktop .app-grid-header span:hover:not(.ui-btn-active):not(.app-icon) {
        background-color: #d9e2e1;
    }

    /*selected button*/
    .app-theme-belltown .app-selected:not(.ui-btn-active),
    .app-theme-belltown .app-checked:not(.ui-btn-active),
    .app-theme-belltown .app-selected:hover,
    .app-theme-belltown .app-selected:visited,
    .app-theme-belltown .app-selected .app-frozen-spacer,
    .app-theme-belltown .app-checked .app-frozen-spacer {
        background-color: #adc8c5 !important;
        border-color: #7bb2ac !important;
        color: #000 !important;
    }

    .app-theme-belltown .app-grid-header .app-selected:not(.ui-btn-active) {
        background-color: rgba(0,0,0,0.05) !important;
    }

    /* selected hover*/
    html body.app-desktop.app-theme-belltown .ui-btn.app-selected:hover:not(.ui-btn-active),
    html body.app-desktop.app-theme-belltown .ui-btn.app-checked:hover:not(.ui-btn-active),
    .app-theme-belltown .app-echo-toolbar .app-selected:not(.ui-btn-active),
    .app-theme-belltown .app-echo-toolbar .app-selected:not(.ui-btn-active):hover,
    .app-theme-belltown .app-listview .app-selected:not(.ui-btn-active):hover .app-frozen-spacer,
    .app-theme-belltown .app-listview .app-checked:not(.ui-btn-active):hover .app-frozen-spacer {
        background-color: #a9c6c3 !important;
        border-color: #7bb2ac !important;
        color: #000 !important;
    }

    /* click */

    .app-theme-belltown .app-grid-header .ui-btn-active,
    [data-container="collapsible"] [data-container="toggle"].ui-btn-active {
        background-color: #FFD253 !important;
        color: #000 !important;
    }

    .app-theme-belltown .app-listview .ui-btn.app-selected::before,
    .app-theme-belltown [data-input="checkboxlist"] .app-data-list li.app-selected::after  {
        background-color: #FFD253;
    }
    .ui-btn.ui-btn-active::after,
    .app-btn-more.ui-btn-active::after {
        color: #FFD253;
    }

    .dv-item .ui-btn-active .app-btn-more::after {
        color: #000!important;
    }

    .dv-item .ui-btn-active .app-btn-check.app-btn-check-selected {
        border-color: #000!important;
    }

.app-theme-belltown [data-input] .app-data-list li.app-selected,
.app-theme-belltown [data-input] .app-data-list li::before,
.app-theme-belltown [data-input] .app-data-list li.app-selected::after {
    border-color: #FFD253;
}

    .app-theme-belltown .ui-title.ui-btn-active,
    .app-theme-belltown .ui-btn.ui-btn-active,
    .app-theme-belltown .app-bar-tools .ui-btn.ui-btn-active,
    .app-theme-belltown .ui-btn.ui-btn-active .app-frozen-spacer {
        background-color: #FFD253 !important;
        border-color: #7bb2ac !important;
        color: #000 !important;
    }


        .app-theme-belltown .ui-panel-position-left .ui-btn-active .app-item-desc,
        .app-theme-belltown .ui-panel-position-right .ui-btn-active .app-item-desc,
        .app-theme-belltown #app-sidebar .ui-btn-active .app-item-desc,
        .app-theme-belltown .app-listview-static .ui-btn-active .app-item-desc,
        .app-theme-belltown .ui-btn-active p,
        .app-theme-belltown .ui-btn-active p.ui-li-aside,
        .app-theme-belltown .ui-btn.ui-btn-active span:not(.ui-li-count) {
            color: #000 !important;
        }



    .app-theme-belltown .dv-action-see-all .app-btn-prev.ui-btn-active,
    .app-theme-belltown .dv-action-see-all .app-btn-next.ui-btn-active {
        background-color: #FFD253;
        color: #000;
    }

    .app-theme-belltown .app-btn-check:not(.app-btn-check-selected) {
        border-color: #7BB2AC !important;
        background-color: transparent !important;
    }

    .app-theme-belltown .ui-btn.app-selected:not(.ui-btn-active) .app-btn-check:not(.app-btn-check-selected) {
        border-color: #7BB2AC !important;
    }

    .app-theme-belltown .app-grid-header .app-btn-check:not(.app-btn-check-selected) {
        background-color: transparent !important;
        border-color: #7BB2AC !important;
    }

    .app-theme-belltown .app-btn-check.app-btn-check-selected {
        border-color: #FFD253 !important;
        background-color: #FFD253 !important;
    }

    [data-input] .app-control-helper ul li.ui-btn-active,
    [data-input].app-has-focus .app-control-helper ul li.app-focus {
        border-color: #FFD253 !important;
        background-color: #FFD253 !important;
    }

    [data-input].app-has-focus .app-control-helper ul li.app-focus,
    [data-input] .app-control-helper ul li.app-focus::after {
        color: #000;
        border-top-color: #000;
    }

    .app-theme-belltown .app-btn-check .app-icon-themed {
        fill: #000;
    }

    /* tabs */

    .app-theme-belltown .app-tabs.ui-header {
        border-color: #2d7f75;
    }

    .app-theme-belltown .app-tabs .ui-btn {
        border-color: #2d7f75 !important;
        color: #000 !important;
        background-color: #dce5e4;
    }

        .app-theme-belltown .app-tabs .ui-btn.ui-btn-active {
            border-color: #2d7f75 !important;
            background-color: #2d7f75 !important;
            color: #fff !important;
        }

    /*button on header bar*/

    .app-theme-belltown.app-desktop .app-bar-tools .ui-btn.ui-btn-icon-notext:hover:not(.ui-btn-active) {
        border-color: #2d7f75 !important;
        background-color: #a9c6c3 !important;
    }

    /* for reference/call button in forms*/
    .app-theme-belltown.app-desktop .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots):hover {
        border-color: #2d7f75 !important;
    }

    .app-theme-belltown .ui-btn.ui-btn-icon-notext:not(.ui-radio-on):not(.ui-icon-dots)::after,
    .app-theme-belltown .ui-btn.ui-btn-icon-left:not(.ui-radio-on)::after,
    .app-theme-belltown .ui-btn.ui-btn-icon-right:not(.ui-radio-on):not(.app-btn-icon-transparent)::after,
    .app-theme-belltown .ui-btn.ui-btn-icon-top:not(.ui-radio-on)::after,
    .app-theme-belltown .ui-btn.ui-btn-icon-bottom:not(.ui-radio-on)::after,
    .app-theme-belltown .ui-checkbox-on:after,
    .app-theme-belltown .ui-flipswitch-active,
    .app-theme-belltown .ui-slider-track .ui-btn-active {
        background-color: #2d7f75 !important;
    }

    .app-theme-belltown .ui-btn .glyphicon {
        color: #2d7f75;
    }

    .app-theme-belltown .app-icon-themed {
        fill: #2d7f75;
    }

    .app-theme-belltown .ui-btn-active .app-icon-themed {
        fill: #000;
    }

    .app-theme-belltown .ui-radio-on:after,
    .app-theme-belltown .ui-slider-track .ui-btn-active,
    .app-theme-belltown .ui-flipswitch-active {
        border-color: #2d7f75 !important;
    }


    .app-theme-belltown .ui-btn.ui-btn-active.ui-btn-icon-notext:not(.ui-icon-dots):not(.app-btn-more)::after,
    .app-theme-belltown .ui-btn.ui-btn-active.ui-btn-icon-left::after,
    .app-theme-belltown .ui-btn.ui-btn-active.ui-btn-icon-right:not(.app-btn-icon-transparent)::after,
    .app-theme-belltown .ui-btn.ui-btn-active.ui-btn-icon-top::after,
    .app-theme-belltown .ui-btn.ui-btn-active.ui-btn-icon-bottom::after {
        background-color: #9e885e !important;
    }

    .app-theme-belltown .ui-btn.ui-btn-active.ui-btn-icon-notext.app-btn-promo::after {
        background-color: #FFD253 !important;
    }

    /*swatch b*/
    .app-theme-belltown .ui-btn.ui-btn-b,
    .app-theme-belltown .ui-btn.ui-btn-b:visited,
    .app-theme-belltown:not(.app-desktop) li a.ui-btn-b:not(.ui-btn-active):hover {
        background-color: #94adce;
        border-color: #a9c6c3;
        color: #1d092d;
    }

        /*swatch b hover*/

        .app-theme-belltown .ui-btn.ui-btn-b.ui-btn-active,
        .app-theme-belltown.app-desktop .ui-btn.ui-btn-b:hover,
        .app-theme-belltown .app-popup .ui-content .ui-checkbox .ui-btn:hover,
        .app-theme-belltown .app-popup .ui-content .ui-checkbox .ui-btn.ui-focus:hover {
            background-color: #8ba5c6;
            border-color: #a9c6c3;
            color: #1d092d !important;
        }

    .app-theme-belltown .app-nav-panel .ui-btn.ui-btn-b {
        border-color: #a9c6c3 !important;
    }

    .app-theme-belltown .ui-btn.ui-btn-b.ui-btn-active,
    .app-theme-belltown.app-desktop .ui-btn.ui-btn-b.ui-btn-active:hover {
        color: #000 !important;
    }

    .app-theme-belltown .ui-body-a:not(#app-popup-login):not(#app-welcome) .ui-btn-b,
    .app-theme-belltown.app-desktop .ui-body-a:not(#app-popup-login):not(#app-welcome) .ui-btn-b:hover,
    .app-theme-belltown .ui-body-a:not(#app-popup-login):not(#app-welcome) .ui-btn-b.ui-btn-active {
        border-color: #2d7f75 !important;
    }

    /*swatch b divider*/
    .app-theme-belltown .ui-bar-b,
    .app-theme-belltown .ui-bar-b .ui-bar-inherit,
    html .app-theme-belltown.ui-body-b .ui-bar-inherit,
    html body.app-theme-belltown .ui-group-theme-b .ui-bar-inherit {
        border-color: #7bb2ac;
        background-color: #a9c6c3;
    }

    /*fix for lookups/inputs*/
    .app-theme-belltown .ui-btn.app-lookup:not(.ui-btn-active):not(.ui-focus),
    .app-theme-belltown .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select:not(.ui-focus) .ui-btn:not(.ui-btn-active),
    .app-theme-belltown .ui-input-text:not(.ui-btn-active),
    .app-theme-belltown .app-form-editing .ui-input-text:not(.ui-btn-active),
    .app-theme-belltown .ui-input-search.ui-body-inherit {
        background-color: #fff;
        border-color: #7bb2ac;
        text-shadow: none;
        /*color: #fff;*/
    }

        .app-theme-belltown .ui-btn.app-lookup.ui-focus,
        .app-theme-belltown .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select.ui-focus .ui-btn:not(.ui-btn-active),
        .app-theme-belltown .ui-input-text.ui-focus,
        .app-theme-belltown .app-form-editing .ui-input-text.ui-focus,
        .app-theme-belltown .ui-input-search.ui-body-inherit.ui-focus,
        .app-theme-belltown .ui-checkbox label.ui-focus {
            border-color: #FFD253 !important;
        }

    .app-theme-belltown .ui-slider {
        border-color: #2d7f75 !important;
    }

    .app-theme-belltown .ui-slider-label.ui-btn-active {
        background-color: #ffe6a0 !important;
    }

    /* background bleed under form in editing mode*/
    .app-theme-belltown .ui-body-a.ui-collapsible-content {
        background-color: #fff;
    }

    .app-theme-belltown .app-bar-tools .ui-input-search.ui-body-inherit {
        background-color: #fff;
    }

    .app-theme-belltown .ui-btn.app-lookup,
    .app-theme-belltown .ui-btn.ui-btn-active.app-lookup {
        border-color: #2d7f75;
    }

    .app-theme-belltown .app-lookup-input {
        background-color: transparent;
        /*color: #fff;*/
    }

    .app-theme-belltown .app-grid-header {
        color: #999;
    }

@media (min-width: 20em) {

    .app-theme-belltown .ui-header.ui-header-fixed.app-bar-tools {
        background-image: url(logo-color.png);
    }
}

.app-theme-belltown .app-listview li .app-li-corner {
    color: #000;
    background-color: #ffe6a0;
}

.app-theme-belltown .dataview-busy-indicator {
    background-color: #FFD253;
}

.app-theme-belltown .ui-bar-a .app-menu-strip .ui-btn:not(.ui-btn-active), .app-theme-belltown .ui-bar-a .app-user-name {
    color: #333 !important;
}

.app-theme-belltown .ui-bar-a .app-menu-strip .ui-btn:hover:not(.ui-btn-active),
.app-theme-belltown .ui-bar-a .app-menu-strip .ui-btn.app-selected:not(.ui-btn-active),
.app-theme-belltown .ui-bar-a .app-menu-strip .ui-btn.app-selected:hover:not(.ui-btn-active) {
    color: #000 !important;
}

.app-theme-belltown .app-chart .app-chart-inner {
    border-color: #7bb2ac;
}

.app-theme-belltown .app-calendar-plugin {
    background-color: #fff;
    color: #000;
}

.app-theme-belltown .app-calendar-month-header {
    color: #1f1f1f !important;
}

.app-theme-belltown .app-calendar-monthview .app-calendar-month table td.app-calendar-weekend {
    background-color: #f2f2f2;
}

.app-theme-belltown .app-calendar-plugin,
.app-theme-belltown .app-calendar-color-legend,
.app-theme-belltown .app-calendar-monthview .app-calendar-month table,
.app-theme-belltown .app-calendar-monthview .app-calendar-month table td,
.app-theme-belltown .app-calendar-day > div > div,
.app-theme-belltown .app-bar-calendar .app-week-header li.last-day-of-week,
.app-theme-belltown .app-calendar-week-grid .app-calendar-day > div {
    border-color: #7bb2ac;
}

    .app-theme-belltown .app-calendar-plugin span.app-current-day,
    .app-theme-belltown .app-calendar-monthview .app-current-day,
    .app-theme-belltown .app-calendar-yearview .app-current-day,
    .app-theme-belltown .app-week-header .app-current-day,
    .app-theme-belltown .app-day-header .visible-day.app-current-day,
    .app-theme-belltown .app-has-current-day .current-time-line .dot {
        background-color: #2d7f75;
    }

.app-theme-belltown .app-has-current-day .current-time-line {
    border-color: #2d7f75;
}

    .app-calendar-plugin-container .app-time-container .app-selected,
    .app-calendar-plugin-container .app-time-header .app-cal-selected,
.app-theme-belltown .app-day-header :not(.ui-btn-active).ui-btn .app-current-day,
.app-theme-belltown .app-has-current-day .app-current-time,
.app-theme-belltown .app-calendar-agenda-list > li.app-has-current-day h2:not(.ui-btn-active) > span,
.app-theme-belltown .app-calendar-agenda-list li.app-time-line-container > .app-event-time,
.app-theme-belltown .app-calendar-plugin .app-date-selector-container .app-current:not(.ui-btn-active) {
    color: #2d7f75;
}

.app-calendar-plugin-container .app-time-selector .app-time-hand,
.app-calendar-plugin-container .app-time-hand > span,
.app-calendar-plugin table tr.ui-btn-active td,
.app-calendar-plugin table tr.ui-btn-active td:hover,
.app-calendar-plugin table td.ui-btn-active,
.app-calendar-plugin table td.ui-btn-active:hover,
.app-calendar-yearview .app-calendar-month td.ui-btn-active {
    background-color: #2d7f75 !important;
}

.app-theme-belltown .app-calendar-yearview .app-calendar-month td:not(.app-current-day):not(.ui-btn-active).app-has-data {
    background-color: #dce5e4;
}
/***** bootstrap *****/

.app-theme-belltown.app-desktop .app-bootstrap li:not(.active) a:not(.ui-btn):not(.btn):not(.ui-btn-active):hover,
.app-theme-belltown.app-desktop .app-bootstrap .nav-tabs a:not(.ui-btn):not(.btn):not(.ui-btn-active):hover,
.app-theme-belltown.app-desktop .app-bootstrap li:not(.active) a:not(.ui-btn):not(.btn):not(.ui-btn-active):active {
    color: #000 !important;
}

.app-theme-belltown .dropdown-menu > li > a:not(.ui-btn),
body:not(.app-desktop) .dropdown-menu > li > a:hover {
    color: #333 !important;
}

.app-theme-belltown .jumbotron {
    background-color: #f2f2f2;
}

.app-theme-belltown .btn-default,
.app-theme-belltown .btn-default:focus,
.app-theme-belltown .btn-default:visited {
    background-color: #dce5e4;
    border-color: #7bb2ac;
    color: #333 !important;
}

.app-theme-belltown.app-desktop .btn-default:hover {
    background-color: #d9e2e1;
    border-color: #2d7f75;
}

.app-theme-belltown .app-bootstrap .btn.ui-btn-active,
.app-theme-belltown .app-bootstrap .btn.ui-btn-active:hover,
.app-theme-belltown .app-bootstrap .btn.ui-btn-active:focus {
    background-color: #ffd253 !important;
    border-color: #ffd253 !important;
    color: #000 !important;
}

.app-theme-belltown .app-bootstrap .nav .ui-btn-active,
.app-theme-belltown .app-bootstrap .nav .ui-btn-active:hover,
.app-theme-belltown .app-bootstrap .nav .ui-btn-active:focus,
.app-theme-belltown .app-bootstrap .list-group-item.ui-btn-active,
.app-theme-belltown .app-bootstrap .list-group-item.ui-btn-active:hover,
.app-theme-belltown .app-bootstrap .list-group-item.ui-btn-active:focus,
.app-theme-belltown .app-bootstrap .list-group-item.ui-btn-active .list-group-item-text,
.app-theme-belltown .app-bootstrap .list-group-item.ui-btn-active .list-group-item-heading {
    background-color: #ffd253 !important;
    border-color: #7bb2ac !important;
    color: #000 !important;
}

.app-theme-belltown .table,
.app-theme-belltown .table > thead > tr > th,
.app-theme-belltown .table > tbody > tr > th,
.app-theme-belltown .table > tfoot > tr > th,
.app-theme-belltown .table > thead > tr > td,
.app-theme-belltown .table > tbody > tr > td,
.app-theme-belltown .table > tfoot > tr > td,
.app-theme-belltown .list-group-item:not(.active) {
    background-color: #dce5e4;
    border-color: #7bb2ac;
}

.app-theme-belltown.app-desktop a.list-group-item:hover:not(.active) {
    background-color: #d9e2e1;
}

.app-theme-belltown .table > thead > tr > th,
.app-theme-belltown .table > tbody > tr > th,
.app-theme-belltown .table > tfoot > tr > th {
    color: #333;
    background-color: #f2f2f2;
}

.app-theme-belltown .table-striped > tbody > tr:nth-child(2n+1) > td,
.app-theme-belltown .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #dde3e2;
}

.app-theme-belltown.app-desktop .navbar-default .navbar-toggle:hover,
.app-theme-belltown .navbar-default .navbar-toggle:focus,
.app-theme-belltown .list-group-item.active:not(.btn),
.app-theme-belltown .list-group-item.active:not(.btn):hover,
.app-theme-belltown .list-group-item.active:not(.btn):focus,
.app-theme-belltown .nav-pills > li.active > a,
.app-theme-belltown .nav-pills > li.active > a:hover,
.app-theme-belltown .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #2d7f75;
    border-color: #2d7f75;
}

.app-theme-belltown .nav > li:not(.active) > a > .badge {
    color: #fff !important;
}

.app-theme-belltown .list-group-item.active > .badge,
.app-theme-belltown .nav-pills > .active > a > .badge {
    color: #2d7f75 !important;
}

.app-theme-belltown .navbar-default .navbar-toggle .icon-bar {
    background-color: #2d7f75;
}

.app-desktop.app-theme-belltown .navbar-default .navbar-toggle:hover .icon-bar,
.app-desktop.app-theme-belltown .navbar-default .navbar-toggle:active .icon-bar,
.app-desktop.app-theme-belltown .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff !important;
}

.app-theme-belltown .img-thumbnail {
    background-color: #dce5e4;
    border-color: #7bb2ac;
}

.app-theme-belltown .page-header,
.app-theme-belltown .nav-tabs {
    border-color: #7bb2ac;
}

    .app-theme-belltown .nav-tabs > li.active > a,
    .app-theme-belltown .nav-tabs > li.active > a:hover,
    .app-theme-belltown .nav-tabs > li.active > a:focus {
        border-top-color: #7bb2ac;
        border-left-color: #7bb2ac;
        border-right-color: #7bb2ac;
    }

.app-theme-belltown.app-desktop .nav > li:not(.active) > a:hover:not(.ui-btn-active),
.app-theme-belltown.app-desktop .nav > li:not(.active) > a:focus:not(.ui-btn-active) {
    background-color: rgba(255,255,255,0.2);
}

.app-theme-belltown.app-desktop .nav > li:not(.active) > a:hover,
.app-theme-belltown .nav > li:not(.active) > a:focus {
    border-color: #7bb2ac !important;
}

.app-theme-belltown.app-desktop .nav-tabs > li:not(.active) > a:hover:not(.ui-btn-active),
.app-theme-belltown .nav-tabs > li:not(.active) > a:focus:not(.ui-btn-active),
.app-theme-belltown.app-desktop .nav-pills > li:not(.active) > a:hover:not(.ui-btn-active),
.app-theme-belltown .nav-pills > li:not(.active) > a:focus:not(.ui-btn-active) {
    background-color: #d9e2e1;
}

.app-theme-belltown .navbar-default {
    background-color: #a9c6c3;
    border-color: #2d7f75;
}

    .app-theme-belltown .navbar-default .navbar-brand,
    .app-theme-belltown .navbar-default .navbar-brand:hover {
        color: #333 !important;
    }

    .app-theme-belltown .navbar-default .navbar-nav > li > a {
        color: #333 !important;
    }

.app-theme-belltown.app-desktop .navbar-default a.navbar-brand:hover,
.app-theme-belltown .app-bootstrap .navbar-default a.navbar-brand.ui-btn-active,
.app-theme-belltown.app-desktop .navbar-default .navbar-nav > li > a:hover {
    color: #000 !important;
}

.app-theme-belltown .app-bootstrap .navbar-default .navbar-nav > .active > a,
.app-theme-belltown .app-bootstrap .navbar-default .navbar-nav > .active > a:hover,
.app-theme-belltown .app-bootstrap .navbar-default .navbar-nav > .active > a:focus,
.app-theme-belltown .app-bootstrap .navbar-default .navbar-nav > .open > a,
.app-theme-belltown .app-bootstrap .navbar-default .navbar-nav > .open > a:hover,
.app-theme-belltown .app-bootstrap .navbar-default .navbar-nav > .open > a:focus {
    color: #000 !important;
    background-color: rgba(0,0,0,.05);
}

.app-theme-belltown .well {
    background-color: #dce5e4;
    border-color: #7bb2ac;
    /*box-shadow: rgba(0,0,0,0.1) 0 0 10px inset;*/
}

@media all and (max-width:767px) {
    .app-sidebar-undocked.app-theme-belltown .navbar-nav .open .dropdown-menu {
        background-color: #dce5e4;
    }

    .app-sidebar-undocked.app-theme-belltown.app-desktop .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .app-sidebar-undocked.app-theme-belltown .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #d9e2e1;
    }
}

.app-theme-belltown .dropdown-menu {
    background-color: #dce5e4;
}

    .app-theme-belltown .dropdown-menu .divider {
        background-color: #7bb2ac;
    }

    .app-theme-belltown.app-desktop .dropdown-menu > li > a:hover,
    .app-theme-belltown .dropdown-menu > li > a:focus {
        background-color: #d9e2e1;
    }

.app-theme-belltown .navbar-default .navbar-collapse,
.app-theme-belltown .navbar-default .navbar-form,
.app-theme-belltown .navbar-default .navbar-toggle {
    border-color: #2d7f75;
}

.app-theme-belltown .navbar-inverse a:not(.ui-btn) {
    color: #777 !important;
}

.app-theme-belltown.app-desktop .navbar-inverse a.navbar-brand:hover,
.app-theme-belltown.app-desktop .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF !important;
}

.app-theme-belltown .navbar-inverse .navbar-nav > .active > a,
.app-theme-belltown .navbar-inverse .navbar-nav > .active > a:hover,
.app-theme-belltown .navbar-inverse .navbar-nav > .active > a:focus,
.app-theme-belltown .navbar-inverse .navbar-nav > .open > a,
.app-theme-belltown .navbar-inverse .navbar-nav > .open > a:hover,
.app-theme-belltown .navbar-inverse .navbar-nav > .open > a:focus {
    color: #FFF !important;
}