/* grey drop icon - #777777 */
.app-theme-municipal .app-menu-strip a.ui-btn.app-has-children:not(.ui-btn-active)::after {
    border-top-color: #777;
}

/* grey drop icon - #cccccc */
.app-theme-municipal .app-menu-strip a.ui-btn.app-has-children:not(.ui-btn-active)::after {
    border-top-color: #ccc;
}

/* white drop icon*/
.app-theme-municipal .app-menu-strip a.ui-btn.app-has-children:hover:not(.ui-btn-active)::after,
.app-theme-municipal .app-menu-strip a.ui-btn.app-has-children.app-selected:not(.ui-btn-active)::after {
    border-top-color: #fff!important;
}

/* black drop icon */
.app-theme-municipal .app-echo-toolbar a.ui-btn.app-has-children:not(.ui-btn-active)::after,
.app-theme-municipal .app-echo-toolbar a.ui-btn.app-has-children:hover:not(.ui-btn-active)::after {
    border-top-color: #000;
}

/*********************************/
/* THEME: municipal             */
/*******************************/

.app-theme-municipal,
.app-theme-municipal .ui-page-theme-a,
.app-theme-municipal .app-page-header {
    background-color: #eeecea;
}

    .app-theme-municipal .ui-header .ui-title,
    .app-theme-municipal .ui-footer .ui-title {
        color: #fff;
    }

    .app-theme-municipal .app-page-header {
        color: #1f1f1f;
    }

    .app-theme-municipal .ui-page-theme-a .ui-panel-wrapper,
    .app-theme-municipal .ui-panel,
    .app-theme-municipal .app-page-header,
    .app-theme-municipal .app-status-bar,
    .app-bar-footer.ui-bar-inherit {
        background-color: #e2dcd0;
        border-color: #bfbcbc;
    }

    .app-theme-municipal .app-status-bar {
        color: #000;
    }

    .app-theme-municipal .app-form-editing.app-formview .app-static-text div,
    .app-theme-municipal .app-page-menu-desc,
    .app-theme-municipal .ui-checkbox label {
        text-shadow: none !important;
    }

    /*popup*/
    .app-theme-municipal .app-popup-message,
    .app-theme-municipal .ui-content.app-map-info {
        background-color: #e2dcd0;
        border-color: #f4b29b;
        text-shadow: none;
        color: #000;
    }

        .app-theme-municipal .app-popup-message .ui-popup-arrow {
            background-color: #e2dcd0;
        }

        .app-theme-municipal .app-popup-message div {
            color: #f4b29b;
        }
        
    .app-data-input-popup .app-selected .app-caret-r .app-caret {
        border-left-color: #000;
    }

    /* page header */
    .app-theme-municipal .app-bar-tools.ui-bar-a,
    .app-theme-municipal :not(.app-tabs).ui-header-fixed.ui-header,
    .app-theme-municipal .ui-header {
        background-color: #545050;
        border-color: #bfbcbc;
        text-shadow: none;
    }

    .app-theme-municipal .app-bar-actions {
        background-color: #e2dcd0 !important;
    }

    .app-theme-municipal .app-popup-listview .ui-popup-arrow,
    .app-theme-municipal .app-popup-listview {
        background-color: #ffe0ed !important;
        border-color: #ffe0ed !important;
    }

    .app-theme-municipal .app-page-header {
        border-color: #bfbcbc !important;
    }

    .app-theme-municipal .app-menu-strip a.ui-btn,
    .app-theme-municipal.app-desktop .app-menu-strip a.ui-btn.app-selected:hover:not(.ui-btn-active) {
        color: #fff !important;
    }

    .app-theme-municipal .app-menu-strip ul li a.ui-btn.app-selected:not(:hover):not(.ui-btn-active),
    .app-theme-municipal.app-has-popup-open .app-menu-strip ul li a.ui-btn.app-selected:hover:not(.ui-btn-active) {
        background-color: rgba(0,0,0, 0.2) !important;
    }

    .app-theme-municipal.app-desktop .app-menu-strip ul li a.ui-btn:hover:not(.ui-btn-active) {
        background-color: rgba(255,255,255, 0.15) !important;
    }

    /* list dividers*/
    .app-theme-municipal .ui-li-divider {
        background-color: #f4b29b;
        border-color: #bfbcbc;
        color: #555;
        text-shadow: none;
    }

    /* view descriptions*/
    .app-theme-municipal .ui-listview .app-list-instruction.ui-li-divider,
    .app-theme-municipal .ui-content:not(.app-page-tasks) .app-listview .ui-li-divider:not(.ui-bar-b):not(.ui-bar-inherit),
    .app-theme-municipal .app-presenter-instruction,
    .app-theme-municipal .app-grid-header .app-frozen-spacer {
        background-color: #f2f2f2 !important;
        border-color: #f4b29b !important;
        color: #2a0e04;
    }

    body:not(.app-sidebar-undocked).app-theme-municipal .ui-header-fixed .ui-title,
    body:not(.app-sidebar-undocked).app-theme-municipal .app-sidebar,
    .app-theme-municipal .app-divider:not(.ui-collapsible):not(.app-calculated) {
        border-color: #bfbcbc !important;
        color: #fff !important;
    }

    .app-theme-municipal .app-echo,
    .app-theme-municipal .app-header {
        border-color: #f4b29b;
    }

    .app-theme-municipal .app-bar-heading {
        background-color: #f2f2f2;
        color: #2a0e04;
        text-shadow: none;
    }

    .app-theme-municipal .ui-body-a,
    .app-theme-municipal .app-li-card,
    .app-theme-municipal .ui-page-theme-a .ui-body-inherit:not(.ui-focus),
    .app-theme-municipal .app-li-card {
        background-color: #fff;
        border-color: #f4b29b;
        /*color: #fff;*/
        text-shadow: none;
    }

    .app-theme-municipal .ui-panel .ui-body-a {
        border-color: #bfbcbc !important;
    }

    .app-theme-municipal .ui-page-theme-a .app-formview .ui-body-inherit:not(.ui-focus) {
        background-color: #fff;
    }


    /*sidebar customizations*/
    .app-theme-municipal .ui-body-a.app-sidebar {
        background-color: #e2dcd0;
    }

    .app-theme-municipal.app-sidebar-undocked .app-form-grid .ui-collapsible-set,
    .app-theme-municipal .ui-listview-inset .ui-li-divider:not(.ui-bar-a) {
        border-color: #f4b29b;
    }

    .app-theme-municipal .ui-li-divider.app-info {
        background-color: #eeecea !important;
    }

        .app-theme-municipal .ui-li-divider.app-info .appname {
            color: #cc9900;
        }

    /* fix for form "card" */
    .app-theme-municipal .ui-page-theme-a .ui-body-inherit.app-li-card {
        border-top-color: #f4b29b;
        border-left-color: #f4b29b;
        border-right-color: #f4b29b;
    }

    /*.app-theme-municipal .ui-listview-inset {
        background-color: #ebf3ff;
    }*/

    .app-theme-municipal .app-form-editing.app-formview .ui-field-contain {
        border-top-color: transparent;
    }


    /*buttons*/
    .app-theme-municipal .app-page-header,
    .app-theme-municipal .ui-page-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-municipal .ui-bar-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html .app-theme-municipal .ui-body-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html body.app-theme-municipal .ui-group-theme-a .ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    html head + body.app-theme-municipal .ui-btn-a.ui-btn:not(.app-selected):not(:hover):not(.ui-btn-active):not(.app-lookup):not(.ui-btn-b),
    .app-theme-municipal .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-municipal .ui-bar-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html .app-theme-municipal .ui-body-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html body.app-theme-municipal .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    html head + body.app-theme-municipal .ui-btn-a.ui-btn:visited:not(.app-selected):not(.ui-btn-b),
    .app-theme-municipal .app-form-grid .ui-collapsible-set,
    /* button overrides to remove "hover" on touch screens */
    body.app-theme-municipal:not(.app-desktop) li a:hover:not(.app-selected):not(.ui-btn-b),
    body:not(.app-desktop).app-theme-municipal .ui-page-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-municipal .ui-bar-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-municipal .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body:not(.app-desktop).app-theme-municipal .ui-group-theme-a .ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    html head + body:not(.app-desktop).app-theme-municipal .ui-btn-a.ui-btn:hover:not(.app-selected):not(.ui-btn-b),
    .app-theme-municipal .app-tabs.ui-header,
    .app-theme-municipal #app-welcome .ui-btn,
    .app-theme-municipal #app-popup-login .ui-btn,
    .app-theme-municipal .ui-listview .app-frozen-spacer,
    .app-theme-municipal .app-grid-header,
    .app-theme-municipal .app-echo .dv-item, 
    .app-echo .app-grid .ui-last-child,
    .app-theme-municipal .app-echo .app-listview,
    .app-theme-municipal [data-container],
    .app-theme-municipal [data-layout="form"] {
        border-color: #f4b29b;
    }

        .app-theme-municipal .app-grid-header .app-field-separator::after,
        .app-theme-municipal .app-calculated .app-field-separator::after {
            background-color: #f4b29b;
        }

    .app-theme-municipal .ui-body-b .ui-btn-a,
    .app-theme-municipal .ui-body-b .ui-btn-a.ui-btn-active {
        border-color: #e2dcd0 !important;
    }

    .app-theme-municipal.app-has-popup-open .app-menu-strip .ui-btn:hover {
        background-color: #e2dcd0 !important;
    }

    .app-theme-municipal .ui-page-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-municipal .ui-bar-a .ui-btn:not(.app-selected):not(.app-lookup),
    html .app-theme-municipal .ui-body-a .ui-btn:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body.app-theme-municipal .ui-group-theme-a .ui-btn:not(.app-selected):not(.app-lookup),
    html head + body.app-theme-municipal .ui-btn-a.ui-btn:not(.app-selected):not(.app-lookup),
    .app-theme-municipal .ui-panel-page-container-a:not(.app-lookup),
    .app-theme-municipal .app-tabs.ui-header:not(.app-lookup),
    .app-theme-municipal .ui-page-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-municipal .ui-bar-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html .app-theme-municipal .ui-body-a .ui-btn:visited:not(.app-selected):not(.app-lookup),
    html body.app-theme-municipal .ui-group-theme-a .ui-btn:visited:not(.app-selected):not(.app-lookup):not(.ui-checkbox-on):not(.ui-checkbox-off),
    html head + body.app-theme-municipal .ui-btn-a.ui-btn:visited:not(.app-selected),
    .app-theme-municipal .app-tabs .ui-btn:not(.ui-btn-active):not(.app-selected),
    body.app-desktop.app-theme-municipal .app-grid.app-listview :not(.app-selected):not(:hover):not(.ui-btn-active).ui-btn,
    .app-theme-municipal #app-welcome .ui-btn:not(:hover),
    .app-theme-municipal #app-popup-login .ui-btn:not(:hover),
    .app-theme-municipal .app-map-info .ui-popup-arrow,
    .app-theme-municipal .ui-listview .app-frozen-spacer,
    .app-theme-municipal [data-container="toggle"],
.app-listview.app-grid .ui-btn:not(:hover):not(.app-selected):not(.ui-btn-active):not(.app-checked), 
body:not(.app-desktop) .app-listview.app-grid .ui-btn:hover:not(.app-selected):not(.ui-btn-active):not(.app-checked) {
        /*color: #000;*/
        background-color: #fdf3f0;
    }

    /* top border of Info button in sidebar */
    .app-theme-municipal .app-sidebar .ui-btn.ui-icon-info {
        border-color: #bfbcbc !important;
    }

    /* navigation panel selected item color fix*/
    .app-theme-municipal .app-nav-panel .ui-btn-a {
        color: #1f1f1f !important;
    }

    /* subtext coloring*/
    .app-theme-municipal .app-field-label-after,
    .app-theme-municipal .app-field-label-before,
    .app-theme-municipal .app-field-label,
    .app-theme-municipal .ui-panel .app-item-desc,
    .app-theme-municipal .app-item-number,
    .app-data-input-popup li:not(.app-selected) span.app-text-normal {
        color: #af8301 !important;
    }

    .app-theme-municipal .ui-page-theme-b a:not(.ui-btn),
    .app-theme-municipal .ui-bar-b a:not(.ui-btn),
    .app-theme-municipal .ui-body-b a:not(.ui-btn),
    .app-theme-municipal .ui-group-theme-b a:not(.ui-btn) {
        color: #af8301 !important;
    }

        .app-theme-municipal .ui-page-theme-b a:not(.ui-btn):hover,
        .app-theme-municipal .ui-bar-b a:not(.ui-btn):hover,
        .app-theme-municipal .ui-body-b a:not(.ui-btn):hover,
        .app-theme-municipal .ui-group-theme-b a:not(.ui-btn):hover,
        .app-theme-municipal .ui-page-theme-b a:not(.ui-btn):active,
        .app-theme-municipal .ui-bar-b a:not(.ui-btn):active,
        .app-theme-municipal .ui-body-b a:not(.ui-btn):active,
        .app-theme-municipal .ui-group-theme-b a:not(.ui-btn):active {
            color: #000 !important;
        }

    .app-theme-municipal .ui-btn p {
        color: #000 !important;
    }

    .app-theme-municipal .ui-li-aside,
    .app-theme-municipal .ui-btn .ui-li-aside,
    .app-theme-municipal .app-grid-header,
    .app-theme-municipal .app-panel-info-view .app-list-instruction,
    .app-theme-municipal .app-calculated .app-static-text {
        color: #cc9900 !important;
    }

    .app-theme-municipal .app-filter {
        color: #6f3e3e;
    }

    .app-theme-municipal .app-bar-heading .app-bar-label,
    .app-theme-municipal .app-static-text div,
    .app-theme-municipal .app-form-editing.app-formview label {
        color: #af8301;
    }

    .app-theme-municipal .app-wrapper,
    .app-theme-municipal .app-echo-instruction {
        color: #2a0e04;
        text-shadow: none;
    }

    /*selected button*/
    .app-theme-municipal .app-selected:not(.ui-btn-active),
    .app-theme-municipal .app-checked:not(.ui-btn-active),
    .app-theme-municipal .app-selected:hover,
    .app-theme-municipal .app-selected:visited,
    .app-theme-municipal .app-selected .app-frozen-spacer,
    .app-theme-municipal .app-checked .app-frozen-spacer {
        background-color: #fae2d9 !important;
        border-color: #f4b29b !important;
        color: #000 !important;
    }

    .app-theme-municipal .app-grid-header .app-selected:not(.ui-btn-active) {
        background-color: rgba(0,0,0,0.1) !important;
    }

    /* hover */
    .app-theme-municipal .ui-btn-a:hover:not(.ui-btn-active):not(.app-selected),
    body.app-desktop.app-theme-municipal .ui-page-theme-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-municipal .ui-bar-a .ui-btn:hover:not(.app-selected),
    html .app-desktop.app-theme-municipal .ui-body-a .ui-btn:hover:not(.app-selected):not(.ui-checkbox-on):not(.ui-checkbox-off):not(.ui-btn-b),
    html body.app-desktop.app-theme-municipal .ui-group-theme-a .ui-btn:hover:not(.app-selected),
    html head + body.app-desktop.app-theme-municipal .ui-btn-a.ui-btn:hover:not(.app-selected),
    .app-theme-municipal #app-welcome .ui-btn:hover,
    .app-theme-municipal #app-popup-login .ui-btn:hover,
    .app-desktop.app-theme-municipal .ui-listview a.ui-btn:hover:not(.app-selected) .app-frozen-spacer,
    .app-desktop [data-container="collapsible"] [data-container="toggle"]:hover:not(.ui-btn-active) {
        background-color: #f0e9e6;
        border-color: #f4b29b;
    }

    .app-theme-municipal.app-desktop .app-grid-header span:hover:not(.ui-btn-active):not(.app-icon) {
        background-color: #f0e9e6;
    }

    /* selected hover*/
    html body.app-desktop.app-theme-municipal .ui-btn.app-selected:hover:not(.ui-btn-active),
    html body.app-desktop.app-theme-municipal .ui-btn.app-checked:hover:not(.ui-btn-active),
    .app-theme-municipal .app-echo-toolbar .app-selected:not(.ui-btn-active),
    .app-theme-municipal .app-echo-toolbar .app-selected:not(.ui-btn-active):hover,
    .app-theme-municipal .app-listview .app-selected:not(.ui-btn-active):hover .app-frozen-spacer,
    .app-theme-municipal .app-listview .app-checked:not(.ui-btn-active):hover .app-frozen-spacer {
        background-color: #f4ddd4 !important;
        border-color: #f4b29b !important;
        color: #000 !important;
    }

    /* click */

    .app-theme-municipal .app-grid-header .ui-btn-active,
    [data-container="collapsible"] [data-container="toggle"].ui-btn-active {
        background-color: #6f3e3e !important;
        color: #fff !important;
    }

    .app-theme-municipal .app-listview .ui-btn.app-selected::before,
    .app-theme-municipal [data-input="checkboxlist"] .app-data-list li.app-selected::after {
        background-color: #6f3e3e;
    }

    .ui-btn.ui-btn-active::after,
    .app-btn-more.ui-btn-active::after {
        color: #6f3e3e;
    }

.app-theme-municipal [data-input] .app-data-list li.app-selected,
.app-theme-municipal [data-input] .app-data-list li::before,
.app-theme-municipal [data-input] .app-data-list li.app-selected::after {
    border-color: #6f3e3e;
}

    .app-theme-municipal .ui-title.ui-btn-active,
    html body.app-theme-municipal .ui-btn.ui-btn-active,
    .app-theme-municipal .ui-btn.ui-btn-active .app-frozen-spacer {
        background-color: #6f3e3e !important;
        border-color: #f4b29b !important;
        color: #fff !important;
    }

    .app-theme-municipal .ui-panel-position-left .ui-btn-active .app-item-desc,
    .app-theme-municipal .ui-panel-position-right .ui-btn-active .app-item-desc,
    .app-theme-municipal #app-sidebar .ui-btn-active .app-item-desc,
    .app-theme-municipal .app-listview-static .ui-btn-active .app-item-desc,
    .app-theme-municipal .ui-btn-active p,
    .app-theme-municipal .ui-btn-active p.ui-li-aside,
    .app-theme-municipal .ui-btn.ui-btn-active span:not(.ui-li-count) {
        color: #fff !important;
    }

    .app-theme-municipal .dv-action-see-all .app-btn-prev.ui-btn-active,
    .app-theme-municipal .dv-action-see-all .app-btn-next.ui-btn-active {
        background-color: #6F3E3E;
        color: #fff;
    }

    .app-theme-municipal .app-echo .dv-action-see-all span {
        border-color: #F4B29B !important;
    }

    .app-theme-municipal .app-btn-check:not(.app-btn-check-selected) {
        border-color: #F4B29B !important;
        background-color: transparent !important;
    }

    .app-theme-municipal .ui-btn.app-selected:not(.ui-btn-active) .app-btn-check:not(.app-btn-check-selected) {
        border-color: #F4B29B !important;
    }

    .app-theme-municipal .app-grid-header .app-btn-check:not(.app-btn-check-selected) {
        background-color: transparent !important;
        border-color: #F4B29B !important;
    }

    .app-theme-municipal .app-btn-check.app-btn-check-selected {
        border-color: #6F3E3E !important;
        background-color: #6F3E3E !important;
    }

    [data-input] .app-control-helper ul li.ui-btn-active,
    [data-input].app-has-focus .app-control-helper ul li.app-focus {
        border-color: #6F3E3E !important;
        background-color: #6F3E3E !important;
        color: #fff!important;
    }

    .app-theme-municipal .app-btn-check .app-icon-themed {
        fill: #fff;
    }

    /* tabs */

    .app-theme-municipal .app-tabs.ui-header {
        border-color: #bfbcbc;
    }


    .app-theme-municipal .app-tabs .ui-btn {
        border-color: #bfbcbc !important;
        color: #2a0e04;
    }

        .app-theme-municipal .app-tabs .ui-btn.ui-btn-active {
            border-color: #bfbcbc !important;
            background-color: #bfbcbc !important;
            color: #fff !important;
        }

    /*button on header bar*/

    .app-theme-municipal .app-bar-tools .ui-btn.ui-btn-icon-notext:hover,
    .app-theme-municipal .app-bar-tools .ui-btn.ui-btn-icon-notext.ui-btn-active {
        border-color: #691616 !important;
    }

    .app-theme-municipal .app-echo-toolbar .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots):hover,
    .app-theme-municipal .app-echo-toolbar .ui-btn.ui-btn-icon-notext:not(.ui-icon-dots).ui-btn-active {
        border-color: #f59b7a !important;
    }

    .app-theme-municipal .app-bar-tools .ui-btn,
    .app-theme-municipal .app-bar-tools .ui-btn.ui-btn-active {
        border-color: #292911 !important;
    }

        .app-theme-municipal .app-bar-tools .ui-btn.ui-btn-icon-notext:not(:hover):not(.ui-btn-active)::after {
            background-color: #b8aa8c !important;
        }


    .app-theme-municipal .ui-btn.ui-btn-active::after {
        background-color: #6b1212 !important;
    }


    .app-theme-municipal .ui-btn.ui-btn-icon-notext:not(.ui-radio-on):not(.ui-icon-dots)::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-left:not(.ui-radio-on)::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-right:not(.ui-radio-on):not(.app-btn-icon-transparent)::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-top:not(.ui-radio-on)::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-bottom:not(.ui-radio-on)::after,
    .app-theme-municipal .ui-checkbox-on:after,
    .app-theme-municipal .ui-flipswitch-active,
    .app-theme-municipal .ui-slider-track .ui-btn-active {
        background-color: #ed825d !important;
    }

    .app-theme-municipal .ui-btn .glyphicon {
        color: #ed825d;
    }

    .app-theme-municipal .app-icon-themed {
        fill: #ed825d;
    }

    .app-theme-municipal .ui-radio-on:after,
    .app-theme-municipal .ui-slider-track .ui-btn-active,
    .app-theme-municipal .ui-flipswitch-active {
        border-color: #ed825d !important;
    }

    .app-theme-municipal .ui-btn.ui-btn-icon-notext.ui-btn-active:not(.ui-icon-dots)::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-left.ui-btn-active::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-right.ui-btn-active:not(.app-btn-icon-transparent)::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-top.ui-btn-active::after,
    .app-theme-municipal .ui-btn.ui-btn-icon-bottom.ui-btn-active::after {
        background-color: #691616 !important;
    }

    .app-theme-municipal .ui-btn.app-btn-icon-transparent::after,
    .app-theme-municipal .ui-btn.ui-btn-active.app-btn-icon-transparent::after {
        background-color: transparent !important;
    }

    /*swatch b*/
    .app-theme-municipal .ui-btn.ui-btn-b,
    .app-theme-municipal .ui-btn.ui-btn-b:visited,
    body.app-theme-municipal:not(.app-desktop) li a.ui-btn-b:not(.ui-btn-active):hover {
        background-color: #e2cfc8;
        border-color: #e2dcd0;
        color: #2a0e04;
    }

        /*swatch b hover*/

        .app-theme-municipal .ui-btn.ui-btn-b.ui-btn-active,
        .app-theme-municipal.app-desktop .ui-btn.ui-btn-b:hover,
        .app-theme-municipal .app-popup .ui-content .ui-checkbox .ui-btn:hover,
        .app-theme-municipal .app-popup .ui-content .ui-checkbox .ui-btn.ui-focus:hover {
            background-color: #dfcdc7;
            border-color: #e2dcd0;
            color: #2a0e04 !important;
        }

    .app-theme-municipal .app-nav-panel .ui-btn.ui-btn-b {
        border-color: #e2dcd0 !important;
    }

    .app-theme-municipal .ui-btn.ui-btn-b.ui-btn-active,
    .app-theme-municipal.app-desktop .ui-btn.ui-btn-b.ui-btn-active:hover {
        color: #fff !important;
    }

    .app-theme-municipal .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b,
    .app-theme-municipal.app-desktop .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b:hover,
    .app-theme-municipal .ui-body-a:not(#app-welcome):not(#app-popup-login) .ui-btn-b.ui-btn-active {
        border-color: #bfbcbc !important;
    }

    /*swatch b divider*/
    .app-theme-municipal .ui-bar-b,
    .app-theme-municipal .ui-bar-b .ui-bar-inherit,
    html .app-theme-municipal.ui-body-b .ui-bar-inherit,
    html body.app-theme-municipal .ui-group-theme-b .ui-bar-inherit {
        border-color: #e2cfc8;
        background-color: #e2dcd0;
    }

    /*fix for lookups/inputs*/
    .app-theme-municipal .ui-btn.app-lookup:not(.ui-btn-active):not(.ui-focus),
    .app-theme-municipal .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select:not(.ui-focus) .ui-btn:not(.ui-btn-active),
    .app-theme-municipal .ui-input-text:not(.ui-btn-active),
    .app-theme-municipal .app-form-editing .ui-input-text:not(.ui-btn-active),
    .app-theme-municipal .ui-input-search.ui-body-inherit {
        background-color: #fff;
        border-color: #f4b29b;
        text-shadow: none;
        /*color: #fff;*/
    }

        .app-theme-municipal .ui-btn.app-lookup.ui-focus,
        .app-theme-municipal .app-wrapper .app-formview.app-form-editing .ui-field-contain .ui-select.ui-focus .ui-btn:not(.ui-btn-active),
        .app-theme-municipal .ui-input-text.ui-focus,
        .app-theme-municipal .app-form-editing .ui-input-text.ui-focus,
        .app-theme-municipal .ui-input-search.ui-body-inherit.ui-focus,
        .app-theme-municipal .ui-checkbox label.ui-focus {
            border-color: #bfbcbc !important;
        }

    .app-theme-municipal .ui-slider {
        border-color: #f4b29b !important;
    }

    .app-theme-municipal .ui-slider-label.ui-btn-active {
        background-color: #bfbcbc !important;
    }

    /* background bleed under form in editing mode*/
    .app-theme-municipal .ui-body-a.ui-collapsible-content,
    .app-theme-municipal .app-bar-tools .ui-input-search.ui-body-inherit {
        background-color: #fff;
    }

    .app-theme-municipal .ui-btn.app-lookup,
    .app-theme-municipal .ui-btn.ui-btn-active.app-lookup {
        border-color: #bfbcbc;
    }

    .app-theme-municipal .app-lookup-input {
        background-color: transparent;
        /*color: #fff;*/
    }

    .app-theme-municipal .app-grid-header {
        color: #999;
    }

@media (min-width: 20em) {

    .app-theme-municipal .ui-header.ui-header-fixed.app-bar-tools {
        background-image: url(logo-white.png);
    }
}

.app-theme-municipal .app-listview li .app-li-corner {
    color: #fff;
    background-color: #bfbcbc;
}

.app-theme-municipal .dataview-busy-indicator {
    background-color: #cc9900;
}

.app-bar-tools .ui-btn:not(.ui-btn-active)::after,
.app-theme-municipal .ui-bar-a .app-menu-strip .ui-btn:not(.ui-btn-active), 
.app-theme-municipal .ui-bar-a .app-user-name {
    color: #ccc !important;
}

.app-desktop .app-bar-tools .ui-btn:hover:not(.ui-btn-active)::after,
.app-theme-municipal .ui-bar-a .app-menu-strip .ui-btn:hover:not(.ui-btn-active),
.app-theme-municipal .ui-bar-a .app-menu-strip .ui-btn.app-selected:not(.ui-btn-active) {
    color: #fff !important;
}

.app-theme-municipal .app-chart .app-chart-inner {
    border-color: #f4b29b;
}
.app-theme-municipal .app-calendar-plugin,
.app-theme-municipal .app-calendar {
    background-color: #fff;
    color: #000;
}

.app-theme-municipal .app-bar-calendar {
    background-color: #f2f2f2;
}

.app-theme-municipal .app-calendar-monthview .app-calendar-month table td.app-calendar-weekend {
    background-color: #fdf3f0;
}

.app-theme-municipal .app-calendar-yearview .app-calendar-month td:not(.app-current-day):not(.ui-btn-active).app-has-data {
    background-color: #fdf3f0;
}

.app-theme-municipal .app-calendar-plugin,
.app-theme-municipal .app-calendar-color-legend,
.app-theme-municipal .app-calendar-monthview .app-calendar-month table,
.app-theme-municipal .app-calendar-monthview .app-calendar-month table td,
.app-theme-municipal .app-calendar-day > div > div,
.app-theme-municipal .app-bar-calendar .app-week-header li.last-day-of-week,
.app-theme-municipal .app-calendar-week-grid .app-calendar-day > div {
    border-color: #f4b29b;
}

    .app-theme-municipal .app-calendar-plugin span.app-current-day,
    .app-theme-municipal .app-calendar-monthview .app-current-day,
    .app-theme-municipal .app-calendar-yearview .app-current-day,
    .app-theme-municipal .app-week-header .app-current-day,
    .app-theme-municipal .app-day-header .visible-day.app-current-day,
    .app-theme-municipal .app-has-current-day .current-time-line .dot {
        background-color: #6f3e3e;
    }

.app-theme-municipal .app-has-current-day .current-time-line {
    border-color: #6f3e3e;
}

.app-calendar-plugin-container .app-time-container .app-selected,
.app-calendar-plugin-container .app-time-header .app-cal-selected,
.app-theme-municipal .app-day-header :not(.ui-btn-active).ui-btn .app-current-day,
.app-theme-municipal .app-has-current-day .app-current-time,
.app-theme-municipal .app-calendar-agenda-list > li.app-has-current-day h2:not(.ui-btn-active) > span,
.app-theme-municipal .app-calendar-agenda-list li.app-time-line-container > .app-event-time,
.app-theme-municipal .app-calendar-plugin .app-date-selector-container .app-current:not(.ui-btn-active) {
    color: #6f3e3e;
}

.app-calendar-plugin-container .app-time-selector .app-time-hand,
.app-calendar-plugin-container .app-time-hand > span,
.app-calendar-plugin table tr.ui-btn-active td,
.app-calendar-plugin table tr.ui-btn-active td:hover,
.app-calendar-plugin table td.ui-btn-active,
.app-calendar-plugin table td.ui-btn-active:hover,
.app-calendar-yearview .app-calendar-month td.ui-btn-active {
    background-color: #6f3e3e !important;
}

.app-theme-municipal .app-calendar-month-header,
.app-theme-municipal .app-calendar-month-header h1 {
    color: #cc9900 !important;
}
/***** bootstrap *****/

.app-theme-municipal .app-bootstrap a:not(.btn),
.app-theme-municipal body:not(.app-desktop) .app-bootstrap a:hover {
    color: #af8301;
}

.app-theme-municipal .dropdown-menu > li > a:not(.ui-btn),
body:not(.app-desktop) .dropdown-menu > li > a:hover {
    color: #777 !important;
}

.app-theme-municipal .jumbotron {
    background-color: #e2dcd0;
}

.app-theme-municipal .btn-default,
.app-theme-municipal .btn-default:focus,
.app-theme-municipal .btn-default:visited {
    background-color: #fdf3f0;
    border-color: #f4b29b;
    color: #333 !important;
}

.app-theme-municipal.app-desktop .btn-default:hover {
    background-color: #f0e9e6;
    border-color: #691616;
}

.app-theme-municipal .app-bootstrap .btn.ui-btn-active,
.app-theme-municipal .app-bootstrap .btn.ui-btn-active:hover,
.app-theme-municipal .app-bootstrap .btn.ui-btn-active:focus,
.app-theme-municipal .app-bootstrap .list-group-item.ui-btn-active,
.app-theme-municipal .app-bootstrap .list-group-item.ui-btn-active:hover,
.app-theme-municipal .app-bootstrap .list-group-item.ui-btn-active:focus,
.app-theme-municipal .app-bootstrap .list-group-item.ui-btn-active .list-group-item-text,
.app-theme-municipal .app-bootstrap .list-group-item.ui-btn-active .list-group-item-heading {
    background-color: #6f3e3e !important;
    border-color: #6f3e3e !important;
    color: #fff !important;
}

.app-theme-municipal .app-bootstrap .nav .ui-btn-active,
.app-theme-municipal .app-bootstrap .nav .ui-btn-active:hover,
.app-theme-municipal .app-bootstrap .nav .ui-btn-active:focus {
    background-color: #6f3e3e !important;
    border-color: #f4b29b !important;
    color: #fff !important;
}

.app-theme-municipal .table,
.app-theme-municipal .table > thead > tr > th,
.app-theme-municipal .table > tbody > tr > th,
.app-theme-municipal .table > tfoot > tr > th,
.app-theme-municipal .table > thead > tr > td,
.app-theme-municipal .table > tbody > tr > td,
.app-theme-municipal .table > tfoot > tr > td,
.app-theme-municipal .list-group-item:not(.active) {
    background-color: #fdf3f0;
    border-color: #f4b29b;
}

.app-theme-municipal.app-desktop a.list-group-item:hover:not(.active) {
    background-color: #f0e9e6;
}

.app-theme-municipal .table > thead > tr > th,
.app-theme-municipal .table > tbody > tr > th,
.app-theme-municipal .table > tfoot > tr > th {
    color: #333;
    background-color: #f2f2f2;
}

.app-theme-municipal .table-striped > tbody > tr:nth-child(2n+1) > td,
.app-theme-municipal .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f0e7e4;
}

.app-theme-municipal.app-desktop .navbar-default .navbar-toggle:hover,
.app-theme-municipal .app-bootstrap .navbar-default .navbar-toggle:focus,
.app-theme-municipal .list-group-item.active:not(.btn),
.app-theme-municipal .list-group-item.active:not(.btn):hover,
.app-theme-municipal .list-group-item.active:not(.btn):focus,
.app-theme-municipal .nav-pills > li.active > a,
.app-theme-municipal .nav-pills > li.active > a:hover,
.app-theme-municipal .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #6f3e3e;
    border-color: #6f3e3e;
}

.app-theme-municipal .list-group-item.active .list-group-item-text {
    color: #fff;
}

.app-theme-municipal .list-group-item:not(.active):not(.ui-btn-active):hover,
.app-theme-municipal .list-group-item:not(.active):not(.ui-btn-active):hover .list-group-item-text {
    color: #000 !important;
}

.app-theme-municipal .list-group-item.active > .badge,
.app-theme-municipal .nav-pills > .active > a > .badge {
    color: #6f3e3e !important;
}

.app-theme-municipal .navbar-default .navbar-toggle .icon-bar {
    background-color: #bfbcbc;
}

.app-desktop.app-theme-municipal .navbar-default .navbar-toggle:hover .icon-bar,
.app-desktop.app-theme-municipal .navbar-default .navbar-toggle:active .icon-bar,
.app-desktop.app-theme-municipal .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.app-theme-municipal .img-thumbnail {
    background-color: #fdf3f0;
    border-color: #f4b29b;
}

.app-theme-municipal .page-header,
.app-theme-municipal .nav-tabs {
    border-color: #f4b29b;
}

    .app-theme-municipal .nav-tabs > li.active > a,
    .app-theme-municipal .nav-tabs > li.active > a:hover,
    .app-theme-municipal .nav-tabs > li.active > a:focus {
        border-top-color: #f4b29b;
        border-left-color: #f4b29b;
        border-right-color: #f4b29b;
    }

.app-theme-municipal.app-desktop .nav > li:not(.active) > a:hover,
.app-theme-municipal.app-desktop .nav > li:not(.active) > a:focus {
    background-color: rgba(255,255,255,0.15);
    border-color: #691616;
}

.app-theme-municipal.app-desktop .nav-tabs > li:not(.active) > a:hover,
.app-theme-municipal .nav-tabs > li:not(.active) > a:focus,
.app-theme-municipal.app-desktop .nav-pills > li:not(.active) > a:hover,
.app-theme-municipal .nav-pills > li:not(.active) > a:focus {
    background-color: #f0e9e6;
}

.app-theme-municipal .navbar-default {
    background-color: #545050;
    border-color: #bfbcbc;
}

    .app-theme-municipal .navbar-default .navbar-brand,
    .app-theme-municipal .navbar-default .navbar-brand:hover {
        color: #ccc !important;
    }

    .app-theme-municipal .navbar-default .navbar-nav > li > a {
        color: #ccc !important;
    }

.app-theme-municipal.app-desktop .navbar-default a.navbar-brand:hover,
.app-theme-municipal .app-bootstrap .navbar-default a.navbar-brand.ui-btn-active,
.app-theme-municipal.app-desktop .navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
}

.app-theme-municipal .app-bootstrap .navbar-default .navbar-nav > .active > a,
.app-theme-municipal .app-bootstrap .navbar-default .navbar-nav > .active > a:hover,
.app-theme-municipal .app-bootstrap .navbar-default .navbar-nav > .active > a:focus,
.app-theme-municipal .app-bootstrap .navbar-default .navbar-nav > .open > a,
.app-theme-municipal .app-bootstrap .navbar-default .navbar-nav > .open > a:hover,
.app-theme-municipal .app-bootstrap .navbar-default .navbar-nav > .open > a:focus {
    color: #fff !important;
    background-color: rgba(0,0,0,.2);
}

.app-theme-municipal .well {
    background-color: #fdf3f0;
    border-color: #f4b29b;
}

@media all and (max-width:767px) {
    .app-sidebar-undocked.app-theme-municipal .navbar-nav .open .dropdown-menu {
        background-color: #fdf3f0;
    }

    .app-sidebar-undocked.app-theme-municipal.app-desktop .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .app-sidebar-undocked.app-theme-municipal .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #f0e9e6;
    }
}

.app-theme-municipal .dropdown-menu {
    background-color: #fdf3f0;
}

    .app-theme-municipal .dropdown-menu .divider {
        background-color: #f4b29b;
    }

    .app-theme-municipal.app-desktop .dropdown-menu > li > a:hover,
    .app-theme-municipal .dropdown-menu > li > a:focus {
        background-color: #f0e9e6;
    }

.app-theme-municipal .navbar-default .navbar-collapse,
.app-theme-municipal .navbar-default .navbar-form,
.app-theme-municipal .navbar-default .navbar-toggle {
    border-color: #bfbcbc;
}

.app-theme-municipal .navbar-inverse a:not(.ui-btn) {
    color: #777 !important;
}

.app-theme-municipal.app-desktop .navbar-inverse a.navbar-brand:hover,
.app-theme-municipal.app-desktop .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff !important;
}

.app-theme-municipal .navbar-inverse .navbar-nav > .active > a,
.app-theme-municipal .navbar-inverse .navbar-nav > .active > a:hover,
.app-theme-municipal .navbar-inverse .navbar-nav > .active > a:focus,
.app-theme-municipal .navbar-inverse .navbar-nav > .open > a,
.app-theme-municipal .navbar-inverse .navbar-nav > .open > a:hover,
.app-theme-municipal .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff !important;
}
