<?xml version="1.0" encoding="utf-8"?>
<!--
      Note: As an alternative to hand editing this file you can use the
      web admin tool to configure settings for your application. Use
      the Website->Asp.Net Configuration option in Visual Studio.
      A full list of settings and comments can be found in
      machine.config.comments usually located in
      \Windows\Microsoft.Net\Framework\v2.x\Config
    -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="Server=localhost;User ID=root;Password=rico3872;Database=myfighttracker;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />
    <add name="MyFightTracker" connectionString="Server=localhost;User ID=root;Password=rico3872;Database=myfighttracker;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" fileEncoding="utf-8" />
    <!--
        Set compilation debug="true" to insert debugging
        symbols into the compiled page. Because this
        affects performance, set this value to true only
        during development.
        -->
    <compilation debug="false" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        <add assembly="MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" autogenerateschema="true" type="MySql.Web.Security.MySQLMembershipProvider" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </membership>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/pages/home" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState regenerateExpiredSessionId="true" mode="Custom" customProvider="ApplicationSessionState">
      <providers>
        <add name="ApplicationSessionState" type="MyFightTracker.Services.ApplicationSessionState" />
      </providers>
    </sessionState>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" type="MyFightTracker.Services.ApplicationSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="MyFightTracker" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Data Aquarium Framework and AjaxControlToolkit references-->
        <add tagPrefix="aquarium" namespace="MyFightTracker.Web" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
      <!--Data Aquarium Framework handlers-->
      <add verb="*" path="Blob.ashx" validate="false" type="MyFightTracker.Handlers.Blob" />
      <add verb="*" path="Export.ashx" validate="false" type="MyFightTracker.Handlers.Export" />
      <add verb="*" path="Import.ashx" validate="false" type="MyFightTracker.Handlers.Import" />
      <add verb="*" path="Report.ashx" validate="false" type="MyFightTracker.Handlers.Report" />
      <add verb="*" path="ControlHost.aspx" validate="false" type="MyFightTracker.Web.ControlHost" />
      <add verb="*" path="ChartHost.aspx" validate="false" type="MyFightTracker.Web.ChartHost" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
    <httpModules>
      <remove name="FormsAuthentication" />
      <add name="ExportAuthentication" type="MyFightTracker.Security.ExportAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
    </httpModules>
    <webServices>
      <protocols>
        <remove name="Documentation" />
      </protocols>
    </webServices>
    <trust level="Full" legacyCasModel="true" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.x.  It is not necessary for previous version of IIS.
      -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="ExportAuthentication" type="MyFightTracker.Security.ExportAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
    </modules>
    <handlers>
      <add name="All_XML" verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" resourceType="Unspecified" />
      <add name="Reserved_ReportViewerWebControl_axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" resourceType="Unspecified" />
      <!--Data Aquarium Framework handlers-->
      <add name="Blob_ashx" verb="*" path="Blob.ashx" type="MyFightTracker.Handlers.Blob" resourceType="Unspecified" />
      <add name="Export_ashx" verb="*" path="Export.ashx" type="MyFightTracker.Handlers.Export" resourceType="Unspecified" />
      <add name="Import_ashx" verb="*" path="Import.ashx" type="MyFightTracker.Handlers.Import" resourceType="Unspecified" />
      <add name="Report_ashx" verb="*" path="Report.ashx" type="MyFightTracker.Handlers.Report" resourceType="Unspecified" />
      <add name="ControlHost_ashx" verb="*" path="ControlHost.aspx" type="MyFightTracker.Web.ControlHost" resourceType="Unspecified" />
      <add name="ChartHost_ashx" verb="*" path="ChartHost.aspx" type="MyFightTracker.Web.ChartHost" resourceType="Unspecified" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="524288" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>